/* CSS Document */

@charset 'UTF-8';

/*-----------------------------------------------
    Browser Reset
-----------------------------------------------*/

h1,h2,h3,h4,h5,h6,pre,address,em,strong,th,ins {
    font-size:100%;
    font-style:normal;
}

h1,h2,h3,h4,h5,h6,pre,address,ul,ol,li,dl,dt,dd,form,legend,p,sup {
    margin:0;
    padding:0;
}

sup {
	font-size:65%;
}

table {
    border-collapse:collapse;
    border:0;
}

th {
    text-align:left;
}

input,select,textarea {
    vertical-align:middle;
}

img {
	border: 0;
	color: #666666;
}

ins, a {
    text-decoration:none;
}

ul, ol, li {
    list-style:none;
}

br {
    letter-spacing: 0;
}

/*-----------------------------------------------
    Site Common
-----------------------------------------------*/

body {
	height:auto;
    margin:0;
    padding:0;
	font-family:"ＭＳ Ｐゴシック","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,verdana,arial,clean,sans-serif;
	text-align:left;
	font-size:100%;
	line-height:1.8;
	color:#141414;
	background-color:#FFF;
}

body > #wrap {
    height: auto;
}

*+html body {
	font-size: 93%;
}

html>/**/body {
	font-size: 97%; /* Except IE */
}

/* アンカータグ */

a {
	color:#141414;
	text-decoration:underline;
	overflow: hidden;
	outline: none;
}

a:link,a:visited {
}

a:hover {
	color:#990000;
}



a:hover img
	{
	opacity: 0.4;
	filter: alpha(opacity=40);
	-ms-filter: "alpha( opacity=40)";
	background: #fff;
	}



/*-------------------------------------------------------------*/
/* 便利class */
/*-------------------------------------------------------------*/

.size9{
font-size:9px;
vertical-align:text-top;
}
.s_clear{
clear:both;
font-size:xx-small;
line-height:1em;
}	
.clear{
	clear: both;
	width: 0;
	height: 0;
	line-height: 25px;
	font-size: 0;
}
.valine-m{
vertical-align:middle;
}	
.left{
float:left;
}
.right{
float:right;
}
.center{
text-align:center;
}
.no_border{
border:none;
}	
.nb_left{
border:none;
float:left;
}
.nb_right{
border:none;
float:right;
}
.text01{
background-color:#F3F3F3;
}
.tbl2{
font-size:12px;
margin-bottom:15px;
margin-left:15px;
}
.tbl2 a{
text-decoration:none;
}#container #contents #main h3 {
	font-size: 18px;
	/*text-align: center;*/
	margin-top: 15px;
}
#container #contents #main .top_message p a {
	color: #990000;
}


/* ---------------------------------------------
	clear
--------------------------------------------- */
.clear {clear:both;}
.clearfix { display: inline-table; zoom:1; overflow:hidden;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* Hides from IE-mac ＼*/
* html .clearfix { height: 1%; overflow:visible;}
.clearfix { display: block; }
/* End hide from IE-mac */

.yoyaku_attention {
    float: left !important;
    text-align: left !important;
    margin: 10px 0 4px 0 !important;
    font-weight: bold !important;
    color:#990000 !important;
}
