@charset 'UTF-8';

@import "common.css";

/*       コンテナー       */

#container{
width:760px;
margin: 0 auto;
}

/*          　　　　          */
/*          header            */
/*          　　　　          */


div#header{
	border-bottom:#9A0103 3px solid;
	margin-bottom:10px;
}
div#header_top{
	margin:15px 0 20px;
}
#site_logo{
	float:left;
	width:170px;
}
#head-middle {
	float:left;
	width:385px;
	margin-left:9px;
}
#head-right {
	float:right;
	width:180px;
}
#head-right li{
	list-style:none;
	float:left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#head-middle h1 {
font-size:12px;
line-height:1.2em;
margin:0;
color:#444444;
}
#head-middle img {
	display:block;
	margin:10px 0;
}

div#logo2{
width:290px;
background:url(../img/header_back2.gif) 0 0 no-repeat;
height:104px;
float:left;
}
div#logo2 h1{
font-size:12px;
line-height:1.2em;
margin:20px 20px 0 130px;
color:#444444;
}
div#header_right1{
width:200px;
margin-left:10px;
float:right;
}
div#header_right1 li{
list-style:none;
float:left;
text-indent:-9999px;
font-size:xx-small;
}
#header_right01 a{
display:block;
width:99px;
height:27px;
background:url(../img/new_sitemap_menu.gif) 0 0 no-repeat;
}
#header_right01 a:hover{background-position:0 -27px;}
#header_right02 a{
display:block;
width:78px;
height:27px;
background:url(../img/new_sitemap_menu.gif) -99px 0 no-repeat;
}
#header_right02 a:hover{background-position:-99px -27px;}


#search-kensaku{
font-size:12px;
text-align:right;
margin-top:20px;
}

#search-kensaku form{text-align:right;}
#search-kensaku input{vertical-align:middle;}
#top_menu{
	margin-bottom:5px;
}
#top_menu li{
	float:left;
	height:30px;
}
li#top_menu01 {width:104px;}
li#top_menu02 {width:200px;}
li#top_menu03 {width:180px;}
li#top_menu04 {width:140px;}
li#top_menu05 {width:136px;}

#top_menu li a{
	display:block;
	height:30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#top_menu li#top_menu01 a{
	background:url(../img/headnv01.gif) 0 0 no-repeat;
}
#top_menu li#top_menu01 a:hover{
	background:url(../img/headnv01_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu02 a{
	background:url(../img/headnv02.gif) 0 0 no-repeat;
}
#top_menu li#top_menu02 a:hover{
	background:url(../img/headnv02_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu03 a{
	background:url(../img/headnv03.gif) 0 0 no-repeat;
}
#top_menu li#top_menu03 a:hover{
	background:url(../img/headnv03_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu04 a{
	background:url(../img/headnv04.gif) 0 0 no-repeat;
}
#top_menu li#top_menu04 a:hover{
	background:url(../img/headnv04_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu05 a{
	background:url(../img/headnv05.gif) 0 0 no-repeat;
}
#top_menu li#top_menu05 a:hover{
	background:url(../img/headnv05_over.gif) 0 0 no-repeat;
}


/*          　　　　          */
/*            left            */
/*          　　　　          */

#left{
margin:0 0 40px;
width:208px;
font-size:12px;
line-height:1.3em;
color:#333333;
float:left;
text-align:left;
}
#left p {
	margin-bottom:20px;
	text-align:left;
}

#side-news {
	width:148px;
	border:#9A0002 1px solid;
	padding:10px;
	margin-bottom:20px;
}
#side-news ul {
	margin-top:10px;
}
#side-news a {
	text-decoration:none;
	color:#9A0002;
}

.left_listmenu{
margin:5px 0 10px 0px;
padding-left:13px;
}
.left_listmenu li{
margin:4px 0;
letter-spacing:normal;
background:url(../img/yajirusi.gif) left center no-repeat;
}
.left_listmenu a{
padding:0 0 0 14px;
}



/*       カウンター       */

dl.tbl{
width:175px;
height:auto;
font-size:10px;
margin:0 0 0 10px;
line-height:1;
}
dl.tbl dt{
width:40%;
height:15px;
float:left;
}
dl.tbl dd{
width:60%;
height:15px;
text-align:right;
float:right;
}
div.visit{
	width: 190px;
	height: 109px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	background-image: url(http://www.coco-web.com/now_visitor/visitor.gif);
}
div.visit img{
/*margin-left:7px;
margin-top:40px;*/
}

div.visit2{
width:208px;
height:70px;
background:url("http://www.coco-web.com/now_visitor2/visitor_bg.gif") no-repeat left top;
padding:39px 0 0 0;
margin:10px 0 0 0px;
}
div.visit2 img{
margin:0px;
}


/*          　　　　          */
/*          フッター          */
/*          　　　　          */
div#footer{
width:760px;
height:auto;
background:url(../img/footer_back.gif) 0 0 no-repeat;
font-size:11px;
padding-bottom:10px;
text-align:center;
margin-top:10px;
}
div#footer p{
font-size:85%;
color:#666666;
line-height:1.4em;
margin-top:10px;
}
div#footer p a{
text-decoration:none;
color:#888888;
}
div#footer li{
float:left;
}
div#footer li a{
display:block;
text-decoration:none;
font-style:normal;
color:#FFFFFF;
}
div#footer em a:hover{text-decoration:underline;}
#footer_menu1 a,#footer_menu3 a{width:88px;}
#footer_menu2 a{width:135px;}	
#footer_menu4 a{width:135px;}	
#footer_menu5 a{width:105px;}
#footer_menu6 a{width:75px;}
#footer_menu7 a{width:110px;}		


/*          　　　　          */
/*           メイン           */
/*          　　　　          */


#contents{
width:760px;
clear:both;
}


#main{
	width: 538px;
	margin-top: px;
	padding-right: 3px;
	color: #6F6F6F;
	font-size: small;
	line-height: 1.3em;
	margin-bottom: 10px;
	float: right;
}

#main h2{
margin:10px 0 0 10px;
font-weight:normal;
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
}

#main p{
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
padding-left:10px;
}



