@charset "utf-8";
/* CSS Document */

body {
	width: 1100px;










	background-image:../img/fair/base.gif;
	margin-left: auto;
	margin-right: auto;
	background-repeat: repeat-y;
	background-position: center 0%;
	background-image: url(../img/fair/base.gif);
	padding: 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	text-align: center;
}

a{
	font-size:16px;
	color: #666666;
	outline: none;
	text-decoration: underline;
}
a:hover {
	color:#528bce;
}

#header {
	padding: 0px;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}
#header h1 {
	font-size: 10px;
	color: #666;
	line-height: normal;
}
#top-image {
	margin: 0px;
	padding: 0px;
	height: 590px;
	width: 760px;
}
#top-image img {
	float: left;
	margin: 0px;
	padding: 0px;
}
#main {
	width: 760px;
	height: auto;
	text-align: center;
	float: left;
	clear: both;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
#main p {
	margin-top:7px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 7px;
	font-size: 12px;
	text-align: left;
}
#wrapper {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#showroom {
	margin:0px;
	padding:0px;

}

#showroom ul {
	list-style-image: none;
	list-style-type: none;
	float: left;
	clear: both;
}
#showroom ul li {
	width: 190px;
	float: left;
	margin-right: 20px;
	margin-left: 23px;
	margin-bottom: 20px;
}
#showroom ul li p {
	width: 175px;
	margin-left: 8px;
	height: 90px;
}
#wrapper #main #showroom ul li img {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}
#wrapper #mailform {
	width: 760px;
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	font-size: 14px;
}
#wrapper #form-box p {
	color: #990000;
	text-indent: 14px;
}
#wrapper #main h3 {
	font-size: 14px;
}
#wrapper #fotter {
	width: 760px;
	height: 230px;
	background-color: #990000;
	clear: both;
	margin-bottom: 30px;
}
#wrapper #fotter img {
	margin-top: 20px;
	float: left;
	margin-left: 30px;
}
#wrapper #fotter dl {
	width: 650px;
	color: #FFFFFF;
	text-align: left;
	margin-top: 10px;
	line-height: 25px;
	float: left;
	margin-left: 30px;
	font-size: 13px;
}
#wrapper #fotter dl dt {
	float: left;
}
