/* CSS Document */

@charset 'UTF-8';

@import "common.css";

@import "layout_left.css";
@import "layout_foot.css";
@import "layout_main.css";


/*     お申し込み     */

div#omoushikomi,
div#thanks{
width:100%;
height:200px;
background-image:url(../img/omoushikomi_titleback.jpg);
background-repeat:no-repeat;
background-position:355px 0;
}
div#omoushikomi img,
div#thanks img{
margin:0 0 0 -10px;
position:relative;
}
div#omoushikomi p,
div#thanks p{
padding-right:188px;
line-height:1.6;

}
div#omoushikomi1{
margin-bottom:2px;
}
div#omoushikomi1 h3{
font-size:19px;
margin:25px 0 10px 0;
}
div#omoushikomi1 h4{
font-size:17px;
margin:25px 0 10px 0;
}
div#omoushikomi2{
width:500px;
margin:5px 0 0 10px;
padding-right:10px;
padding-top:5px;
border: 3px solid #990000;
}
div#omoushikomi2 dl{
margin:0 20px 0 20px;
color:#333333;
}
div#omoushikomi2 dt{
font-size:19px;
font-weight:bold;
margin-bottom:15px;
margin-top:15px;
color:#000000;
}
div#omoushikomi2 dd{
font-size:14px;
margin:6px 0 20px 20px;
}
.omoushikomi_line{
padding-top:10px;
border-top:1px solid #CCCCCC;
}
.f_chousei{
font-size:12px;
color:#990000;
}
.f_chousei2{
font-size:16px;
color:#990000;
font-weight:bold;
}
#interior2{
margin:28px 0 30px 5px;
font-size:18px;
border-bottom:1px dotted #333333;
padding-bottom:7px;
color:#333333;
}
p.cyousei-up {
margin-top:20px;
font-size:85%;
width:520px;
}
p.alignC {
text-align:center;
margin:30px 0 0 0;
}

div.bnr a {
display:block;
text-indent:-9999em;
}
#blog a{
width:190px;
height:190px;
margin:20px 0 0 0;
background:url(../img/blog-logo.jpg) 0 0 no-repeat;
padding-bottom:0;
}

#blog a:hover{
background-position:0 -190px;
}

#qrcode{
margin:20px 0 20px 0;
width:190px;
}
#qrcode p{
text-align:center;
font-size:10px;
line-height:1.2;
}
#qrcode img{
margin:0;
}	
#banner1 a{
width:190px;
height:190px;
background:url(../img/banner1.jpg) 0 0 no-repeat;
margin:15px 0 0 0;
}
#banner1 a:hover{background-position:0 -190px;}	


/*       カウンター       */

dl.tbl{
width:175px;
height:auto;
font-size:10px;
margin:0 0 0 10px;
line-height:1;
}
dl.tbl dt{
width:40%;
height:15px;
float:left;
}
dl.tbl dd{
width:60%;
height:15px;
text-align:right;
float:right;
}

div.visit{
width:172px;
height:70px;
background:url("/now_visitor/visitor.gif") no-repeat left top;
padding:39px 0 0 18px;
margin:10px 0 0 2px;
}
div.visit img{
margin-left:1px;
}

div.title-changeability{
width:510px;
height:auto;
padding:15px 0 0 0;
background:url(../img/showtitle_top.gif) 0 top no-repeat;
}

div.title-changeability p#Tbig{
width:510px;
height:auto;
padding:8px 0 16px 0;
margin-bottom:8px;
font-size:17px;
line-height:1.2;
color:#666666;
text-align:center;
font-weight:800;
background:url(../img/showtitle_bottom.gif) 0 bottom no-repeat;
}

#sidebookmark{
margin:10px 0 20px 0;
width:190px;
}
#sidebookmark p{
text-align:center;
}

.hurry_bnr img{
 margin-left: 10px !important;
 margin-bottom: 10px;
}

.hurry_bnr a:hover{
		filter: alpha(opacity=70); 
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
