@charset "utf-8";
/* CSS Document */



/*          　　　　          */
/*            left            */
/*          　　　　          */

#left{
float:left;
margin:0;
width:208px;
font-size:12px;
line-height:1.3em;
color:#333333;
}

/*            leftNavi            */

#left0{
background-image:url(../img/left_back.gif);
background-repeat:repeat-y;
background-position:1px 0;
margin:0;
padding:2px 0 0 0;
}
#left0 p{
margin-left:11px;
margin-top:3px;
margin-bottom:9px;
line-height:1.3em;
width:170px;
}
#left0 p.mgn0{
margin-bottom:0;
}
#left0 img{
margin-left:20px;
}
#left1{
text-align:center;
line-height:1.2em;
margin:5px 0 0 10px;
background:url(../img/ad-title.gif) 0 0 no-repeat;
display:block;
width:176px;
height:67px;
text-indent:-10000px;
}
#left2 a{
width:173px;
height:67px;
background:url(../img/left_bar_button.gif) 0 0 no-repeat;
text-indent:-9999em;
display:block;
margin-left:10px;
margin-top:-15px;
}
#left2 a:hover{
background-position:0 -67px;
}
.left_listmenu{
margin:5px 0 10px 0px;
padding-left:13px;
}
.left_listmenu li{
margin:4px 0;
letter-spacing:normal;
background:url(../img/yajirusi.gif) left center no-repeat;
}
.left_listmenu a{
padding:0 0 0 14px;
}

div.leftNavi a{
width:208px;
height:55px;
display:block;
background:0 0 no-repeat;
text-indent:-9999em;
}

div.leftNavi a:hover{background-position:0 -55px;}

#clip0 a{background-image:url(../img/clip0.gif);}
#clip1 a{background-image:url(../img/clip1_1.gif);}
#clip2 a{background-image:url(../img/clip2.gif);}
#clip3 a{background-image:url(../img/clip3.gif);}
#clip4 a{background-image:url(../img/clip4.gif);}
#clip5 a{background-image:url(../img/clip5.gif);}
#clip6 a{background-image:url(../img/clip6.gif);}
#clip7 a{background-image:url(../img/clip7.gif);}
#clip8 a{background-image:url(../img/clip8.gif);}
#clip9 a{background-image:url(../img/clip9.gif);}
#clip10 a{background-image:url(../img/clip10.gif);}
#clip11 a{background-image:url(../img/clip11.gif);}
#clip12 a{background-image:url(../img/clip12.gif);}
#clip15 a{background-image:url(../img/clip15.gif);}

#tiiki{
width:160px;
padding:4px;
margin:10px 0 15px 7px;
line-height:1.4em;
color:#990000;
}
#tiiki a{
color:#333333;
}
#left_bottom{
background-image:url(../img/left_bottom.gif);
height:15px;
margin:0px 0 10px 0;
padding:0;
background-repeat:no-repeat;
background-position:1px 0;
}

li.t{
color:#990000;
font-size:12px;
margin:0px;
}
li.d{
color:#333333;
font-size:12px;
float: left;
}
div.bnr a {
display:block;
text-indent:-9999em;
}
#blog a{
width:171px;
height:132px;
margin:20px 0 0 0;
background:url(../img/blog-logo.gif) 0 0 no-repeat;
padding-bottom:3px;
}
#blog a:hover{background-position:0 -132px;}
#qrcode{
	margin-top: 20px;
	margin-right: 0;
	margin-left: px;
	margin-bottom: 0;
	width: 150px;
}
#qrcode p{
text-align:center;
font-size:10px;
line-height:1.2;
}
#qrcode img{
	margin-top: 0;
	margin-right: 0;
	margin-left: px;
	margin-bottom: 0;
}
#banner0 a{
width:120px;
height:120px;
margin:15px 0 0 35px;
background:url(../img/eco_banner.gif) 0 0 no-repeat;
}
#banner0 a:hover{background-position:0 -120px;}	
#banner1 a{
width:150px;
height:144px;
background:url(../img/banner1.jpg) 0 0 no-repeat;
margin:15px 0 0 21px;
}
#banner1 a:hover{background-position:0 -144px;}	
#banner7 a{
width:150px;
height:144px;
background:url(../img/banner2.jpg) 0 0 no-repeat;
margin:15px 0 0 21px;
}
#banner7 a:hover{background-position:0 -144px;}	
#banner2 a{
width:153px;
height:37px;
background:url(../img/tempokagu.gif) 0 0 no-repeat;
margin:15px 0 0 23px;
}
#banner2 a:hover{background-position:0 -37px;}	
#banner3 a{
width:154px;
height:86px;
background:url(../img/member-104.gif) 0 0 no-repeat;
margin:15px 0 0 22px;
}
#banner3 a:hover{background-position:0 -86px;}
#banner3 p{
text-align:center;
margin-top:5px;
font-size:9px;
}
#banner6 a{
width:160px;
height:40px;
background:url(../img/curtainshop.gif) 0 0 no-repeat;
margin:15px 0 10px 18px;
}
#banner6 a:hover{background-position:0 -40px;}
