@charset "utf-8";
/* CSS Document */


/*       コンテナー       */

#container{
width:760px;
margin: 0 auto;
}

/*     メイン     */

#main{
width:540px;
float:right;
margin-top:16px;
padding-right:3px;
color:#6F6F6F;
font-size:small;
line-height:1.3em;
margin-bottom:10px;
}

#main h2{
margin:0 0 0 10px;
font-weight:normal;
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
}

#main p{
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
padding-left:10px;
}

/*       パンくず       */

#breadcrumbs{
font-size:12px;
}
#breadcrumbs a{
color:#990000;
text-decoration:none;
}
#breadcrumbs a:hover{
color:#666666;
}

/*    ページ上へ    */

div#page_up{
text-align:left;
font-size:12px;
margin-top:25px;
padding-left:440px;
background:url(../img/sankaku2.gif) 510px 0 no-repeat;
}
div#page_up a{
color:#333333;
text-decoration:none;
display:block;
}
div#page_up a:hover{
color:#990000;
text-decoration:underline;
}
