@charset "utf-8";
/* CSS Document */

/*          　　　　          */
/*          フッター          */
/*          　　　　          */
div#footer{
width:760px;
height:auto;
background:url(../img/footer_back.gif) 0 0 no-repeat;
font-size:11px;
padding-bottom:10px;
text-align:center;
margin-top:10px;
}
div#footer p{
font-size:85%;
color:#666666;
line-height:1.4em;
margin-top:10px;
}
div#footer p a{
text-decoration:none;
color:#888888;
}
div#footer li{
float:left;
}
div#footer li a{
display:block;
text-decoration:none;
font-style:normal;
color:#FFFFFF;
}
div#footer em a:hover{text-decoration:underline;}
#footer_menu1 a,#footer_menu3 a{width:88px;}
#footer_menu2 a{width:135px;}	
#footer_menu4 a{width:135px;}	
#footer_menu5 a{width:105px;}
#footer_menu6 a{width:75px;}
#footer_menu7 a{width:110px;}