@charset "utf-8";
/* CSS Document */

/*       ヘッダー       */

div#header{
height:132px;
background-image:url(../img/header_back.gif);
padding:0;
margin:0;
}

/*       ヘッダー上段       */

div#header_top{
height:104px;
}
#site_logo{
border:none;
float:left;
margin:0;
padding:0;
}
div#logo2{
width:290px;
background:url(../img/header_back2.gif) 0 0 no-repeat;
height:104px;
float:left;
}
div#logo2 h1{
font-size:12px;
line-height:1.4em;
margin:20px 20px 0 130px;
color:#444444;
}
div#header_right1{
width:200px;
margin-left:10px;
float:right;
}
div#header_right1 li{
list-style:none;
float:left;
text-indent:-9999px;
font-size:xx-small;
}
#header_right01 a{
display:block;
width:99px;
height:27px;
background:url(../img/sitemap_menu.gif) 0 0 no-repeat;
}
#header_right01 a:hover{background-position:0 -27px;}
#header_right02 a{
display:block;
width:78px;
height:27px;
background:url(../img/sitemap_menu.gif) -99px 0 no-repeat;
}
#header_right02 a:hover{background-position:-99px -27px;}

#search-kensaku{
float:left;
font-size:12px;
width:266px;
text-align:right;
vertical-align:top;
margin-top:20px;
}
#search-kensaku form{text-align:right;}
#search-kensaku input{vertical-align:middle;}

/*       ヘッダー下段       */

#top_menu{
margin:0;
padding:6px 0 0 190px;
clear:both;
background:url(../img/top_menu_back.gif) 0 0 no-repeat;
height:28px;
font-size:12px;
letter-spacing:0.1em;
line-height:1.3em;
}
#top_menu li{float:left;}
#top_menu a{
display:block;
text-align:center;
color:#323232;
text-decoration:none;
}
#top_menu a:hover{color:#000000;}
#top_menu01 a{width:83px;}
#top_menu02 a{width:137px;}
#top_menu03 a{width:125px;}
#top_menu04 a{width:95px;}
#top_menu05 a{width:115px;}
