@charset "utf-8";
#container #main h2#logo {
	width: 158px;
	height: 96px;
	margin-left: auto;
	margin-right: auto;

}
#container #main .image-box {
	width: 540px;
	padding-left: 30px;
}
#container #main .image-box img {
	margin-bottom: 14px;
	margin-right: 14px;
}

div#container div#main div.mContents{
	margin-top: 15px;
	float: left;
	width: 510px;
	margin-left: 15px;
	margin-bottom: 20px;

}

div#container div#main div div.profile{
	margin-bottom: 15px;

}

div#container div#main div div.profile h3{
	width: 100%;
	height: auto;
	font-size: 120%;
	display: block;
	margin-bottom: 0px;
	margin-left: 20px;
}

div#container div#main div ul li#urlCompany{
	width: 265px;
	height: auto;
	padding: 0 0 0 15px;
	background: url(../img/outlink_icon.gif) 0 3px no-repeat;
	display: block;
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
}
div#container div#main div ul li#urlCompany a{color:#888;;text-decoration:none;
}
div#container div#main div ul li#urlCompany a:hover{color:#333;text-decoration:none;
}

#container #main #maker15 #mImage h4 {
	padding-left: px;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;

}
#container #main #maker15 #mImage p {
	margin-left: 10px;
	margin-right: 15px;
	line-height: 20px;
	float: left;
	margin-bottom: 10px;
}

div#container div#main div.profile dl#addressCompany{
	width: 400px;
	height: px;
	padding-right: px;
	padding-left: 30px;
	border: #CCCCCC thin dashed;
	margin-left: 20px;
	padding-top: 8px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 5px;
	float: left;
}
div#container div#main div.profile dl#addressCompany dd{
	margin: 5px 0 0 0;
	line-height: 1.4;
	font-size: 11px;
	font-weight: bold;
	color: #777777;
}
#container #main #maker15 #mImage #addressCompany dt {
	font-weight: bold;
	color: #777777;
	font-size: 13px;
}
#container #main #maker15 #mImage #addressCompany dd a {
	color: #777777;
	font-size: 12px;
	font-weight: normal;
	float: right;
	clear: both;
	margin-right: 20px;
	margin-bottom: 10px;
}


#container #main .catalog #catalogList li {
	width: 220px;
	list-style-image: none;
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
	clear: none;
	float: left;
	height: auto;
	margin-bottom: 25px;
}
#container #main .catalog #catalogList li dl dd {
	margin-top: 10px;
	font-size: 12px;
	color: #666666;
}

#container #main .catalog #catalogList li dl dd p {
	width: 200px;
	color: #3f3f3f;
	font-size: 12px;
	margin-top: 10px;
}


div#container div#main div table {
width:500px;
height:auto;
margin:0 0 0 20px;
}
div#container div#main div table tr{
width:100%;
height:35px;
font-size:90%;
}
div#container div#main div table tr.colerbase{background:#eeeeee;}
div#container div#main div table tr td.name{
padding:0 0 0 10px;
width:200px;
}
div#container div#main div table tr td.address{
	padding: 5px 10px;
	font-size: 90%;
	line-height: 1.4;
}




/* moushikomi */
div#container div#main div.mContents div#web_tel{
width:492px;
height:130px;
background-image:url(../img/web_tel_back.jpg);
background-position:405px 3px;
background-repeat:no-repeat;
border-top:1px dotted #333333;
margin:5px 0 0 0;
padding:3px 0 15px 28px;
}

div#container div#main div.mContents div#fax_toiawase{
border-top:1px dotted #333333;
padding:8px 15px 40px 15px;
width:490px;
}

div#container div#main div.mContents div#fax_toiawase p{
width:490px;
}
	
	
	
	
	
	
	
	
	
	div#container div#main div.mContents div#s_moushikomi{
width:506px;
height:170px;
padding-top:29px;
background-image:url(../img/showroom_moushikomi_back.gif);
background-repeat:no-repeat;
margin-bottom:0;
margin-left:8px;
border-bottom:1px dotted #333333;
}

div#container div#main div.mContents div#s_moushikomi a{
width:259px;
height:50px;
background-image:url(../img/flow_button.gif);
display:block;
text-indent:-9999em;
margin:0 0 8px 115px;
}

div#container div#main div.mContents div#s_moushikomi a:hover{
background-position:0 -50px;
}

div#container div#main div.mContents div#s_moushikomi p{
width:486px;
margin-left:20px;
color:#3f3f3f
}

	
	

	


#container #main .catalog #catalogList {
	width: 500px;
	margin-left: 25px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}



#container #main .catalog #catalogList li dl dd a:hover img {
 filter:alpha(opacity=50); 
  -moz-opacity: 0.5; 
opacity: 0.5; 
}

div#container div#main ul#pageNavi {
width:100%;
height:auto;
font-size:12px;
margin-top:25px;
}

div#container div#main ul#pageNavi li{
width:auto;
height:20px;
line-height:1.6;
}

div#container div#main ul#pageNavi li a{
color:#333333;
text-decoration:none;
display:block;
}

div#container div#main ul#pageNavi li a:hover{
color:#990000;
text-decoration:underline;
}

div#container div#main ul#pageNavi li#pageNavi01{float:left;padding:0 0 0 35px;background:url(../img/sankaku3.gif) 10px 0 no-repeat;
}
div#container div#main ul#pageNavi li#pageNavi02{float: right;padding:0 10px 0 25px;background:url(../img/sankaku2.gif) 0 0 no-repeat;
}



#container #main .catalog #mail_contact{
	width: 520px;
	margin-bottom: 20px;
}

#container #main .catalog #mail_contact a{
width:404px;
height:28px;
display:block;
text-indent:-9999em;
background-image:url(../img/mail_contact.gif);
background-repeat:no-repeat;
margin-top:5px;
margin-left:15px;
}

#container #main .catalog #mail_contact a:hover{
background-position:0 -28px;
}



div#container div#main div h4.longTitle{
width:100%;
height:26px;
margin:30px 0 25px 0;
text-indent:-9999px;
}
div#container div#main div h4#showroom{background:url(../img/title_showroom.gif) 10px 0 no-repeat;
}


div#container div#main #s_moushikomi{
width:506px;
height:170px;
padding-top:29px;
background-image:url(../img/showroom_moushikomi_back.gif);
background-repeat:no-repeat;
margin-bottom:0;
margin-left:8px;
border-bottom:1px dotted #333333;
}

div#container div#main #s_moushikomi a{
width:259px;
height:50px;
background-image:url(../img/flow_button.gif);
display:block;
text-indent:-9999em;
margin:0 0 8px 115px;
}

div#container div#main #s_moushikomi a:hover{
background-position:0 -50px;
}

div#container div#main div#s_moushikomi p{
width:486px;
margin-left:20px;
color:#3f3f3f
}


#container #main #sr-box li {
	width: 170px;
	float: left;
	height: 300px;
}
#container #main #sr-box {
	width: 530px;
	height: 200px;
	margin-left: 10px;
}
#container #main #sr-box li p {
	margin-left: 15px;
#container #main #movie iframe {
}




div#kikaku-banner4 a{
	width:532px;
	height:222px;
	background-image:url(../img/eco-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner4 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner5 a{
	width:532px;
	height:222px;
	background-image:url(../img/premium-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner5 a:hover{
	background-position:0 -222px;
	}


div#kikaku-banner6 a{
	width:532px;
	height:222px;
	background-image:url(../img/tokyobridal-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner6 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner7 a{
	width:532px;
	height:222px;
	background-image:url(../img/sawing-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner7 a:hover{
	background-position:0 -222px;
	}

