#faqList li { list-style: none; }
#faqList .question {
  padding-left: 18px;
  background: transparent url('plus.png') left center no-repeat; 
}
#faqList li.simpleFAQShowing .question {
  background: transparent url('minus.png') left center no-repeat;
}
#faqList .simpleFAQHover { color: #060; }
#faqList .answer {
  margin-left: 1em;
  border: 1px solid #66c;
  padding: 0.4em;
}
.tags { font-size: 0.7em; color: #999; }