/* CSS Document */

@charset 'UTF-8';

@import "common.css";

/*       スタッフより一言       */

#word{
width:180px;
height:35px;
margin:20px 0 0 7px;
text-align:center;
background-color:#000;
}
#feed{
width:180px;
height:400px;
margin:0 0 0 7px;
font-size:11px;
color:#FFFFFF; 
background:#000000;
overflow:auto;
}

#feed li{
margin:5px;
padding-top:6px;
padding-bottom:6px;
border-bottom:#666666 1px dotted;
text-align:justify;
}
#feed li span{
font-weight:bold;
}

/*       カウンター       */

.tbl{
font-size:10px;
margin:0 0 10px 10px;
line-height:1;
}
.tbl tr{
height:15px;
vertical-align:middle;
}
.text{width:60%;}
.text2{width:20%;text-align:right;}

/*       コンテナー       */

#container{
width:760px;
margin:0 auto;
}

/*       ヘッダー       */

div#header{
height:132px;
background-image:url(../img/header_back.gif);
padding:0;
margin:0;
}
div#header_top{
height:104px;
}
#site_logo{
border:none;
float:left;
margin:0;
padding:0;
}
div#logo2{
width:290px;
background:url(../img/header_back2.gif) 0 0 no-repeat;
height:104px;
float:left;
}
div#logo2 h1{
font-size:12px;
line-height:1.4em;
margin:20px 20px 0 130px;
color:#444444;
}
div#header_right1{
width:200px;
margin-left:10px;
float:right;
}
div#header_right1 li{
list-style:none;
float:left;
text-indent:-9999px;
font-size:xx-small;
}
#header_right01 a{
display:block;
width:99px;
height:27px;
background:url(../img/sitemap_menu.gif) 0 0 no-repeat;
}
#header_right01 a:hover{background-position:0 -27px;}
#header_right02 a{
display:block;
width:78px;
height:27px;
background:url(../img/sitemap_menu.gif) -99px 0 no-repeat;
}
#header_right02 a:hover{background-position:-99px -27px;}
#search-kensaku{
float:left;
font-size:12px;
width:266px;
text-align:right;
vertical-align:top;
margin-top:20px;
}
#search-kensaku form{text-align:right;}
#search-kensaku input{vertical-align:middle;}
#top_menu{
margin:0;
padding:6px 0 0 190px;
clear:both;
background:url(../img/top_menu_back.gif) 0 0 no-repeat;
height:28px;
font-size:12px;
letter-spacing:0.1em;
line-height:1.3em;
}
#top_menu li{float:left;}
#top_menu a{
display:block;
text-align:center;
color:#323232;
text-decoration:none;
}
#top_menu a:hover{color:#000000;}
#top_menu01 a{width:83px;}
#top_menu02 a{width:137px;}
#top_menu03 a{width:125px;}
#top_menu04 a{width:95px;}
#top_menu05 a{width:115px;}

/*       パンくず       */

#pan{
font-size:12px;
}
#pan a{
color:#990000;
text-decoration:none;
}
#pan a:hover{
color:#666666;
}

/*          　　　　          */
/*            left            */
/*          　　　　          */

#left{
float:left;
margin:0;
width:208px;
font-size:12px;
line-height:1.3em;
color:#333333;
}
#left0{
background-image:url(../img/left_back.gif);
background-repeat:repeat-y;
background-position:1px 0;
margin:0;
padding:2px 0 0 0;
}
#left0 p{
margin-left:11px;
margin-top:3px;
margin-bottom:9px;
line-height:1.3em;
width:170px;
}
#left0 p.mgn0{
margin-bottom:0;
}
#left0 img{
margin-left:20px;
}
#left1{
text-align:center;
line-height:1.2em;
margin:5px 0 0 10px;
background:url(../img/ad-title.gif) 0 0 no-repeat;
display:block;
width:176px;
height:67px;
text-indent:-10000px;
}
#left2 a{
width:173px;
height:67px;
background:url(../img/left_bar_button.gif) 0 0 no-repeat;
text-indent:-9999em;
display:block;
margin-left:10px;
margin-top:-15px;
}
#left2 a:hover{
background-position:0 -67px;
}
.left_listmenu{
margin:5px 0 10px 0px;
padding-left:13px;
}
.left_listmenu li{
margin:4px 0;
letter-spacing:normal;
background:url(../img/yajirusi.gif) left center no-repeat;
}
.left_listmenu a{
padding:0 0 0 14px;
}

div.leftNavi a{
width:208px;
height:55px;
display:block;
background:0 0 no-repeat;
text-indent:-9999em;
}

div.leftNavi a:hover{background-position:0 -55px;}

#clip0 a{background-image:url(../img/clip0.gif);}
#clip1 a{background-image:url(../img/clip1_1.gif);}
#clip2 a{background-image:url(../img/clip2.gif);}
#clip3 a{background-image:url(../img/clip3.gif);}
#clip4 a{background-image:url(../img/clip4.gif);}
#clip5 a{background-image:url(../img/clip5.gif);}
#clip6 a{background-image:url(../img/clip6.gif);}
#clip7 a{background-image:url(../img/clip7.gif);}
#clip8 a{background-image:url(../img/clip8.gif);}
#clip9 a{background-image:url(../img/clip9.gif);}
#clip10 a{background-image:url(../img/clip10.gif);}
#clip11 a{background-image:url(../img/clip11.gif);}
#clip12 a{background-image:url(../img/clip12.gif);}

#tiiki{
width:160px;
padding:4px;
margin:10px 0 15px 7px;
line-height:1.4em;
color:#990000;
}
#tiiki a{
color:#333333;
}
#left_bottom{
background-image:url(../img/left_bottom.gif);
height:15px;
margin:0px 0 10px 0;
padding:0;
background-repeat:no-repeat;
background-position:1px 0;
}

li.t{
color:#990000;
font-size:12px;
margin:0px;
}
li.d{
color:#333333;
font-size:12px;
float: left;
}
div.bnr a {
display:block;
text-indent:-9999em;
}
#blog a{
width:171px;
height:132px;
margin:20px 0 0 0;
background:url(../img/blog-logo.gif) 0 0 no-repeat;
padding-bottom:3px;
}
#blog a:hover{background-position:0 -132px;}

#banner0 a{
width:120px;
height:120px;
margin:15px 0 0 35px;
background:url(../img/eco_banner.gif) 0 0 no-repeat;
}
#banner0 a:hover{background-position:0 -120px;}	
#banner1 a{
width:150px;
height:144px;
background:url(../img/banner1.jpg) 0 0 no-repeat;
margin:15px 0 0 21px;
}
#banner1 a:hover{background-position:0 -144px;}	
#banner7 a{
width:150px;
height:144px;
background:url(../img/banner2.jpg) 0 0 no-repeat;
margin:15px 0 0 21px;
}
#banner7 a:hover{background-position:0 -144px;}	
#banner2 a{
width:153px;
height:37px;
background:url(../img/tempokagu.gif) 0 0 no-repeat;
margin:15px 0 0 23px;
}
#banner2 a:hover{background-position:0 -37px;}	
#banner3 a{
width:154px;
height:86px;
background:url(../img/member-104.gif) 0 0 no-repeat;
margin:15px 0 0 22px;
}
#banner3 a:hover{background-position:0 -86px;}
#banner3 p{
text-align:center;
margin-top:5px;
font-size:9px;
}
#banner6 a{
width:160px;
height:40px;
background:url(../img/curtainshop.gif) 0 0 no-repeat;
margin:15px 0 10px 18px;
}
#banner6 a:hover{background-position:0 -40px;}

/*          　　　　          */
/*          フッター          */
/*          　　　　          */
div#footer{
width:760px;
height:auto;
background:url(../img/footer_back.gif) 0 0 no-repeat;
font-size:11px;
padding-bottom:10px;
text-align:center;
margin-top:10px;
}
div#footer p{
font-size:85%;
color:#666666;
line-height:1.4em;
margin-top:10px;
}
div#footer p a{
text-decoration:none;
color:#888888;
}
div#footer li{
float:left;
}
div#footer li a{
display:block;
text-decoration:none;
font-style:normal;
color:#FFFFFF;
}
div#footer em a:hover{text-decoration:underline;}
#footer_menu1 a,#footer_menu3 a{width:88px;}
#footer_menu2 a{width:135px;}	
#footer_menu4 a{width:135px;}	
#footer_menu5 a{width:105px;}
#footer_menu6 a{width:75px;}
#footer_menu7 a{width:110px;}		

/*          　　　　          */
/*           メイン           */
/*          　　　　          */

#main{
width:540px;
float:right;
margin-top:16px;
padding-right:3px;
color:#6F6F6F;
font-size:small;
line-height:1.3em;
margin-bottom:10px;
}

#main h2{
margin:0 0 0 10px;
font-weight:normal;
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
}

#main p{
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
padding-left:10px;
}

#main div#read h2{
font-size:13px;
line-height:1.3em;
margin:10px 5px 10px 10px;
color:#333333;
font-weight:bolder;
}

#main div#read p{
font-size:13px;
margin:10px 5px 20px 0;
}

.aka-big{
font-size:120%;
color:#990000;
font-weight:bold;
}

.aka-big a{
color:#990000;
margin:0 0 10px 0;
}

/*     新着情報     */

#topics{
width:520px;
border:3px solid #CCCCCC;
padding:0;
color:#333333;
margin-top:10px;
}
#topics_bar{
background-image:url(../img/topics.gif);
margin:0;
height:22px;
padding-left:150px;
vertical-align:text-bottom;
margin-bottom:12px;
font-size:12px;
color:#40445A;
}
#rireki a{
width:50px;
height:19px;
display:block;
text-indent:-9999em;
background-image:url(../img/rireki.gif);
background-repeat:no-repeat;
float:right;
}
#rireki a:hover{
background-position:0 -19px;
}
#topics-scroll{
height:180px;
overflow:auto;
}
#topics li{
list-style-type:none;
}
#topics_first{
width:500px;
font-weight:bold;
margin-bottom:8px;
color:#666666;
}
#topics-txt01{
padding-top:6px;
padding-bottom:6px;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #666666;
font-weight:bold;
}
#topics-txt01 span{
margin-left:10px;
margin-right:10px;
color:#990000;
}
.topics-list strong{
background-image:url(../img/new.gif);
background-repeat:no-repeat;
background-position:left center;
padding:10px 0;
}
.topics-list{
font-size:12px;
padding-top:6px;
padding-bottom:6px;
}
.topics-list dt{
background-image:url(../img/link_icon02.gif);
background-repeat:no-repeat;
background-position:left center;
margin-left:10px;
margin-right:15px;
margin-top:10px;
margin-bottom:10px;
padding-left:20px;
}
.topics-list dt span{
color:#990000;
font-weight:bold;
}

/*     ショールーム     */

#showroom-banner{
width:510px;
margin:7px 0;
}
#showroom-banner p{
margin:5px;
padding:5px 0;
text-align:center;
border-top:1px dashed #000;
border-bottom:1px dashed #000;
font-size:12px;
line-height:1.4;
}
.big-moji16{
font-size:16px;
}

div.SRnavi{
height:183px;
float:left;
}
div.SRnavi a{
display:block;
text-indent:-9999em;
height:183px;
}

div#tokyo{width:164px;margin-right:15px;}
div#tokyo a{background:url(../img/show-top2.jpg) 0 0 no-repeat;}
div#tokyo a:hover{background-position:0 -183px;}

div#chiba{width:161px;margin-right:15px;}
div#chiba a{background:url(../img/show-top2.jpg) -164px 0 no-repeat;}
div#chiba a:hover{background-position:-164px -183px;}

div#yokohama{width:175px;}
div#yokohama a{background:url(../img/show-top2.jpg) -325px 0 no-repeat;}
div#yokohama a:hover{background-position:-325px -183px;}

/*     ここが違います     */

#tigai{
width:230px;
height:318px;
background-image:url(../img/tigai_back.jpg);
background-repeat:no-repeat;
float:left;
font-size:12px;
line-height:1.3em;
margin-right:10px;
}
#tigai img{
margin:57px 0 0 46px;
}
#tigai ul{
margin-top:10px;
margin-left:46px;
width:150px;
list-style:decimal;
}
#tigai li{
margin:3px 0 0 23px;
padding:0px;
}
#tigai a{
text-decoration:underline;
color:#000000;
}
#tigai a:hover{
color:#990000;
}

/*     はじめての方へ     */

div#guide{
width:148px;
height:155px;
background-image:url(../img/guide.jpg);
background-repeat:no-repeat;
float:left;
padding-left:132px;
margin-top:18px;
}
div#guide ul{
width:170px;
}	
div#guide li{
margin:5px 0;
font-size:12px;
}

/*     よくある質問と回答     */

div#qustion a{
width:280px;
height:133px;
float:left;
font-size:12px;
padding-bottom:3px;
margin-top:6px;
background-image:url(../img/shitumon.gif);
background-repeat:no-repeat;
display:block;
text-indent:-9999em;
}
div#qustion a:hover{
background-image:url(../img/shitumonB.gif);
display:block;
background-repeat:no-repeat;
}

/*     カーテンの種類     */

div.polaNavi{
width:523px;
height:178px;
}
div.polaNavi li{
list-style:none;
float:left;
}
div.polaNavi li a{
height:178px;
display:block;
text-indent:-9999em;
text-decoration:none;
}
#pola01 a{width:185px;background:url(../img/pola1.jpg) 0 0 no-repeat;}
#pola01 a:hover{background-position:0 -178px;}
#pola02 a{width:170px;background:url(../img/pola1.jpg) -185px 0 no-repeat;}
#pola02 a:hover{background-position:-185px -178px;}	
#pola03 a{width:168px;background:url(../img/pola1.jpg) -355px 0 no-repeat;}
#pola03 a:hover{background-position:-355px -178px;}
#pola04 a{width:185px;background:url(../img/pola2.jpg) 0 0 no-repeat;}
#pola04 a:hover{background-position:0 -175px;}	
#pola05 a{width:170px;background:url(../img/pola2.jpg) -185px 0 no-repeat;}
#pola05 a:hover{background-position:-185px -175px;}	
#pola06 a{width:167px;background:url(../img/pola2.jpg) -355px 0 no-repeat;}
#pola06 a:hover{background-position:-355px -175px;}
#pola07 a{width:185px;background:url(../img/pola3.jpg) 0 0 no-repeat;}
#pola07 a:hover{background-position:0 -175px;}	
#pola08 a{width:170px;background:url(../img/pola3.jpg) -185px 0 no-repeat;}
#pola08 a:hover{background-position:-185px -175px;}
#pola09 a{width:167px;background:url(../img/pola3.jpg) -355px 0 no-repeat;}
#pola09 a:hover{background-position:-355px -175px;}
#pola10 a{width:185px;background:url(../img/pola4.jpg) 0 0 no-repeat;}
#pola10 a:hover{background-position:0 -175px;}

#pola_hosoku{
line-height:1.6em;
margin:10px 0 15px 10px;
color:#3F3F3F;
font-size:85%;
}


/*     部屋の種類     */

#flash_m{
margin:5px 0 4px 8px;
padding-bottom:3px;
}

/*     オススメしたいお客様     */

div#recommend{
width:530px;
height:auto;
}

div#recommend div{
width:530px;
border-bottom:1px dotted #333333;
margin:0 0 0 10px;
padding:5px 0 10px 0;
}

div#select01{background:url(../img/select_back1.gif) -10px 0 no-repeat;}
div#select02{background:url(../img/select_back2.gif) -10px 0 no-repeat;}
div#select03{background:url(../img/select_back3.gif) -10px 0 no-repeat;}
div#select04{background:url(../img/select_back4.gif) -10px 0 no-repeat;}
div#select05{background:url(../img/select_back5.gif) -10px 0 no-repeat;}

div#recommend div dl{
margin:10px 0 0 53px;
font-weight:bold;
font-size:14px;
}

div#recommend div dl dt{
height:35px;
color:#333333;
}

div#recommend div dl dd{
margin:5px 0 0 0;
color:#990000;
}

/*     uNavi     */

div.uNavi{
height:183px;
margin-top:20px;
float:left;
}
div.uNavi a{
display:block;
text-indent:-9999em;
height:183px;
}

div#koe{width:190px;margin-right:8px;}
div#koe a{background:url(../img/shoukai.jpg) -15px 0 no-repeat;}
div#koe a:hover{background-position:-15px -183px;}

div#tv{width:160px;margin-right:8px;}
div#tv a{background:url(../img/shoukai.jpg) -208px 0 no-repeat;}
div#tv a:hover{background-position:-208px -183px;}

div#sekourei{width:160px;}
div#sekourei a{background:url(../img/shoukai.jpg) -370px 0 no-repeat;}
div#sekourei a:hover{background-position:-370px -183px;}

/*    お電話下さい    */

div#acsess{
width:371px;
float:left;
}

div#mail a{
width:371px;
height:84px;
display:block;
background:url(../img/mail.gif) 0 0 no-repeat;
text-indent:-9999em;
margin-bottom:15px;
}

div#mail a:hover{
background-position:0 -84px;
}

div#acsess_right{
width:161px;
float:left;
}

div#acsess_right p{
margin:24px 0 0 0;
}

/*    ページ上へ    */

div#page_up{
text-align:left;
font-size:12px;
margin-top:25px;
padding-left:440px;
background:url(../img/sankaku2.gif) 510px 0 no-repeat;
}
div#page_up a{
color:#333333;
text-decoration:none;
display:block;
}
div#page_up a:hover{
color:#990000;
text-decoration:underline;
}

/*     お申し込み     */
div#omoushikomi{
width:100%;
height:200px;
background-image:url(../img/omoushikomi_titleback.jpg);
background-repeat:no-repeat;
background-position:355px 0;
}
div#omoushikomi img{
margin:0 0 0 -10px;
position:relative;
}
div#omoushikomi p{
padding-right:188px;
}
div#omoushikomi1{
margin-bottom:2px;
}
div#omoushikomi1 h3{
font-size:19px;
margin:25px 0 10px 0;
}
div#omoushikomi1 h4{
font-size:17px;
margin:25px 0 10px 0;
}
div#omoushikomi2{
width:500px;
margin:5px 0 0 10px;
padding-right:10px;
padding-top:5px;
border: 3px solid #990000;
}
div#omoushikomi2 dl{
margin:0 20px 0 20px;
color:#333333;
}
div#omoushikomi2 dt{
font-size:19px;
font-weight:bold;
margin-bottom:15px;
margin-top:15px;
color:#000000;
}
div#omoushikomi2 dd{
font-size:14px;
margin:6px 0 20px 20px;
}
.omoushikomi_line{
padding-top:10px;
border-top:1px solid #CCCCCC;
}
.f_chousei{
font-size:12px;
color:#990000;
}
.f_chousei2{
font-size:16px;
color:#990000;
font-weight:bold;
}
#interior2{
margin:28px 0 30px 5px;
font-size:18px;
border-bottom:1px dotted #333333;
padding-bottom:7px;
color:#333333;
}
p.cyousei-up {
margin-top:20px;
font-size:85%;
width:520px;
}
p.alignC {
text-align:center;
margin:30px 0 0 0;
}

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}
#page-top a:hover {
	text-decoration: none;
	background: #999;
}
