/* CSS Document */

@charset 'UTF-8';

/*       コンテナー       */

#container{
width:760px;
margin: 0 auto;
}

/*       ヘッダー       */

div#header{
	border-bottom:#9A0103 3px solid;
	margin-bottom:10px;
}
div#header_top{
	margin:15px 0 20px;
}
#site_logo{
	float:left;
	width:170px;
}
#head-middle {
	float:left;
	width:385px;
	margin-left:9px;
}
#head-right {
	float:right;
	width:180px;
}
#head-right li{
	list-style:none;
	float:left;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#head-middle h1 {
font-size:12px;
line-height:1.2em;
margin:0;
color:#444444;
}
#head-middle img {
	display:block;
	margin:10px 0;
}

div#logo2{
width:290px;
background:url(../img/header_back2.gif) 0 0 no-repeat;
height:104px;
float:left;
}
div#logo2 h1{
font-size:12px;
line-height:1.2em;
margin:20px 20px 0 130px;
color:#444444;
}
div#header_right1{
width:200px;
margin-left:10px;
float:right;
}
div#header_right1 li{
list-style:none;
float:left;
text-indent:-9999px;
font-size:xx-small;
}
#header_right01 a{
display:block;
width:99px;
height:27px;
background:url(../img/new_sitemap_menu.gif) 0 0 no-repeat;
}
#header_right01 a:hover{background-position:0 -27px;}
#header_right02 a{
display:block;
width:78px;
height:27px;
background:url(../img/new_sitemap_menu.gif) -99px 0 no-repeat;
}
#header_right02 a:hover{background-position:-99px -27px;}


#search-kensaku{
font-size:12px;
text-align:right;
margin-top:20px;
}

#search-kensaku form{text-align:right;}
#search-kensaku input{vertical-align:middle;}
#top_menu{
	margin-bottom:5px;
}
#top_menu li{
	float:left;
	height:30px;
}
li#top_menu01 {width:104px;}
li#top_menu02 {width:200px;}
li#top_menu03 {width:180px;}
li#top_menu04 {width:140px;}
li#top_menu05 {width:136px;}

#top_menu li a{
	display:block;
	height:30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#top_menu li#top_menu01 a{
	background:url(http://www.coco-web.com/img/headnv01.gif) 0 0 no-repeat;
}
#top_menu li#top_menu01 a:hover{
	background:url(http://www.coco-web.com/img/headnv01_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu02 a{
	background:url(http://www.coco-web.com/img/headnv02.gif) 0 0 no-repeat;
}
#top_menu li#top_menu02 a:hover{
	background:url(http://www.coco-web.com/img/headnv02_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu03 a{
	background:url(http://www.coco-web.com/img/headnv03.gif) 0 0 no-repeat;
}
#top_menu li#top_menu03 a:hover{
	background:url(http://www.coco-web.com/img/headnv03_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu04 a{
	background:url(http://www.coco-web.com/img/headnv04.gif) 0 0 no-repeat;
}
#top_menu li#top_menu04 a:hover{
	background:url(http://www.coco-web.com/img/headnv04_over.gif) 0 0 no-repeat;
}
#top_menu li#top_menu05 a{
	background:url(http://www.coco-web.com/img/headnv05.gif) 0 0 no-repeat;
}
#top_menu li#top_menu05 a:hover{
	background:url(http://www.coco-web.com/img/headnv05_over.gif) 0 0 no-repeat;
}


/*       コンテンツ       */

#contents{
width:760px;
clear:both;
}

.top_message{
	width: 530px;
	border: 1px solid #990100;
	margin-bottom: 4px;
	margin-top: 10px;
	padding-bottom: 6px;
	}
.top_message p{
	padding:8px 8px 0;
	font-size:14px;
	line-height:140%;
	}
.top_message p.tel_num{
	float:right;
	padding-top:35px;
	padding-right:10px;
	}
.top_message dl{
	padding:0 8px 8px;
	font-size:12px;
	color:#171717
	}
.top_message dt{
	float:left;
	width:145px;
	}
.top_message dd{
	padding-left:145px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0
	}

.top_message dd a{
	color: #990100
	}
	
/*          　　　　          */
/*            left            */
/*          　　　　          */

#left{
margin:0;
width:208px;
font-size:12px;
line-height:1.3em;
color:#333333;
float:left;
text-align:left;
}
#left p {
	margin-bottom:20px;
	text-align:left;
}

#side-news {
	width:148px;
	border:#9A0002 1px solid;
	padding:10px;
	margin-bottom:20px;
}
#side-news ul {
	margin-top:10px;
}
#side-news a {
	text-decoration:none;
	color:#9A0002;
}

#left0{
	background-image: url(../img/left_back.gif);
	background-position: 1px 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 2px 0 0 0;
	background-repeat: repeat-y;
}
#left0 p{
margin-left:11px;
margin-top:3px;
margin-bottom:9px;
line-height:1.3em;
width:170px;
}
#left0 p.mgn0{
margin-bottom:0;
}
#left0 img{
margin-left:20px;
}
#left1{
text-align:center;
line-height:1.2em;
margin:5px 0 0 10px;
background:url(../img/ad-title.gif) 0 0 no-repeat;
display:block;
width:176px;
height:67px;
text-indent:-10000px;
}
#left2 a{
width:173px;
height:67px;
background:url(../img/left_bar_button.gif) 0 0 no-repeat;
text-indent:-9999em;
display:block;
margin-left:10px;
margin-top:-15px;
}
#left2 a:hover{
background-position:0 -67px;
}
.left_listmenu{
margin:5px 0 10px 0px;
padding-left:13px;
}
.left_listmenu li{
margin:4px 0;
letter-spacing:normal;
background:url(../img/yajirusi.gif) left center no-repeat;
}
.left_listmenu a{
padding:0 0 0 14px;
}

div.leftNavi a{
width:208px;
height:55px;
display:block;
background:0 0 no-repeat;
text-indent:-9999em;
}

div.leftNavi a:hover{
	background-position: 0 -55px;
	background-image: url(../img/clip15.gif);
}

#clip0 a{
	background-image: url(../img/clip0.gif);
	float: left;
}
#clip1 a{background-image:url(../img/clip1_1.gif);}
#clip2 a{background-image:url(../img/clip2.gif);}
#clip3 a{background-image:url(../img/clip3.gif);}
#clip4 a{background-image:url(../img/clip4.gif);}
#clip5 a{background-image:url(../img/clip5.gif);}
#clip6 a{background-image:url(../img/clip6.gif);}
#clip7 a{background-image:url(../img/clip7.gif);}
#clip8 a{background-image:url(../img/clip8.gif);}
#clip9 a{background-image:url(../img/clip9.gif);}
#clip10 a{background-image:url(../img/clip10.gif);}
#clip11 a{background-image:url(../img/clip11.gif);}
#clip12 a{background-image:url(../img/clip12.gif);}
#clip13 a{background-image:url(../img/clip13.gif);}
#clip14 a{background-image:url(../img/clip14.gif);}
#clip15 a{background-image:url(../img/clip15.gif);}

#left_bottom{
	background-image: url(../img/left_bottom.gif);
	height: 16px;
	margin: 0px 0 10px 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 1px 0;
}

li.t{
color:#990000;
font-size:12px;
margin:0px;
}
li.d{
color:#333333;
font-size:12px;
float: left;
}
div.bnr a {
display:block;
text-indent:-9999em;
}
#blog a{
	width: 190px;
	height: 190px;
	margin-top: 10px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	background: url(../img/blog-logo.jpg) 0 0 no-repeat;
	padding-bottom: 0;
}
#blog a:hover{background-position:0 -190px;}


#jal a{
width:190px;
height:190px;
margin:20px 0 0 0;
background:url(../img/JAL-logo.jpg) 0 0 no-repeat;
padding-bottom:0;
}
#jal a:hover{background-position:0 -190px;}

#sidebookmark{
	margin: 10px 0 20px 0;
	width: 190px;
}
#sidebookmark p{
text-align:center;
}

#contbookmark{
margin:20px 0 20px 0;
width:520px;
}
#contbookmark p{
text-align:center;
}

#qrcode{
margin:20px 0 20px 0;
width:190px;
}
#qrcode p{
text-align:center;
font-size:10px;
line-height:1.2;
}
#qrcode img{
margin:0;
}
#banner0 a{
width:120px;
height:120px;
margin:15px 0 0 35px;
background:url(../img/eco_banner.gif) 0 0 no-repeat;
}
#banner0 a:hover{background-position:0 -120px;}	
#banner1 a{
width:190px;
height:190px;
background:url(../img/banner1.jpg) 0 0 no-repeat;
margin:15px 0 0 0;
}
#banner1 a:hover{background-position:0 -190px;}	

#allabout{
width:160px;
margin:15px 0 0 15px;
}


#banner7 a{
width:150px;
height:144px;
background:url(../img/banner2.jpg) 0 0 no-repeat;
margin:15px 0 0 21px;
}
#banner7 a:hover{background-position:0 -144px;}	
#banner2 a{
width:153px;
height:37px;
background:url(../img/tempokagu.gif) 0 0 no-repeat;
margin:15px 0 0 23px;
}
#banner2 a:hover{background-position:0 -37px;}	
#banner3 a{
width:154px;
height:86px;
background:url(../img/member-104.gif) 0 0 no-repeat;
margin:15px 0 0 22px;
}
#banner3 a:hover{background-position:0 -86px;}
#banner3 p{
text-align:center;
margin-top:5px;
font-size:9px;
}
#banner6 a{
width:160px;
height:40px;
background:url(../img/curtainshop.gif) 0 0 no-repeat;
margin:15px 0 10px 18px;
}
#banner6 a:hover{background-position:0 -40px;}

#banner8 a{
width:190px;
height:72px;
background:url(../img/cpro_banner1a_1.jpg) 0 0 no-repeat;
margin:5px 0 10px 0;
}


/*       カウンター       */

dl.tbl{
width:175px;
height:auto;
font-size:10px;
margin:0 0 0 10px;
line-height:1;
}
dl.tbl dt{
width:40%;
height:15px;
float:left;
}
dl.tbl dd{
width:60%;
height:15px;
text-align:right;
float:right;
}
div.visit{
	width: 190px;
	height: 109px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	background-image: url(http://www.coco-web.com/now_visitor/visitor.gif);
}
div.visit img{
/*margin-left:7px;*/
/*margin-top:40px;*/
}

div.visit2{
width:208px;
height:70px;
background:url("http://www.coco-web.com/now_visitor2/visitor_bg.gif") no-repeat left top;
padding:39px 0 0 0;
margin:10px 0 0 0px;
}
div.visit2 img{
margin:0px;
}


/*       スタッフより一言       */

div#word{
background:url("../img/word_bg.gif") no-repeat left top;
width:190px;
height:400px;
margin:20px 0 0 2px;
padding:43px 0 0 0;
text-align:center;
background-color:#FFF;
}


/*          　　　　          */
/*          フッター          */
/*          　　　　          */
div#footer{
width:760px;
height:auto;
background:url(../img/footer_back.gif) 0 0 no-repeat;
font-size:11px;
padding-bottom:10px;
text-align:center;
margin-top:10px;
}
div#footer p{
font-size:85%;
color:#666666;
line-height:1.4em;
margin-top:10px;
}
div#footer p a{
text-decoration:none;
color:#888888;
}
div#footer li{
float:left;
}
div#footer li a{
display:block;
text-decoration:none;
font-style:normal;
color:#FFFFFF;
}
div#footer em a:hover{text-decoration:underline;}
#footer_menu1 a,#footer_menu3 a{width:88px;}
#footer_menu2 a{width:135px;}	
#footer_menu4 a{width:135px;}	
#footer_menu5 a{width:105px;}
#footer_menu6 a{width:75px;}
#footer_menu7 a{width:110px;}		

/*          　　　　          */
/*           メイン           */
/*          　　　　          */

#main{
	width: 538px;
	margin-top: px;
	padding-right: 3px;
	color: #6F6F6F;
	font-size: small;
	line-height: 1.3em;
	margin-bottom: 10px;
	float: right;
}

#main h2{
margin:10px 0 0 10px;
font-weight:normal;
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
}

#main p{
font-size:13px;
line-height:1.3em;
color:#3F3F3F;
padding-left:10px;
}



#main div#read {
   float:right
}





#main div#read h2{
font-size:13px;
line-height:1.3em;
margin:10px 5px 10px 10px;
color:#333333;
font-weight:bolder;
}

#main div#read p{
font-size:13px;
margin:5px 5px 10px 0;
}

.aka-big{
font-size:120%;
color:#990000;
font-weight:bold;
}

.kuro-big{
font-size:120%;
color:#333333;
font-weight:bold;
}

.aka{
font-size:100%;
color:#990000;
font-weight:bold;
}

.aka-big2{
font-size:120%;
color:#990000;
text-align:center;
font-weight:bold;
}

.aka-big a{
color:#990000;
margin:0 0 10px 0;
}

/*     フラッシュ     */

div#normal {
background:url(../img/flash_main.jpg) 0 0 no-repeat;
margin:0 0 15px 0;
}

div#staff {
background:url(../img/staff.jpg) 0 0 no-repeat;
}

div#select {
margin:5px 0 4px 8px;
padding-bottom:3px;
background:url(../img/flash_m.jpg) 0 0 no-repeat;
}

/*     新着情報     */

#topics{
	width: 530px;
	border: 3px solid #CCCCCC;
	padding: 0;
	color: #333333;
	margin: 10px 0 20px 0;
	height: 250px;
}
#topics_bar{
	background-image: url(../img/topics.gif);
	margin: 0;
	padding-left: 150px;
	vertical-align: text-bottom;
	margin-bottom: 0px;
	font-size: 12px;
	color: #40445A;
	background-repeat: no-repeat;
	height: 22px;
}
#rireki a{
	height: 19px;
	display: block;
	text-indent: -9999em;
	background-image: url(../img/rireki.gif);
	background-repeat: no-repeat;
	float: right;
	width: 50px;
}
#rireki a:hover{
	background-position: 0 -19px;
	width: 50px;
	height: 19px;
}
 #topics-scroll{
	width:500px;
	height: 180px;
	overflow:auto;
	float: left;
}




#topics li{
list-style-type:none;
}
#topics_first{
width:500px;
font-weight:bold;
margin-bottom:8px;
color:#666666;
}
#topics-txt01{
padding-top:6px;
padding-bottom:6px;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #666666;
font-weight:bold;
}
#topics-txt01 span{
margin-left:10px;
margin-right:10px;
color:#990000;
}
.topics-list strong{
background-image:url(../img/new.gif);
background-repeat:no-repeat;
background-position:left center;
padding:10px 0;
}
.topics-list{
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow:auto;
}

/* 
.topics-list dt{
background-image:url(../img/link_icon02.gif);
background-repeat:no-repeat;
background-position:left center;
margin-left:10px;
margin-right:15px;
margin-top:10px;
margin-bottom:10px;
padding-left:20px;
}
.topics-list dt span{
color:#990000;
font-weight:bold;
}
*/


ul#feed{
	width: 510px;
	height: 155px;
	margin: 0 0 0 0;
	font-size: 11px;
	color: #000000;
	background: #FFFFFF;
}

#feed li{
margin:5px;
padding-top:6px;
padding-bottom:6px;
border-bottom:#666666 1px dotted;
text-align:justify;
}
#feed li span{
font-weight:bold;
}














/*     ショールーム     */

#showroom-banner{
width:510px;
margin:7px 0;
}
#showroom-banner p{
margin:5px;
padding:5px 0;
text-align:left;
border-top:1px dashed #000;
border-bottom:1px dashed #000;
font-size:12px;
line-height:1.4;
}
.big-moji16{
font-size:16px;
}

div.SRnavi{
height:225px;
float:left;
}
div.SRnavi a{
display:block;
text-indent:-9999em;
height:225px;
}

div#tokyo{
	width: 160px;
	margin-right: 15px;
	height: 250px;
}

div#tokyo a{background:url(../img/show-top2.jpg) 0 0 no-repeat;}
div#tokyo a:hover{background-position:0 -225px;}

div#chiba{
	width: 160px;
	margin-right: 15px;
	height: 250px;
}
div#chiba a{background:url(../img/show-top2.jpg) -170px 0 no-repeat;}
div#chiba a:hover{background-position:-170px -225px;}

div#yokohama{
	width: 175px;
	height: 250px;
}
div#yokohama a{background:url(../img/show-top2.jpg) -336px 0 no-repeat;}
div#yokohama a:hover{background-position:-336px -225px;}

div#nagoya a:hover img{opacity:0.5;
filter: alpha(opacity=50);
-ms-filter: "alpha( opacity=50 )";
background: #fff;
}

/*     ここが違います     */

#tigai{
width:230px;
height:318px;
background-image:url(../img/tigai_back.jpg);
background-repeat:no-repeat;
float:left;
font-size:13px;
line-height:1.3em;
margin-right:10px;
}

#tigai img{
margin:57px 0 0 46px;
}
#tigai ul{
margin-top:110px;
margin-left:65px;
width:150px;
list-style:decimal;
}
#tigai li{
margin:10px 0 0 45px;
padding:0px;
}
#tigai a{
text-decoration:underline;
color:#333;
}
#tigai a:hover{
color:#990000;
}

/*     はじめての方へ＋よくある質問     */

div#section01{
width:280px;
height:288px;
float:left;
margin-top:18px;
}

/*     はじめての方へ     */

div#guide{
width:148px;
height:155px;
background-image:url(../img/guide.jpg);
background-repeat:no-repeat;
padding-left:132px;
}
div#guide ul{
width:170px;
}	
div#guide li{
margin:5px 0;
font-size:12px;
}

/*     よくある質問と回答     */

div#qustion a{
width:280px;
height:133px;
font-size:12px;
padding-bottom:3px;
margin-top:6px;
background-image:url(../img/shitumon.gif);
background-repeat:no-repeat;
display:block;
text-indent:-9999em;
}
div#qustion a:hover{
background-image:url(../img/shitumonB.gif);
display:block;
background-repeat:no-repeat;
}

/*     カーテンの種類     */

div.polaNavi{
width:523px;
height:178px;
}
div.polaNavi li{
list-style:none;
float:left;
}
div.polaNavi li a{
height:178px;
display:block;
text-indent:-9999em;
text-decoration:none;
}
#pola01 a{width:185px;background:url(../img/pola1.jpg) 0 0 no-repeat;}
#pola01 a:hover{background-position:0 -178px;}
#pola02 a{width:170px;background:url(../img/pola1.jpg) -185px 0 no-repeat;}
#pola02 a:hover{background-position:-185px -178px;}	
#pola03 a{width:168px;background:url(../img/pola1.jpg) -355px 0 no-repeat;}
#pola03 a:hover{background-position:-355px -178px;}
#pola04 a{width:185px;background:url(../img/pola2.jpg) 0 0 no-repeat;}
#pola04 a:hover{background-position:0 -175px;}	
#pola05 a{width:170px;background:url(../img/pola2.jpg) -185px 0 no-repeat;}
#pola05 a:hover{background-position:-185px -175px;}	
#pola06 a{width:167px;background:url(../img/pola2.jpg) -355px 0 no-repeat;}
#pola06 a:hover{background-position:-355px -175px;}
#pola07 a{width:185px;background:url(../img/pola3.jpg) 0 0 no-repeat;}
#pola07 a:hover{background-position:0 -175px;}	
#pola08 a{width:170px;background:url(../img/pola3.jpg) -185px 0 no-repeat;}
#pola08 a:hover{background-position:-185px -175px;}
#pola09 a{width:167px;background:url(../img/pola3.jpg) -355px 0 no-repeat;}
#pola09 a:hover{background-position:-355px -175px;}
#pola10 a{width:185px;background:url(../img/pola4.jpg) 0 0 no-repeat;}
#pola10 a:hover{background-position:0 -175px;}

#pola_hosoku{
line-height:1.6em;
margin:10px 0 15px 10px;
color:#3F3F3F;
font-size:85%;
}


/*     カーテンの種類2     */

div.polaNavi2{
width:523px;
height:181px;
}
div.polaNavi2 li{
list-style:none;
float:left;
margin-top:5px;
}
div.polaNavi2 li a{
height:181px;
display:block;
text-indent:-9999em;
text-decoration:none;
}
#pola2-01 a{width:185px;background:url(../img/pola2-1.jpg) 0 0 no-repeat;}
#pola2-01 a:hover{background-position:0 -181px;}
#pola2-02 a{width:170px;background:url(../img/pola2-1.jpg) -185px 0 no-repeat;}
#pola2-02 a:hover{background-position:-185px -181px;}	
#pola2-03 a{width:168px;background:url(../img/pola2-1.jpg) -355px 0 no-repeat;}
#pola2-03 a:hover{background-position:-355px -181px;}

#pola2-04 a{width:185px;background:url(../img/pola2-2.jpg) 0 0 no-repeat;}
#pola2-04 a:hover{background-position:0 -181px;}	
#pola2-05 a{width:170px;background:url(../img/pola2-2.jpg) -185px 0 no-repeat;}
#pola2-05 a:hover{background-position:-185px -181px;}	
#pola2-06 a{width:167px;background:url(../img/pola2-2.jpg) -355px 0 no-repeat;}
#pola2-06 a:hover{background-position:-355px -181px;}

#pola2-07 a{width:185px;background:url(../img/pola2-3.jpg) 0 0 no-repeat;}
#pola2-07 a:hover{background-position:0 -181px;}	
#pola2-08 a{width:170px;background:url(../img/pola2-3.jpg) -185px 0 no-repeat;}
#pola2-08 a:hover{background-position:-185px -181px;}
#pola2-09 a{width:167px;background:url(../img/pola2-3.jpg) -355px 0 no-repeat;}
#pola2-09 a:hover{background-position:-355px -181px;}

#pola2-10 a{width:185px;background:url(../img/pola4.jpg) 0 0 no-repeat;}
#pola2-10 a:hover{background-position:0 -175px;}

#pola2_hosoku{
line-height:1.6em;
margin:10px 0 15px 10px;
color:#3F3F3F;
font-size:85%;
}



/*     オススメしたいお客様     */

div#recommend{
width:530px;
height:auto;
}

div#recommend div{
width:530px;
border-top:1px dotted #333333;
margin:5px 0 0 10px;
padding:5px 0 10px 0;
}

div#select01{background:url(../img/select_back1.jpg) 0 0 no-repeat;}
div#select02{background:url(../img/select_back2.jpg) 0 0 no-repeat;}
div#select03{background:url(../img/select_back3.jpg) 0 0 no-repeat;}
div#select04{background:url(../img/select_back4.jpg) 0 0 no-repeat;}
div#select05{background:url(../img/select_back5.jpg) 0 0 no-repeat;}

div#recommend div dl{
margin:10px 0 0 110px;
font-weight:bold;
font-size:14px;
}

div#recommend div dl dt{
height:35px;
color:#333333;
}

div#recommend div dl dd{
margin:5px 0 0 0;
color:#990000;
font-size:12px;

}

div#recommend2{
width:530px;
height:auto;
}


div#recommend2 div{
width:530px;
border-top:1px dotted #333333;
border-bottom:1px dotted #333333;
margin:5px 0 0 10px;
padding:5px 0 10px 0;
}


div#recommend2 div dl{
margin:10px 0 0 110px;
font-weight:bold;
font-size:13px;
}

div#recommend2 div dl dt{
height:35px;
color:#333333;
}

div#recommend2 div dl dd{
margin:5px 0 0 0;
color:#990000;
}

/*     uNavi     */

div.uNavi{
height:183px;
margin-top:20px;
float:left;
}
div.uNavi a{
display:block;
text-indent:-9999em;
height:183px;
}

div#koe{width:190px;margin-right:8px;}
div#koe a{background:url(../img/shoukai.jpg) -15px 0 no-repeat;}
div#koe a:hover{background-position:-15px -183px;}

div#tv{width:160px;margin-right:8px;}
div#tv a{background:url(../img/shoukai.jpg) -208px 0 no-repeat;}
div#tv a:hover{background-position:-208px -183px;}

div#sekourei{width:160px;}
div#sekourei a{background:url(../img/shoukai.jpg) -370px 0 no-repeat;}
div#sekourei a:hover{background-position:-370px -183px;}

/*    お電話下さい    */

div#acsess{
width:371px;
float:left;
}

div#mail a{
width:371px;
height:84px;
display:block;
background:url(../img/mail.gif) 0 0 no-repeat;
text-indent:-9999em;
margin-bottom:15px;
}

div#mail a:hover{
background-position:0 -84px;
}

div#acsess_right{
width:161px;
float:left;
}

div#acsess_right p{
margin:24px 0 0 0;
}

/*    coco-original    */

div#original3 a{
width:525px;
height:60px;
background:url(../img/original-3.jpg) 0 0 no-repeat;
display:block;
text-indent:-9999em;
margin:50 0 10px 0;
}

div#original3 a:hover{
background-position:0 -60px;
}

/*    ハードプロテクト    */

div#hard_protect{
width:540px;
height:126px;
background:url(../img/hard_protect.gif) 0 0 no-repeat;
margin:25px 0 10px 0;
clear:both;
color:#000000;
}
div#hard_naiyou{
font-size:12px;
line-height:1.3em;
width:380px;
margin:0 0 0 130px;
height:80px;
padding-top:42px;
color:#000000;
}
div#hard_naiyou a{
color:#000000;
margin-top:5px;
}
div#hard_naiyou a:hover{
color:#990000;
}

/*    ページ上へ    */

div#page_up{
text-align:left;
font-size:12px;
margin-top:25px;
padding-left:440px;
background:url(../img/sankaku2.gif) 510px 0 no-repeat;
}
div#page_up a{
color:#333333;
text-decoration:none;
display:block;
}
div#page_up a:hover{
color:#990000;
text-decoration:underline;
}

/*    企画バナー    */

div#kikaku-banner1 a{
	width:532px;
	height:222px;
	background-image:url(../img/setsuden-banner2013.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#kikaku-banner1 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner2 a{
	width:532px;
	height:146px;
	background-image:url(../img/hunen-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:0;
	}
div#kikaku-banner2 a:hover{
	background-position:0 -146px;
	}


div#kikaku-banner3 a{
	width:532px;
	height:222px;
	background-image:url(../img/cocoluxe-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner3 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner4 a{
	width:532px;
	height:222px;
	background-image:url(../img/eco-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner4 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner5 a{
	width:520px;
	height:217px;
	background-image:url(../img/xmas2012-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner5 a:hover{
	background-position:0 -217px;
	}


div#kikaku-banner6 a{
	width:532px;
	height:222px;
	background-image:url(../img/tokyobridal-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner6 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner7 a{
	width:532px;
	height:222px;
	background-image:url(../img/sawing-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner7 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner8 a{
	width:532px;
	height:222px;
	background-image:url(../img/hdg-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner8 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner9 a{
	width:520px;
	height:217px;
	background-image:url(../img/sekou-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner9 a:hover{
	background-position:0 -217px;
	}




div#kikaku-banner10 a{
	width:532px;
	height:222px;
	background-image:url(../img/hdg-chiba-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner10 a:hover{
	background-position:0 -222px;
	}


div#kikaku-banner11 a{
	width:532px;
	height:222px;
	background-image:url(../img/highrise-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner11 a:hover{
	background-position:0 -222px;
	}


div#kikaku-banner12 a{
	width:532px;
	height:222px;
	background-image:url(../img/nagoya-banner201309.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner12 a:hover{
	background-position:0 -222px;
	}

div#kikaku-banner13 a{
	width:532px;
	height:222px;
	background-image:url(../img/eco-banner201309.jpg);
	display:block;
	text-indent:-9999em;
	margin:10px 0 0 0;
	}
div#kikaku-banner13 a:hover{
	background-position:0 -222px;
	}


div#hanami-banner a{
	width:532px;
	height:222px;
	background-image:url(../img/hanami-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#hanami-banner a:hover{
	background-position:0 -222px;
	}





div#fullsafecoat-banner a{
	width:532px;
	height:222px;
	background-image:url(../img/fullsafecoat-banner.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#fullsafecoat-banner a:hover{
	background-position:0 -222px;
	}


#oshirase{
    width:510px;
    height:65px;
    margin:0 0 10px 0;
    padding:10px;
    text-align:left;
    background:#F4F4F4;
    }

.right{
    text-align:right;
    }

/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../img/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:532px;
	overflow:hidden;
}

#slides{
	/* This is the slide area */
	height:222px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:532px;
	overflow:hidden;
}

.slide{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
	height:45px;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu li{
	/* Every thumbnail is a li element */
	width:68px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
}

#menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../img/pic_bg.png) repeat;
}

#menu li.act,#menu0 li.act:hover{
	/* The active state of the thumb */
	background:url(../img/active_bg.png) no-repeat;
}

#menu li.act a{
	cursor:default;
}

#menu .fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(../img/divider.png) no-repeat right;
}

#menu li a{
	display:block;
	background:url(../img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

#menu a img{
	border:none;
}


/* The styles below are only necessary for the demo page */


#mac{
	/* The main container */
	margin:15px auto;
	text-align:center;
	width:532px;
	position:relative;s
}

#mac a, #mac a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

#mac a:hover{
	text-decoration:underline;
}

#mac p{
	padding:10px;
	text-align:center;
}

/* slider */

.imagediv
{
	position:relative;
	width:523px;
	height:114px;
	vertical-align:middle;
	overflow:hidden;
	margin:0;
	padding:0;
}
.imagediv ul
{
	position:relative;
	margin:0;
	padding:0;
	list-style-type: none;
	width:9999px;
}
.imagediv li
{
	float: left;
	margin:0 5px 0 5px;
	padding:0;
	vertical-align:top;
	margin-top:10px;
	text-align:center;
	width:110px;
}

/*     企画まとめ     */

div.kikaku{
width:523px;
height:235px;
}
div.kikaku li{
list-style:none;
float:left;
margin:15px 0 20px 0;
}
div.kikaku li a{
height:235px;
display:block;
text-indent:-9999em;
text-decoration:none;
}
#kikaku-01 a{width:185px;background:url(../img/kikaku-01.jpg) 0 0 no-repeat;}
#kikaku-01 a:hover{background-position:0 -235px;}
#kikaku-02 a{width:170px;background:url(../img/kikaku-01.jpg) -185px 0 no-repeat;}
#kikaku-02 a:hover{background-position:-185px -235px;}	
#kikaku-03 a{width:168px;background:url(../img/kikaku-01.jpg) -355px 0 no-repeat;}
#kikaku-03 a:hover{background-position:-355px -235px;}

#kikaku_hosoku{
line-height:1.6em;
margin:10px 0 15px 10px;
color:#3F3F3F;
font-size:85%;
}




/*     ポラまとめ     */

div.adpola{
width:523px;
height:235px;
}
div.adpola li{
list-style:none;
float:left;
margin:5px 0 10px 0;
}
div.adpola li a{
height:235px;
display:block;
text-indent:-9999em;
text-decoration:none;
}
#adpola-01 a{width:185px;background:url(../img/adpola01.jpg) 0 0 no-repeat;}
#adpola-01 a:hover{background-position:0 -235px;}
#adpola-02 a{width:170px;background:url(../img/adpola01.jpg) -185px 0 no-repeat;}
#adpola-02 a:hover{background-position:-185px -235px;}	
#adpola-03 a{width:168px;background:url(../img/adpola01.jpg) -355px 0 no-repeat;}
#adpola-03 a:hover{background-position:-355px -235px;}

#adpola-04 a{width:185px;background:url(../img/adpola02.jpg) 0 0 no-repeat;}
#adpola-04 a:hover{background-position:0 -235px;}
#adpola-05 a{width:170px;background:url(../img/adpola02.jpg) -185px 0 no-repeat;}
#adpola-05 a:hover{background-position:-185px -235px;}	
#adpola-06 a{width:168px;background:url(../img/adpola02.jpg) -355px 0 no-repeat;}
#adpola-06 a:hover{background-position:-355px -235px;}

#adpola-07 a{width:185px;background:url(../img/adpola03.jpg) 0 0 no-repeat;}
#adpola-07 a:hover{background-position:0 -235px;}
#adpola-08 a{width:170px;background:url(../img/adpola03.jpg) -185px 0 no-repeat;}
#adpola-08 a:hover{background-position:-185px -235px;}	
#adpola-09 a{width:168px;background:url(../img/adpola03.jpg) -355px 0 no-repeat;}
#adpola-09 a:hover{background-position:-355px -235px;}

#adpola-10 a{width:185px;background:url(../img/adpola04.jpg) 0 0 no-repeat;}
#adpola-10 a:hover{background-position:0 -235px;}
#adpola-11 a{width:170px;background:url(../img/adpola04.jpg) -185px 0 no-repeat;}
#adpola-11 a:hover{background-position:-185px -235px;}	
#adpola-12 a{width:168px;background:url(../img/adpola04.jpg) -355px 0 no-repeat;}
#adpola-12 a:hover{background-position:-355px -235px;}

#adpola_hosoku{
line-height:1.6em;
margin:10px 0 15px 10px;
color:#3F3F3F;
font-size:85%;
}




div#web_tel{
	width:492px;
	height:130px;
	background-image:url(../img/web_tel_back.jpg);
	background-position:405px 3px;
	background-repeat:no-repeat;
	border-top:1px dotted #333333;
	margin:5px 0 0 0;
	padding:3px 0 15px 28px;
	}

div#fax_toiawase{

	border-top:1px dotted #333333;
	padding:8px 15px 40px 15px;
	width:490px;
	}


div#mail_contact{
	width:520px;
	margin-bottom:35px;
	}
div#mail_contact a{
	width:404px;
	height:28px;
	display:block;
	text-indent:-9999em;
	background-image:url(../img/mail_contact.gif);
	background-repeat:no-repeat;
	margin-top:5px;
	margin-left:15px;
	}
div#mail_contact a:hover{
	background-position:0 -28px;
	}

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}
#page-top a:hover {
	text-decoration: none;
	background: #999;
}


html,body {
	height: 100%;
}

#curtainLeft,
#curtainRight {
	top: 0;
	width: 50%;
	height: 100%;
	background: #990000;
	position: absolute;
}
#curtainLeft { left: 0; z-index:100;}
#curtainRight { right: 0; z-index:101;}

#ad a:hover {
filter:alpha(opacity=50); /*IE*/
-moz-opacity:0.50; /*FF*/
opacity:0.50;
}





#s_moushikomi a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:0 0 8px 115px;
	}

#s_moushikomi a:hover{
	background-position:0 -50px;
	}

#s_moushikomi p{
	margin:10px 10px;
    font-size:11px;
	}


/*FAQ*/

div#faq{
	width:523px;
	height:auto;
	}

div#faq ul#faqList {
width:100%;
height:auto;
margin:10px 0;
}

div#faq ul#faqList li {
margin-top:15px;
list-style-type: none;
}

div#faq ul#faqList li p {
width:auto;
height:auto;
line-height:1.5;
display:inline;
}

div#faq ul#faqList li p.question {color:#990000;font-size:14px;text-decoration:underline;}
div#faq ul#faqList p.question:hover {text-decoration:underline;}


.hurry_bnr img{
 margin-left: 10px !important;
 margin-bottom: 10px;
}

.hurry_bnr a:hover,.opacity a:hover{
		filter: alpha(opacity=70); 
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#img_operator{
	width:75px;
	height:auto;
	clear:both;
	margin-top:5px;
}
#container #contents #left #blog {
	float: left;
}
#container #contents #main .top_message p span {
	color: #990000;
}





@media screen and (-webkit-min-device-pixel-ratio:0) {
 #img_operator{ 
	position:relative;
	left: 65px;  
	}
}
