/* CSS Document */

P#title_toritsuskeryoukin{
	margin:20px 0 0 0;
}

table{
	margin:20px 0 0 10px;
	border-color:#333;
	border-collapse:collapse;
	width:500px;
	color:#333;
	font-size:12px;
	
}

table tr th{
	border-color:#333;
	background-color:#ededed;
	text-align:center;
}

table tr td{
	border-color:#333;
	text-align:center;
}

p.text_toritsukeryoukin{
	margin:10px 0 0 0;
}

ul.list_toritsukeryoukin{
	margin:10px 0 0 20px;
	list-style-type:disc;
	color:#333;
}

