@charset "UTF-8";

/*//////////////////////////////////////////////////*/
/*// 01.ベースの設定                              //*/
/*//////////////////////////////////////////////////*/
form#mailform {
	margin: 0px auto 0px auto;
	padding: 0px;
}
form#mailform label {
	cursor: pointer;
	text-decoration: underline;
	display: block;
	padding: 5px 5px;
	margin-bottom: 1px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
label.label_true {
	background-color: #FFFFEE;
	border: solid 1px #CCCCCC;
	text-decoration: none;
}
label.label_false {
	background-color: none;
	border: none;
	text-decoration: underline;
	background-image: none;
}
div#mailfrom_hidden_object {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
div#mailfrom_hidden_object input {
	margin: 10px;
}
div#mfp_closed {
	display: none;
}
div.mfp_disp {
	display: none;
}
div#input_time_disp {
	padding: 10px;
}
div#expires_time_disp {
	padding: 10px;
	text-align: center;
}
div#expires_time_disp strong {
	font-size: 18px;
	color: #CC0000;
}
div#limit_disp {
	padding: 10px;
	text-align: center;
}
div#limit_disp strong {
	font-size: 24px;
	color: #CC0000;
}
img.must {
	width: 30px;
	height: 16px;
	float: left;
	margin: 0px 0px 0px 5px;
}
div.mfp_err {
	text-align: left;
	margin: 5px 0px 0px 0px;
	padding: 3px 0px 5px 17px;
	color: #990000;
	font-size: 12px;
	line-height: normal;
	display: none;
	background-image: url(../images/mfp_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
input.mfp {
	padding: 2px;
}
textarea.mfp {
	padding: 5px;
}
div#mfp_buttons {
	padding: 0px;
	text-align: center;
}
div#mfp_buttons ul {
	width: 360px;
	height: 60px;
	overflow: hidden;
	margin: 0px auto 0px auto;
}
div#mfp_buttons ul li {
	width: 180px;
	height: 60px;
	overflow: hidden;
	float: left;
}
div.mfp_phase_buttons {
	height: 60px;
}
input.mfp_phase_next {
	background-image: url(../images/mfp_next.gif);
	float: right;
}
input.mfp_phase_prev {
	background-image: url(../images/mfp_prev.gif);
	float: left;
}

input.mfp_phase_next,input.mfp_phase_prev {
	width: 200px;
	height: 60px;
	overflow: hidden;
	text-indent: -5000px;
	border: none;
	border-style: none;
	cursor: pointer;
}

input#button_mfp_goconfirm {
	width: 180px;
	height: 60px;
	overflow: hidden;
	background-color: #FFFFFF;
	background-image: url(../images/mfp_goconfirm.gif);
	/*text-indent: -5000px;*/
	border: none;
	border-style: none;
	cursor: pointer;
}
input#button_mfp_reset {
	width: 180px;
	height: 60px;
	overflow: hidden;
	background-color: #FFFFFF;
	background-image: url(../images/mfp_reset.gif);
	border: none;
	border-style: none;
	cursor: pointer;
	/*text-indent: -5000px;*/
}
.reset_over {
	background-image: url(../images/mfp_reset_over.gif);
}
.reset_out {
	background-image: url(../images/mfp_reset.gif);
}
.confirm_over {
	background-image: url(../images/mfp_confirm_over.gif);
}
.confirm_out {
	background-image: url(../images/mfp_confirm.gif);
}

/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/*// 02.テーブルの指定                            //*/
/*//////////////////////////////////////////////////*/
table.mailform {
	width: 100%;
	padding: 10px;
}
table.mailform tr th {
	padding: 7px 0px 7px 0px;
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal;
	font-size: 13px;
	text-align: right;
	width: 170px;
}
table.mailform tr th span {
	font-size: 10px;
	color: #999999;
	display: block;
}
table.mailform tr td {
	padding: 7px 10px 7px 10px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 13px;
	line-height: 1.4em;

}

table.mailform tr td span.akab{
	background-color: #990000;
    color:#FFF;
    font-size:15px;
    padding:3px;
}

table.mailform tr td ul li,table.mailform tr td ul,table.mailform tr td ol,table.mailform tr td ol li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
table.mailform tr td ul li {
	float: left;
	padding: 0px 10px 0px 0px;
}
table.mailform tr td p,table.mailform tr td div,table.mailform tr td span {
	clear: both;
}

/*//////////////////////////////////////////////////*/
/*// 04.以下確認画面関連のスタイル                //*/
/*//////////////////////////////////////////////////*/
ul.confirm_layer {
	width: 720px;
	padding: 0px;
	margin: 0px;
}
ul.confirm_layer li {
	width: 720px;
	list-style: none;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
li.confirm_middle {
	background-image: url(../images/mfp_table_background.png?wide);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_background.png', sizingMethod='scale');
}
li.confirm_top {
	height: 33px;
	background-image: url(../images/mfp_table_top.png?wide);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_top.png', sizingMethod='scale');
}
li.confirm_bottom {
	height: 33px;
	background-image: url(../images/mfp_table_bottom.png?wide);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_bottom.png', sizingMethod='scale');
}
div#disabled_submit {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
div#disabled_submit input {
	margin: 10px;
}
table.infield {
	width: 660px;
	margin: 0px auto 0px auto;
}
table.infield tr th {
	padding: 5px;
	margin: 0px;
	text-align: right;
	font-size: 12px;
	width: 150px;
	border-bottom: solid 1px #CCCCCC;
	color: #232323;
}
table.infield tr td {
	padding: 5px;
	border-bottom: solid 1px #CCCCCC;
}
table.infield tr td p {
	text-align: left;
	font-size: 12px;
	line-height: 1.6em;
	border-left: solid 2px #CCCCCC;
	padding: 5px 0px 5px 10px;
	margin: 0px;
}
.mfp_color {
	background-color: #99CCFF;
}
div#confirmWindow {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	z-index: 1;
	position: fixed!important;
	position/**/:  absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #000000;
	font-size: 12px;
	text-align: center;
	_top: expression(
		document.documentElement && document.documentElement.scrollTop  || 
		document.body && body.scrollTop  || 0
		+ 0 + 'px'
	);
}
div#confirmBody {
	width: 1px;
	visibility: hidden;
	position: absolute;
	z-index: 10;
	text-align: center;
	margin: 0px auto 0px auto;
}
div#confirmBody div.mfp_title {
	color: #FFFFFF;
	margin: 0px auto 0px auto;
	width: 294px;
	height: 33px;
	padding-top: 10px;
}
div.buttons {
	margin: 0px auto 0px auto;
}

div#twex {
	margin: 0px;
	overflow: hidden;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	background-color: #000000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
}
img#loading_proccess_image {
	position: absolute;
	z-index: 1000;
}
/*//////////////////////////////////////////////////*/

dl.mailform {
	padding: 0px 15px;
	margin: 0px;
}

dl.mailform dt {
	float: left;
	width: 180px;
	clear: both;
	font-size: 12px;
	text-align: right;
	font-weight: normal;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}
dl.mailform dt span {
	display: block;
	font-size: 10px;
	color: #999999;
}
dl.mailform dd {
	padding: 10px 10px 15px 190px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 12px;
	margin: 0px;
}
dl.mailform dd ul,dl.mailform dd ol {
	margin: 0px;
	padding: 0px;
}
dl.mailform dd ul li,dl.mailform dd ol li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
dl.mailform dd ul li {
	/*float: left;*/
	padding: 0px 10px 0px 0px;
}

/*// Phase Input Style //*/

div.mfp_phase_section {
	display: none;
	padding: 2px 2px 15px 2px;
	margin: 10px 5px;
	border: solid 1px #EEEEEE;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #999999;
	-moz-box-shadow: 0px 0px 5px #999999;
	box-shadow: 0px 0px 5px #999999;
	clear: both;
}
p.mfp_caption {
	margin: 10px;
}
input.mfp_phase_ui {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 3px;
	margin: 5px 15px;
}
h3.mfp_phase_title {
	background-image: url(../images/mfp_h3.png);
	padding: 5px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 21px;
	margin: 0px 0px 10px 0px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
}
ol.mfp_phase_input_proccess {
	margin: 15px;
	height: 40px;
}
ol.mfp_phase_input_proccess li {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px 10px;
	margin: 5px;
	float: left;
	font-weight: bolder;
}
li.mfp_phase_disabled {
	-webkit-box-shadow: 1px 1px 4px #999999;
	-moz-box-shadow: 1px 1px 4px #999999;
	box-shadow: 1px 1px 4px #999999;
	background-color: #CCCCCC;
	border: solid 1px #999999;
}
li.mfp_phase_current {
	-webkit-box-shadow: 1px 1px 4px #999999;
	-moz-box-shadow: 1px 1px 4px #999999;
	box-shadow: 1px 1px 4px #999999;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
	background-image: url(../images/mfp_h3.png);
	border: solid 1px #FFFFFF;
	background-color: #FFEEEE;
}

.yoyaku_attention {
    float: left;
    margin: 6px 0 4px 0;
    font-weight: bold;
    color:#ff6666;
}