/* CSS Document */

/*-------------------------------------------------------------*/
/* €ΚCSS */
/*-------------------------------------------------------------*/

*{
	margin:0;
	padding:0;
}

body{
	color:#333;
	background-color:#fff;
	font-family:'qMmpS Pro W3','Hiragino Kaku Gothic Pro','CI',Meiryo,'lr oSVbN',sans-serif;
	line-height:1.4;
	font-size:75%;
	text-align:center;
}

a {
	overflow: hidden;
}

a:link,a:visited{
	color:#666;
	text-decoration: underline;
}

a:hover{
	color:#999;
	text-decoration: underline;
}

ul,ol{
	list-style:none;
}

img{
	border:none;
	vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-size:100%;
}

address {
	font-style: normal;
}

/*-------------------------------------------------------------*/
/* Φclass */
/*-------------------------------------------------------------*/

.alignC{
	text-align:center;
}
.alignL{
	text-align:left;
}
.alignR{
	text-align:right;
}

.valignT{
	vertical-align:top;
}

.valignM{
	vertical-align:middle;
}

.valignB{
	vertical-align:bottom;
}
