/* CSS Document */

#wrap {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}

h1 {
	margin: 10px 0 0 5px;
	font-size: 24px;
	font-weight: bold;
}

h2 {
	margin: 10px 0 0 5px;
	font-size: 20px;
}

hr {
	margin: 10px 0 0 0;
}

.table001 {
	width: 100%;
	border: 0;
	font-size: 14px;
}

.table001 tr td {
	width: 50%;
	text-align: center;
}

.table001 tr td img {
	margin: 20px 0 0 0;
}

.table001 tr td p {
	margin: 0 5px;
	text-align: left;
}

.table001 tr td ul {
	margin: 30px 5px 0 5px;
	border-style: double;
	text-align: left;
}

.table001 tr td ul li {
	margin: 0 0 0 20px;
	padding: 5px 0;
	list-style-type: disc;
}

p.pageTop {
	margin: 20px 5px 0 0;
	text-align: right;
}

p.pageClose {
	margin: 20px 0 10px 0;
	text-align: center;
}