/* CSS Document */

/* ---------------------------スタジオマップ設定---------------------------*/
.space{width:0px; height:371px;}
.map{width:900px; height:371px; position:absolute;}
.mPooint1{position:absolute; left:757px ; top:60px; width:81px; height:67px;}
.mPooint2{position:absolute; left:746px ; top:131px; width:80px; height:20px;}
.mPooint3{position:absolute; left:686px ; top:135px; width:30px; height:30px;}
.mPooint4{position:absolute; left:588px ; top:139px; width:86px; height:37px;}
.mPooint5{position:absolute; left:538px ; top:179px; width:49px; height:36px;}
.mPooint6{position:absolute; left:435px ; top:212px; width:54px; height:19px;}
.mPooint7{position:absolute; left:315px ; top:222px; width:106px; height:36px;}
/* -----------------------スタジオマップ設定end----------------------------*/