@charset "UTF-8";

/*//////////////////////////////////////////////////*/
/*// 01.ベースの設定                              //*/
/*//////////////////////////////////////////////////*/
form#mailform {
	margin: 0px auto 0px auto;
	padding: 0px;
}
form#mailform label {
	cursor: pointer;
	text-decoration: underline;
	display: block;
	padding: 2px;
	width: 98%;
	margin-bottom: 1px;
}
label.label_true {
	background-color: #FFFFEE;
	border: solid 1px #CCCCCC;
	text-decoration: none;
}
label.label_false {
	background-color: none;
	border: none;
	text-decoration: underline;
	background-image: none;
}
div#mailfrom_hidden_object {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
div#mailfrom_hidden_object input {
	margin: 10px;
}
div#mfp_closed {
	display: none;
}
div.mfp_disp {
	display: none;
}
div#input_time_disp {
	padding: 10px;
}
div#expires_time_disp {
	padding: 10px;
	text-align: center;
}
div#expires_time_disp strong {
	font-size: 18px;
	color: #CC0000;
}
div#limit_disp {
	padding: 10px;
	text-align: center;
}
div#limit_disp strong {
	font-size: 24px;
	color: #CC0000;
}
img.must {
	width: 30px;
	height: 16px;
	float: left;
	margin: 0px 0px 0px 5px;
}
div.mfp_err {
	text-align: left;
	margin: 5px 0px 0px 0px;
	padding: 3px 0px 5px 17px;
	color: #FF0000;
	font-size: 12px;
	line-height: normal;
	display: none;
	background-image: url(../images/mfp_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
input.mfp {
	padding: 2px;
}
div#mfp_buttons {
	padding: 0px;
	text-align: center;
}
div#mfp_buttons ul {
	width: 360px;
	height: 60px;
	overflow: hidden;
	margin: 0px auto 0px auto;
}
div#mfp_buttons ul li {
	width: 180px;
	height: 60px;
	overflow: hidden;
	float: left;
}
input#button_mfp_goconfirm {
	width: 180px;
	height: 60px;
	overflow: hidden;
	background-color: #FFFFFF;
	background-image: url(../images/mfp_goconfirm.gif);
	/*text-indent: -5000px;*/
	border: none;
	border-style: none;
	cursor: pointer;
}
input#button_mfp_reset {
	width: 180px;
	height: 60px;
	overflow: hidden;
	background-color: #FFFFFF;
	background-image: url(../images/mfp_reset.gif);
	border: none;
	border-style: none;
	cursor: pointer;
	/*text-indent: -5000px;*/
}
.reset_over {
	background-image: url(../images/mfp_reset_over.gif);
}
.reset_out {
	background-image: url(../images/mfp_reset.gif);
}
.confirm_over {
	background-image: url(../images/mfp_confirm_over.gif);
}
.confirm_out {
	background-image: url(../images/mfp_confirm.gif);
}

/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/*// 02.テーブルの指定                            //*/
/*//////////////////////////////////////////////////*/
table.mailform {
	width: 100%;
	padding: 10px;
}
table.mailform tr th {
	padding: 7px 0px 7px 0px;
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal;
	font-size: 12px;
	text-align: right;
	width: 160px;
}
table.mailform tr th span {
	font-size: 10px;
	color: #999999;
	display: block;
}
table.mailform tr td {
	padding: 7px 0px 7px 10px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 12px;
}
table.mailform tr td ul li,table.mailform tr td ul,table.mailform tr td ol,table.mailform tr td ol li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
table.mailform tr td ul li {
	float: left;
	padding: 0px 10px 0px 0px;
}
table.mailform tr td p,table.mailform tr td div,table.mailform tr td span {
	clear: both;
}

/*//////////////////////////////////////////////////*/
/*// 04.以下確認画面関連のスタイル                //*/
/*//////////////////////////////////////////////////*/
ul.confirm_layer {
	width: 560px;
	padding: 0px;
	margin: 0px;
}
ul.confirm_layer li {
	width: 560px;
	list-style: none;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
li.confirm_middle {
	background-image: url(../images/mfp_table_background.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_background.png', sizingMethod='scale');
}
li.confirm_top {
	height: 33px;
	background-image: url(../images/mfp_table_top.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_top.png', sizingMethod='scale');
}
li.confirm_bottom {
	height: 33px;
	background-image: url(../images/mfp_table_bottom.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_bottom.png', sizingMethod='scale');
}
div#disabled_submit {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
div#disabled_submit input {
	margin: 10px;
}
table.infield {
	width: 500px;
	margin: 0px auto 0px auto;
}
table.infield tr th {
	padding: 5px;
	margin: 0px;
	text-align: right;
	font-size: 14px;
	border-bottom: solid 1px #CCCCCC;
	color: #232323;
}
table.infield tr td {
	padding: 5px;
	border-bottom: solid 1px #CCCCCC;
}
table.infield tr td p {
	text-align: left;
	font-size: 12px;
	line-height: 1.5em;
	border-left: solid 2px #CCCCCC;
	padding: 5px 0px 5px 10px;
	margin: 0px;
}
.mfp_color {
	background-color: #E8EEF9;
}
div#confirmWindow {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	z-index: 1;
	position: fixed!important;
	position/**/:  absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #000000;
	font-size: 12px;
	text-align: center;
	_top: expression(
		document.documentElement && document.documentElement.scrollTop  || 
		document.body && body.scrollTop  || 0
		+ 0 + 'px'
	);
}
div#confirmBody {
	width: 1px;
	visibility: hidden;
	position: absolute;
	z-index: 10;
	text-align: center;
	margin: 0px auto 0px auto;
}
div#confirmBody h2 {
	color: #FFFFFF;
	margin: 0px auto 0px auto;
	width: 294px;
	height: 33px;
	padding-top: 10px;
}
div.buttons {
	margin: 0px auto 0px auto;
}

div#twex {
	margin: 0px;
	overflow: hidden;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	background-color: #000000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
}
img#loading_proccess_image {
	position: absolute;
	z-index: 1000;
}
/*//////////////////////////////////////////////////*/
