/* CSS Document */

/*-------------------------------------------------------------*/
/* ¤ÊX^CV[g */
/*-------------------------------------------------------------*/

*{
	margin:0;
	padding:0;
}

body{
	color:#999;
	font-family:'qMmpS Pro W3','Hiragino Kaku Gothic Pro','CI',Meiryo, "lr oSVbN", Osaka, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center; /* IEoOÎô */
	background-color:#000;
}

#wrap{
	width:760px; /* SÌÌ¡ */
	margin:0 auto; /* Z^[ñ¹ */
	text-align:left; /* IEoOÎô */
}

a:link,a:visited{
	color:#999;
	text-decoration:underline;
}

a:hover{
	color:#666;
	text-decoration:underline;
}

form{
	margin:0;
	padding:0;
}

p,dt,dd{
	line-height:1.4;
}

li{
	line-height:1.4;
	list-style:none;
}

img,table,object{
	border:none;
}

h1,h2,h3,h4,h5,h6{
	line-height:1.4;
	font-size:11px;
	font-weight:normal;
}

.clear-b{
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	clear:both;
}

.align-c{
	text-align:center;
}
.align-l{
	text-align:left;
}
.align-r{
	text-align:right;
}

.float-l{
	float:left;
}

.float-r{
	float:right;
}

.valign-t{
	vertical-align:top;
}

.valign-m{
	vertical-align:middle;
}

.valign-b{
	vertical-align:bottom;
}
