/* CSS Document */

h1{
	width:556px;
	height:99px;
	background:url(../img/error.gif) no-repeat left top;
	text-indent:-99999px;
	margin:24px 105px 0;
}

#main-image{
	width:360px;
	margin:32px 200px 0;
}

#area{
	width:600px;
	margin:18px 80px 0;
}

#area-left{
	width:170px;
	float:left;
}

#area-left ul li.bt-home a{
	display:block;
	width:84px;
	height:25px;
	background:url(../img/bt-home.gif) no-repeat left top;
	text-indent:-999999px;
	overflow:hidden;
	margin:0 86px 10px 0;
}

#area-left ul li.bt-home a:hover{
	display:block;
	width:84px;
	height:25px;
	background:url(../img/bt-home.gif) no-repeat left bottom;
	text-indent:-999999px;
	overflow:hidden;
	margin:0 86px 10px 0;
}

#area-right{
	width:170px;
	float:right;
}

#area-right ul li.bt-sitemap a{
	display:block;
	width:116px;
	height:25px;
	background:url(../img/bt-sitemap.gif) no-repeat left top;
	text-indent:-999999px;
	overflow:hidden;
	margin:0 0 10px 54px;
}

#area-right ul li.bt-sitemap a:hover{
	display:block;
	width:116px;
	height:25px;
	background:url(../img/bt-sitemap.gif) no-repeat left bottom;
	text-indent:-999999px;
	overflow:hidden;
	margin:0 0 10px 54px;
}

#kensakumado{
	width:260px;
	float:left;
}

#kensakumado form{
	text-align:center;
}

.form-left{
	width:160px;
	vertical-align:middle;
	background-color:#999;
}

.form-right{
	vertical-align:middle;
}

#copy{
	text-align:center;
	margin:4px 0 0 0;
}