@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
display: block;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
:focus {
outline: 0;
}
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}
img{
vertical-align:bottom;
}
.clear {clear: both;}
.clearfix:after {
height: 0;
visibility: hidden;
content: ".";
display: block;
clear: both;
}
body {
background-color: #fff;
line-height: 1.4em;
color: #4c4c4c;
font-size: 93%;
font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
-webkit-text-size-adjust: none;
}
nav ul#globalNavigation {
margin: 0 0 25px 0;
padding: 0;
vertical-align: middle;
border: #cacaca solid;
border-width: 1px 0 0 0;
font-size:105%;
}
nav ul#globalNavigation li a {
display: block;
width: 100%;
height: 41px;
color: #4c4c4c;
text-decoration: none;
vertical-align: middle;
}
nav ul#globalNavigation li {
display: block;
width: 100%;
height: 41px;
line-height: 41px;
vertical-align: middle;
background-color:#e7e7e7;
border: #cacaca solid;
border-width: 0 0 1px 0;
}
nav ul#globalNavigation li span {
display: block;
margin: 0 5px;
}
nav ul#globalNavigation li a span.allow {
background: url(../images/common/navigation_arrow.png) no-repeat right center;
}
.menu-red{
font-weight:bold;
font-size:120%;
color:#990000;
}
#globalFooter {
width: 100%;
}
#globalFooter .footerInfo{
margin:10px 5px;
text-align:center;
font-size:90%;
}
#globalFooter p.pagetop {
text-align: center;
margin: 0px;
padding: 8px 0px;
border: #d5ebeb solid;
border-width: 1px 0 1px 0;
background-color:#0e0e0e;
color:#ffffff;
}
#globalFooter p.pagetop a{
display:block;
color:#ffffff;
}
#globalFooter .copyright {
padding: 10px 0px;
text-align: center;
margin: 0px;
background-color:#e7e7e7;
font-size:80%;
}
#globalHeader {
height:83px;
background-color:#fff;
text-align:center;
border: #ffffff solid;
border-width: 0 0 1px 0;
}
h1{
margin:0;
}
.pageTitle{
text-align:left;
background-color:#212121;
height:41px;
margin:0 0 30px 0;
}
.pageTitle h2{
font-size:115%;
font-weight:normal;
line-height: 41px;
color:#ffffff;
}
.titleLeft {
float: left;
display:block;
position:relative;
margin:4px 0 0 3px;
width:58px;
}
nav h3 {
background-color:#1b1b1b;
position:relative;
display: block;
height: 32px;
padding:0 0 0 6px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
}
nav h3 img{
position:absolute;
top: 50%;
margin: -7px 0 0 0;
}
.text {
margin:0 5px 25px 5px;
}
.text p a #biga {
font-weight: bold;
font-size: 190%;
color: #990000;
line-height: 1.5em;
}
.aka{
color:#990000;
}
.aka-big{
font-size:120%;
color:#990000;
font-weight:bold;
line-height:170%;
}
#smallred {
font-size:80%;
color:#990000;
}
#small {
font-size:80%;
color:#777777;
}
#mac{
margin:5px auto;
text-align:center;
width:320px;
position:relative;s
}
#mac a, #mac a:visited {
color:#0196e3;
text-decoration:none;
outline:none;
}
#mac a:hover{
text-decoration:underline;
}
#mac p{
padding:10px;
text-align:center;
}
.imagediv
{
position:relative;
width:100%;
vertical-align:middle;
overflow:hidden;
margin:0;
padding:0;
}
.imagediv ul
{
position:relative;
margin:0;
padding:0;
list-style-type: none;
width:9999px;
}
.imagediv li
{
float: left;
margin:0 2px 0 2px;
padding:0;
vertical-align:top;
margin-top:5px;
text-align:center;
width:66px;
}
.p9{
font-size80%;
margin:0 5px 0 5px;
line-height:1.4em;
}
.catch{
font-size: 100%;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 0;
line-height: 1.2em;
}
.center{
font-size:120%;
text-align:center;
font-weight:bold;
}
.jCarousel {
margin: 0 auto;
margin-bottom: 15px;
text-align: center;
-webkit-transition: margin 0.5s ease-in-out;
transition: margin 0.5s ease-in-out;
test-align: center;
}
div#faq{
width:100%;
height:auto;
padding: 0 10px;
box-sizing: border-box;
}
div#faq ul#faqList {
width:100%;
height:auto;
}
div#faq ul#faqList li {
list-style-type: none;
border-bottom: 1px solid #eee;
padding: 10px 0 10px 0;
}
div#faq ul#faqList li:nth-child(1) {
border-top: 1px solid #eee;
padding-top:10px;
}
div#faq ul#faqList li p {
width:auto;
height:auto;
line-height:1.9;
display:inline;
}
div#faq ul#faqList li p.question {color:#990000;font-size:105%;text-decoration:underline;
display: block;}
div#faq ul#faqList p.question:hover {text-decoration:underline;}
div#faq ul#faqList li div.answer {
width:100%;
height:auto;
padding:10px;
box-sizing: border-box;
background-color:#f8f8f8;
border-radius: 4px;
margin-top:10px;
font-size:98%;
}
#movie{
width:100%;
}
#movie p{
font-size:96%;
line-height:1.6em;
color:#3F3F3F;
padding:5px;
margin:10px 5px 10px 10px;
}
#movie p.namel{
text-align:right;
color:#666;
}
.breadcrumb {
width: 100%;
border-top:1px solid #eee;
border-bottom: 1px solid #eee;
padding: 6px 10px 4px 10px;
text-overflow: ellipsis;
box-sizing: border-box;
margin-top:58px;
}
.breadcrumb_list {
margin: 0;
padding: 0;
}
.breadcrumb_list > li {
list-style: none;
float: left;
font-size: 90%;
}
.breadcrumb_list > li a {
text-decoration: none;
}
.breadcrumb_list > li:nth-child(1) {
margin-right: 10px;
}
.breadcrumb_list > li:nth-child(1):after {
content: ">";
margin-left: 10px;
}
.breadcrumb_list.recommend > li:nth-child(2) {
margin-right: 10px;
}
.breadcrumb_list.recommend > li:nth-child(2):after {
content: ">";
margin-left: 10px;
}
.float-right{
float: right;
}
.fa{
font-size: .8em;
line-height: 22px !important;
}
dropdown{
display: inline-block;
}
dropdown label {
display: block;
color: #464646;
padding: 0;
}
dropdown ul li{
display: block;
color: #464646;
border-bottom: 1px solid #eee;
}
dropdown ul li a {
text-decoration: none;
display: block;
padding: 12px 10px 12px 10px;
font-size: 90%;
}
dropdown label:hover, dropdown ul li:hover{
color: #222;
cursor: pointer;
}
dropdown label{
color: #464646;
position: relative;
z-index: 2;
}
dropdown input{
display: none;
}
dropdown input ~ ul{
position: relative;
visibility: hidden;
opacity: 0;
top: -20px;
z-index: 1;
}
dropdown input:checked + label{
background: transparent;
color: #333;
}
dropdown input:checked ~ ul{
visibility: visible;
opacity: 1;
top: 0;
}
$colors: #E74C3C, #0072B5, #2C3E50;
@for $i from 1 through length($colors) {
dropdown ul li:nth-child(#{$i}) {
border-left: 4px solid nth($colors, $i);
.fa{
color: nth($colors, $i);
}
&:hover {
background: nth($colors, $i);
color: white;
.fa{
color: white;
}
}
}
}
.animate{
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-ms-transition: all .3s;
transition: all .3s;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
}
.head_menu_list {
position: absolute;
z-index: 20000;
margin-top: 64px;
background-color:rgba(255,255,255,1);
border-radius: 3px;
width: 310px;
margin-left: -250px;
box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
}
.head_menu_list > li {
width: 50%;
float: left;
}
.head_menu_list > li:nth-child(odd) {
border-right: 1px solid #eee;
box-sizing: border-box;
}
.btn_head_menu {
display: block;
text-indent: -999em;
width: 64px;
height: 44px;
background-image: url(../img/head_btn_menu.png);
background-size: 100%;
}
.btn_head_menu:hover {
display: block;
text-indent: -999em;
width: 64px;
height: 44px;
background-image: url(../img/head_btn_menu.png);
background-size: 100%;
}
header.main_header {
width: 100%;
padding: 6px 0;
border-top: 2px solid #ae2025;
position: fixed;
z-index: 20000;
top: 0;
background-color: #fff;
box-shadow:rgba(0, 0, 0, 0.0980392) 0px 0px 3px 1px;
-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0px 0px 3px 1px;
-moz-box-shadow:rgba(0, 0, 0, 0.0980392) 0px 0px 3px 1px;
}
.head_inner {
}
.head_logo {
float: left;
}
.head_logo img {
height: 44px;
width: 230px;
vertical-align:bottom;
}
.head_menu {
float: right;
margin-right: 0px;
}
.page_img {
border-bottom:1px solid #eee;
}
.page_description {
padding: 10px 10px 10px 10px;
box-sizing: border-box;
}
.page_description p {
margin-bottom: 6px;
}
.real_voice {
}
.voice_list {
margin: 0;
padding: 0;
}
.voice_list > li {
padding: 14px 10px 12px 10px;
width: 100%;
box-sizing: border-box;
border-bottom:1px solid #eee;
clear: both;
}
.voice_list > li:nth-child(1) {
border-top: 1px solid #eee;
}
.voice_title {
width: 100%;
font-weight: bold;
margin-bottom: 4px;
}
.voice_photo {
float: left;
width: 80px;
}
.voice_photo a {
display: block;
}
.voice_photo img {
width: 70px;
border-radius: 3px;
}
.voice_text {
font-size: 90%;
margin-left: 80px;
padding-top: 6px;
}
.offer_apply {
margin: 10px 0 10px 0;
}
h2.offer_title {
font-size: 16px;
text-align: center;
font-weight: bold;
margin: 4px 0 10px 0;
}
.btn_offer_apply {
background-image: -moz-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
border:4px solid rgb(174, 32, 37);
border-radius: 4px;
display: block;
width: 90%;
margin: 0 auto;
background-repeat: no-repeat;
overflow: hidden;
padding: 8px 0;
}
.offer_attention {
font-size: 80%;
color:#555;
margin: 10px 0;
padding: 0 10px;
box-sizing: border-box;
}
.btn_offer_apply p {
text-align: center;
}
.btn_offer_apply img {
width: 250px;
}
.foot_nav {
width: 100%;
}
.foot_nav_list {
margin:0;
padding: 0;
border-top:1px solid #eee;
}
.foot_nav_list > li {
width: 50%;
float: left;
font-size: 90%;
box-sizing: border-box;
border-bottom:1px solid #eee;
}
.foot_nav_list > li a {
text-decoration: none;
box-sizing: border-box;
padding: 10px 2px 10px 6px;
display: block;
}
.foot_nav_list > li:nth-child(odd) {
border-right: 1px solid #eee;
box-sizing: border-box;
}
.gl_foot {
width: 100%;
}
.foot_logo {
margin-top:20px;
}
.foot_logo img {
text-align: center;
width: 100%;
}
.showroom_text {
text-align: center;
}
.showroom_text a {
display: block;
margin-bottom: -10px;
}
.pagetop a {
background-color: #222;
font-size: 90%;
color:rgba(255,255,255,0.8) !important;
text-decoration: none;
padding: 10px 0;
display: block;
box-sizing: border-box;
text-align: center;
}
.foot_showroom_list {
}
.showroom_space {
text-align: center;
}
.foot_showroom_list > li {
padding: 10px 0;
}
.copyright {
text-align: center;
font-size: 60%;
margin-top: 20px;
}
.new_top_img {
margin-top:58px;
}
.top_main_img {
width: 100%;
margin-top: 58px;
}
.top_main_img img {
width: 100%;
}
.hosoku {
font-size: 80%;
text-align: center;
margin: 6px 0 10px 0;
}
.top_catch {
padding: 10px 0;
}
.top_catch_strong {
text-align: center;
font-weight: bold;
font-size: 120%;
margin: 5px 0 3px 0;
}
.top_catch_text {
text-align: center;
padding: 0 10px;
box-sizing: border-box;
}
.top_staff {
}
.top_staff img {
width: 100%;
}
h3.staff_all_h3 {
background-color: #990000;
color:#fff;
padding: 9px 0;
text-align: center;
font-size: 90%;
}
.business_trip_area {
text-align: center;
border-bottom:1px solid #eee;
}
.btn_bussiness_trip_area {
border-radius: 3px;
border:1px solid #ddd;
width:90%;
display: block;
padding: 6px 0 8px 0;
margin: 8px auto;
text-decoration: none;
}
.top_explain_area {
margin: 0;
}
h2.coco_original {
font-size: 100%;
font-weight: bold;
margin: 10px 0 4px 0;
}
.explain_list {
margin: 0;
padding: 0;
}
a:link,a:visited,a:active{
color:#4c4c4c;
text-decoration:undeline;
}
a:hover {
color:#4c4c4c;
text-decoration:none;
}
.left {text-align: left !important;}
.right {text-align: right !important;}
.center {text-align: center !important;}
.vmiddle {vertical-align: middle;}
.mb20{ margin-bottom:20px;}body h3 {
font-size: 100%;
line-height: 1em;
margin-top: 10px;
font-weight: bolder;
}
.text p #biga a {
font-size: 190%;
color: #990000;
text-decoration: none;
line-height: 1.5em;
}
.form_small {
margin: 10px 0 0 0;
float: right;
}
.form_small_2 {
margin: 0px 0 0 0;
float: right;
}
.tc {
text-align: center;
padding: 10px 12px;
font-size: 80%;
box-sizing: border-box;
}
.top_main {
margin-top: 58px;
position: relative;
}
.top_main_upimg {
position: absolute;
top:0;
width: 100%;
z-index: 4000;
}
.top_main_upimg img {
width: 100%;
}
.top_main_btn {
position: absolute;
bottom:14px;
left: 10px;
z-index: 5000;
}
.btn_top_main_order {
border: 2px solid rgba(238,238,238,0.99);
display: block;
height: 36px;
line-height: 34px;
width: 220px;
border-radius: 3px;
text-align: center;
background-color:rgba(174,32,37,0.85);
color: #fff !important;
font-weight: bold;
text-decoration: none;
}
@media screen and (min-width: 760px) {
.top_main_btn {
position: absolute;
bottom:52px;
left: 28px;
z-index: 5000;
}
.btn_top_main_order {
border: 2px solid rgba(238,238,238,0.99);
display: block;
height: 66px;
line-height: 64px;
width: 420px;
font-size: 160%;
border-radius: 3px;
text-align: center;
background-color:rgba(174,32,37,0.85);
color: #fff !important;
font-weight: bold;
text-decoration: none;
}
}
@media screen and (min-width: 980px) {
.top_main_btn {
position: absolute;
bottom:92px;
left: 42px;
z-index: 5000;
}
.btn_top_main_order {
border: 2px solid rgba(238,238,238,0.99);
display: block;
height: 66px;
line-height: 64px;
width: 420px;
font-size: 160%;
border-radius: 3px;
text-align: center;
background-color:rgba(174,32,37,0.85);
color: #fff !important;
font-weight: bold;
text-decoration: none;
}
}
.top_select_nav {
border-bottom: 1px solid #eee;
}
.top_select_btn_list > li {
float: left;
width: 50%;
padding: 10px 0 14px 0;
}
.top_select_btn_list > li a {
text-align: center;
display: block;
margin: 0 auto;
border: 1px solid #ddd;
border-radius: 3px;
height: 40px;
line-height: 36px;
width: 90%;
text-decoration: none;
padding-left: 10px;
box-sizing: border-box;
}
.top_main_order {
margin-bottom: 20px;
}
.top_headline {
font-size: 110%;
font-weight: normal;
margin: 20px 0 6px 10px;
}
.order_explain {
padding: 10px 12px 0 12px;
line-height: 1.5;
}
.staff80 {
box-sizing: border-box;
margin-top: 0px;
}
.top_content_title {
background-color: #b6353a;
padding: 6px 0 6px 12px;
color:#fff;
font-size: 90%;
margin: 0;
font-weight: normal;
}
.staff80 img {
width: 100%;
}
.text_description {
padding: 8px 12px 14px 12px;
box-sizing: border-box;
line-height: 1.5;
}
.text_description_last {
padding: 8px 12px 8px 12px;
box-sizing: border-box;
line-height: 1.5;
}
.ticker {
background-color: #b6353a;
padding: 5px 0 7px 0;
color: #fff;
overflow: hidden;
position: relative;
}
.news_title {
position: absolute;
left:0;
background-color: #b6353a;
z-index: 5000;
padding: 1px 12px 0 12px;
font-size: 90%;
}
.ticker p {
display: inline-block;
white-space: nowrap;
padding-left: 100%;
-webkit-animation-name: ticker-animation;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 12s;
animation-name: ticker-animation;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 12s;
}
@-webkit-keyframes ticker-animation {
from   { -webkit-transform: translate(0%);}
99%,to { -webkit-transform: translate(-100%);}
}
@keyframes ticker-animation {
from   { -webkit-transform: translate(0%);}
99%,to { -webkit-transform: translate(-100%);}
}
.ticker p a {
color: #fff;
text-decoration: none;
font-size: 90%;
}
.slider {
position: relative;
width: 100%;
overflow: hidden;
}
.slides {
height: 100%;
overflow: hidden;
*zoom: 1;
}
.slide {
height: 100%;
float: left;
clear: none;
}
.slide img {
width: 100%;
}
.slider-arrow {
position: absolute;
display: block;
margin-bottom: -20px;
padding: 20px;
}
.slider-arrow--right {
bottom: 50%;
right: 30px;
background: url(img/right.png) no-repeat;
}
.slider-arrow--left {
bottom: 50%;
left: 30px;
background: url(img/left.png) no-repeat;
}
.slider-nav {
position: absolute;
bottom: 30px;
}
.slider-nav__item {
width: 12px;
height: 12px;
float: left;
clear: none;
display: block;
margin: 0 5px;
border: 1px solid #fff;
border-radius: 8px;
}
.slider-nav__item:hover {
background: #fff;
}
.slider-nav__item--current {
background: #fff;
}
.concept_point {
margin-top:10px;
}
.concept_point img {
width: 100%;
}
.concept_1_title img, .concept_2_title img, .concept_3_title img, .concept_4_title img, .concept_5_title img {
width:100%;
}
.concept_1_title {
margin-top: 10px;
margin-bottom: 10px;
}
.concept_2_title, .concept_3_title, .concept_4_title {
margin-bottom: 8px;
}
.concept_5_title {
margin-bottom:8px;
}
.concept_text {
padding: 0px 10px;
box-sizing: border-box;
margin-bottom: 18px;
margin-top: 6px;
}
.concept_inside_photo {
padding: 0 10px;
box-sizing: border-box;
}
.concept_inside_photo img {
width: 100%;
}
.concept_2_photo img {
width:100%;
}
.type_explain_text {
padding: 0px 10px;
box-sizing: border-box;
margin-bottom: 18px;
margin-top: 6px;
}
.recommend_typetitle {
width: 100%;
box-sizing: border-box;
padding: 6px 10px 8px 10px;
font-size: 16px;
font-weight: bold;
border-bottom: 1px solid #eee;
}
label.type_link:nth-child(odd) {
background: #f2f2f2;
color: #464646;
padding: 4px;
display: block;
margin: 0;
box-sizing: border-box;
border-bottom: 1px solid #eee;
height: 89px;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
}
label.type_link {
background: #fff;
color: #464646;
padding: 4px;
display: block;
margin: 0;
box-sizing: border-box;
border-bottom: 1px solid #eee;
height: 89px;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
}
input[type="checkbox"].on-off{
display: none;
}
.menu ul {
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
margin: 0;
padding: 0;
list-style: none;
}
.menu li {
padding: 5px;
}
input[type="checkbox"].on-off + ul{
height: 0;
overflow: hidden;
}
input[type="checkbox"].on-off:checked + ul{
height: auto;
border-bottom: 1px solid #eee;
}
.type_photo {
float: left;
width: 80px;
}
.type_photo img {
width: 80px;
}
.type_name {
margin-left: 90px;
padding-top: 20px;
}
.type_name_part {
overflow: hidden;
font-size: 90%;
text-overflow: ellipsis;
color:#888;
}
.type_name_strong {
font-weight: bold;
}
.type_explain p {
padding: 6px 10px 10px;
}
.btn_more_type {
text-align: center;
width: 90%;
padding: 0px 10px;
box-sizing: border-box;
height: 38px;
line-height: 2.4;
display: block;
border-radius: 3px;
border:1px solid #eee;
margin: 0 auto 10px auto;
text-decoration: none;
}
.btn_more_type:hover {
background-color: #eee;
}
.type_ex_title {
text-align: center;
margin-top: 10px;
}
.shoplist_area {
border-bottom: 1px solid #eee;
margin-bottom: 30px;
}
.area_name {
font-size: 16px;
font-weight: bold;
padding: 10px 0px 10px 10px;
box-sizing: border-box;
background-color: #f8f8f8;
border-top:1px solid #eee;
border-bottom: 1px solid #eee;
margin: 0 0 0px 0;
}
.area_part {
padding: 10px;
box-sizing: border-box;
}
.media_list {
border-bottom: 1px solid #eee;
margin-bottom: 30px;
}
.media_list_1 {
}
.media_list_1 img, .media_list_2 img, .media_list_3 img, .media_list_4 img, .media_list_5 img, .media_list_6 img, .media_list_7 img, .media_list_8 img, .media_list_9 img, .media_list_10 img, .media_list_11 img, .media_list_12 img {
width: 100%;
border-top:1px solid #eee;
border-bottom: 1px solid #eee;
}
.media_type {
padding: 4px 0 4px 10px;
box-sizing:border-box;
font-size: 90%;
color:#fff;
}
.media_type.zassi {
background-color: #efa853;
}
.media_type.tv {
background-color: #c24e4e;
}
.media_list_name {
margin: 0;
box-sizing: border-box;
padding: 8px 10px 7px 10px;
border-bottom: 1px solid #eee;
line-height: 1.2;
}
.media_list_text {
padding: 10px 10px;
box-sizing: border-box;
}
.brand_all {
margin-bottom: 30px;
}
.brand_all_list {
margin: 0;
padding: 0;
}
.brand_all_list > li {
width: 50%;
float: left;
border-bottom: 1px solid #eee;
}
.brand_all_list > li:nth-child(1) {
border-top: 1px solid #eee;
}
.brand_all_list > li:nth-child(2) {
border-top: 1px solid #eee;
}
.brand_all_list > li:nth-child(odd) {
border-right: 1px solid #eee;
box-sizing: border-box;
}
.brand_img img {
width: 100%;
}
.brand_name p {
text-align: center;
font-size: 80%;
border-top:1px dashed #eee;
padding: 6px 10px;
box-sizing: border-box;
margin: 0 10px;
}
#lean_overlay{
position: fixed; z-index:100;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: #000;
display: none;
}
.modal_bg {
background: none repeat scroll 0 0 #FFFFFF;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
display: none;
padding: 30px;
}
.modal_bg img {
border: 1px solid #eee;
margin-bottom: 8px;
}
.modal_close{
position: absolute;
top: 12px;
right: 12px;
display: block;
width: 14px;
height: 14px;
background: url(../img/modal_close.png);
z-index: 2;
}
.showroom_area {
margin-bottom:30px;
}
.showroom_area_list {
margin:0;
padding:0;
}
.showroom_area_list > li {
width:100%;
border-bottom:1px solid #eee;
}
.showroom_tokyo, .showroom_yokohama, .showroom_chiba {
margin:0px 0 10px 0;
}
.showroom_tokyo img, .showroom_yokohama img, .showroom_chiba img {
width:100%;
}
.showroom_info_list > li {
margin-bottom: 4px;
}
.showroom_info_list > li:nth-child(1) {
font-size:16px;
font-weight:bold;
}
.showroom_tokyo_info, .showroom_yokohama_info, .showroom_chiba_info {
padding: 0 10px 20px 10px;
box-sizing: border-box;
}
.flow_first {
margin-bottom: 30px;
padding: 0 10px;
box-sizing: border-box;
}
.flow_first_list > li {
width: 100%;
}
.flow_image {
float: left;
width: 50px;
}
.flow_image img {
width: 50px;
border-radius: 3px;
}
.flow_text {
margin-left: 60px;
}
.arrow_img img {
width: 100%;
}
.flow_text_title {
font-weight: bold;
padding-bottom: 4px;
padding-top: 4px;
padding-left: 4px;
border-left: 3px solid #eee;
}
.step_order img {
width: 100%;
border-radius: 3px;
}
.midashi{
font-size:105%;
margin:0 0 10px 0;
color:#353535;
}
.googleMap{
text-align:center;
margin:0 0 5px 0;
}
#map {
text-align:center;
width:100%;
height:200px;
}
.entryItem {
border: #dcdcdc solid;
border-width: 1px;
padding:8px;
margin:0 0 8px 0;
background-color:#ffffff;
zoom: 100%;
}
.entryItem img {
float: left;
margin: 0 10px 0 0;
}
.entryItem .itemName {
margin-bottom: 5px;
font-size:105%;
color:#990000;
font-weight:bold;
}
.entryItem:after {
content: "";
clear: both;
height: 0;
display: block;
visibility: hidden;
}
.entryItem .itemtext {
margin: 5px;
font-size:95%;
}
.colorccc {
color:#ccc;
}
.displaynone {
display:none;
}