@charset "utf-8";
/*------------------------------------------------------------
	トップページ専用
------------------------------------------------------------*/
/*-----ヘッダー-----*/
#topHeader {
	height: auto;
	background-color: #FFF;
	text-align: left;
}

/*-----新着情報-----*/
#topNews {
	margin: 0 0 25px 0;
}
#topNews h2 {
	background-color:#1b1b1b;
	position:relative;  
	display: block;
	height: 32px;
	padding:0 0 0 6px;
    -webkit-border-top-left-radius: 8px;   
    -webkit-border-top-right-radius: 8px;   
    -moz-border-radius-topleft: 8px;   
    -moz-border-radius-topright: 8px;   
}
#topNews h2 img{
	position:absolute;  
	top: 50%;  
	margin: -7px 0 0 0;  
}












#topNews dl {
	background-color:#ffffff;
	overflow:auto;
    font-size:90%;
} 
#topNews dt {
	float:left;
	display:block;
	margin: 0px;
	padding: 8px 0px 0px 5px;
	list-style-type:none;

	font-size:90%;
} 
#topNews dd {
	display:block;
	border: #cacaca solid;
	border-width: 0 0 1px 0;
	padding:8px 0px 8px 60px;
} 
#topNews dd a{
	display:block;
} 




/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../images/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:320px;
	overflow:hidden;
}

#slides{
	/* This is the slide area */
	height:134px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:320px;
	overflow:hidden;
}

.slide{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
	height:35px;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu li{
	/* Every thumbnail is a li element */
	width:58px;
	display:inline-block;
	list-style:none;
	height:39px;
	overflow:hidden;
}

#menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../images/pic_bg.png) repeat;
}

#menu li.act,#menu0 li.act:hover{
	/* The active state of the thumb */
	background:url(../images/active_bg.png) no-repeat;
}

#menu li.act a{
	cursor:default;
}

#menu .fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(../images/divider.png) no-repeat right;
}

#menu li a{
	display:block;
	background:url(../images/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

#menu a img{
	border:none;
}


/* The styles below are only necessary for the demo page */


#mac{
	/* The main container */
	margin:5px auto;
	text-align:center;
	width:320px;
	position:relative;s
}

#mac a, #mac a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

#mac a:hover{
	text-decoration:underline;
}

#mac p{
	padding:10px;
	text-align:center;
}

/* slider */

.imagediv
{
	position:relative;
	width:100%;
	vertical-align:middle;
	overflow:hidden;
	margin:0;
	padding:0;
}
.imagediv ul
{
	position:relative;
	margin:0;
	padding:0;
	list-style-type: none;
	width:9999px;
}
.imagediv li
{
	float: left;
	margin:0 2px 0 2px;
	padding:0;
	vertical-align:top;
	margin-top:5px;
	text-align:center;
	width:66px;
}
.midashi {
	color: #990000; 
	font-weight: bold;
}
#big {
	font-size: 190%;
	font-weight: 500;
	line-height: 150%;
	color: #990000;
}

.text p #biga a {
	font-size: 190%;
	color: #990000;
	text-decoration: none;
	line-height: 1.5em;
}

#staff80 h3 {
	color: #FFFFFF;
	font-size: 85%;
	width: 100%;
	background-color: #990000;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
