label.errClass {
	color:#ff0000;
}

div[data-role="header"] a{
	margin:0px;
	padding:0px;
}

div[data-role="header"] a img{
	margin:0px;
	height:31px;
	width:53px;
}

a.tel{
	font-size:14pt;
}

p#returnmess{
	width:100%;
	margin:20px 0px;
	text-align:center;
}

