form#mailformpro {
	padding: 10px 0px 10px 6px;
}
form#mailformpro dl dt {
	clear: both;
	font-size: 18px;
	padding: 10px 0px;
	margin: 0px;
	font-weight: bold;
}
form#mailformpro dl dd {
	margin: 0px 0px 20px;
	padding: 0px;
	font-size: 18px;
	line-height: 1.5em;
	width:100%;
}
form#mailformpro dl dd ul,form#mailformpro dl dd ol {
	margin: 0px;
	padding: 0px;
}
form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.must {
	display: block;
	background-color: #C00;
	padding: 4px 5px;
	font-size: 10px;
	color: #FFF;
	float: left;
	margin: 0px 5px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #CCC;
}
