<STYLE TYPE="text/css">
table.tbl{
	border: 1px solid #CC3333;
	margin: 4px 4px 4px 4px;
	padding: 3px 3px 3px 3px;
}
</STYLE>



<TABLE class="tbl">
<TR>
	<TD>ご来店総数</TD>
	<TD align="right"><img src="http://cgi.coco-web.com/daycount/daycount.cgi?gif"></TD>
	<TD>名様</TD>
</TR>
<TR>
	<TD >昨日のご来店</TD>
	<TD align="right"><img src="http://cgi.coco-web.com/daycount/daycount.cgi?yes"></TD>
	<TD>名様</TD>
</TR><TR>
	<TD>本日のご来店</TD>
	<TD align="right"><img src="http://cgi.coco-web.com/daycount/daycount.cgi?today"></TD>
	<TD>名様</TD>
</TR>

</TABLE>
