<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>更新履歴</title>
<link rel="stylesheet" href="manual.css" type="text/css">
<!--AZ-->
<script type="text/javascript"><!--
(function() {
var p=(('https:'==document.location.protocol)?'https:':'http:');
var s=p+'//www.accanalyze.com/js/tracking.js';
document.write('<scr'+'ipt src="'+s+'?ti=2553&');
document.write('referrer='+encodeURIComponent(document.referrer)+'&');
document.write('width='+screen.width+'&');
document.write('height='+screen.height+'&');
document.write('color='+screen.colorDepth+'"></scr'+'ipt>');
})();
// -->
</script>
</head>

<body bgcolor="#FFFFFF">

<div class="topnavi">[<a href="index.html" name="top">目次へ戻る</a>]</div>
<h1 class="grobaltitle">すぐ使えるCGI ニュース更新ツール（Shift_JIS 版） 説明書</h1>
<h2 class="pagetitle">更新履歴</h2>

<!-- main contents begins -->


<h3>2009-08-31	Ver. 3.1（日本語、中国語、英語版）</h3>
<ul>
<li>
<p>対応環境強化<br>
特定の環境で警告が表示されたり画面上に余計な文字が表示される問題に対応しました。</p>
</li>
</ul>
<h3>2008-10-21	Ver. 3.0（日本語、中国語、英語版）</h3>
<ul>
<li>
<p>新機能<br>
「再構築（テンプレート変更反映）」機能が付きました。記事登録後のテンプレート変更反映が一括で行えるようになりました。</p>
</li>
<li>
<p>対応環境強化<br>
RSS の形式を改善し、より多くのRSS リーダーで読めるようになりました。</p>
</li>
<li>
<p>対応環境強化<br>
Perl の最新バージョン 5.10 に対応しました。</p>
</li>
<li>
<p>対応環境強化<br>
Basic 認証機能が無いサーバのでパスワード認証機能が使えるようになりました。</p>
</li>
<li>
<p>カスタマイズ性の向上<br>
操作時に管理画面に表示されるメッセージを編集できるようになりました。</p>
</li>
</ul>

<h3>2007-10-19	Ver. 2.0（日本語、中国語、英語版）</h3>
<ul>
<li>
<p>新機能<br>
RSSファイルが書き出せるようになりました。（デフォルトで対応）</p>
</li>
<li>
<p>新機能<br>
記事内容の冒頭から指定の長さを「サマリー」として表示できるようになりました。</p>
</li>
<li>
<p>バグフィックス<br>
{{{ と }}}による HTMLコード入力内で { } [ ] ( ) によるヘッダ展開がされてしまう問題を解消しました。</p>
</li>
</ul>


<h3>2007-03-22	Ver. 1.22（日本語、中国語、英語版）</h3>
<ul>
<li>
<p>バグフィックス<br>
{{{ と }}}による HTMLコード入力で、余計な &lt;/p&gt; が追加される問題を解消しました。</p>
</li>
<li>
<p>マルチ環境対応強化<br>
対応可能なサーバ環境の範囲が広がりました。<br>
Max OS X（10.4.8）でも動作確認を行いました（サーバとして）。</p>
</li>
</ul>

<h3>2006-08-16	Ver. 1.21（日本語、中国語、英語版）</h3>
<ul>
<li>
<p> バグフィックス（Shift_JIS版）<br>
メールアドレスの自動リンクの不具合を解消しました。</p>
</li>
<li>
<p> バグフィックス（英語版）<br>
月名のスペルミスを修正しました。</p>
</li>
<li>
<p> HTMLコード入力機能の改善。<br>
{{{ と }}} による HTMLコード直接入力機能が改善されました。<br>
パラグラフの解釈の仕方などを改善し、より直感的に入力できるようになりました。</p>
</li>
<li>
<p>XHTML形式への対応。<br>
テンプレートがXML（含 XHTML）形式だった場合、自動判別で改行コードを「&lt;br /&gt;」で書き出せるようになりました。<br>
これにより、常に well-formed な XML が書き出せるようになりました。</p>
</li>
<li>
<p> 管理画面の操作性の向上<br>
コピーして利用するための入力用フォーマットが入力画面に表示できるようになりました。</p>
</li>
<li>
<p> ドキュメント修正<br>
ドキュメントの記載ミスの修正、その他の改善を行いました。</p>
</li>
</ul>

<h3>2006-04-04	Ver. 1.2（日本語、中国語、英語版）</h3>
<ul>
<li><p> 自動リンク機能の強化。<br>
Aタグへの変換が確実になった他、メールアドレスや ftp://...で始まるURLにも対応しました。</p></li>
<li><p> 管理画面の操作性の向上。<br>
編集結果チェック用のリンクおよびライセンス登録のためのボタンが付きました。<br>
</p></li>
<li><p> Windows の特定の設定下で、ライセンスキー登録が完了するにも関わらず使用制限が解除されない問題の解消。</p></li>
<li><p> オプション設定方法の追加。<br>
短い一覧を書き出さないオプションの設定方法を追加。<br>
短い一覧に全件を書き出すための設定方法を追加。</p></li>
<li><p> 3重以上にアクセスがあったときに更新の競合が起こる可能性があったバグを修正。</p></li>
<li><p> ドキュメントの修正。<br>
説明書を大幅に修正し、分りやすくなりました。</p></li>
<li><p> マルチ環境対応強化。</p></li>
<li><p> 用語の変更。<br>
テンプレート内の変数の呼び方「CGI変数」から「テンプレート変数」に変更されました。</p></li>
<li><p> バージョン表記の統一。<br>
全ての言語でのバージョン表記を統一しました。</p></li>
</ul>

<h3>2005-08-26	簡体字中国語 GB2312 版 Ver 1.0</h3>
<ul>
<li><p> 新規公開</p></li>
</ul>

<h3>2005-08-25	英語 ISO-8859-1 版 Ver 1.0</h3>
<ul>
<li><p> 新規公開</p></li>
</ul>

<h3>2005-08-17	Ver. 1.1（日本語版）</h3>
<ul>
<li><p> タイトルと記事内容の形式チェック強化（不要なホワイトスペースを制限）。</p></li>
<li><p> 行末に半角ダブルクオートがある記事を登録すると空白の記事が管理画面一覧に追加され、その行の「編集」や「削除」ボタンを押すと「処理の途中でエラーが起きました。」「ファイル送信に失敗しました。(no step value: s=)」と表示される問題の解消。</p></li>
<li><p> ドキュメントの修正（「テンプレートの編集例」）。不明確な記載を修正。</p></li>
<li><p> ドキュメントの修正（「設置方法」）。CGI変数一覧の追加。</p></li>
<li><p> ドキュメントの修正。上記以外の細かな文言変更等。</p></li>
</ul>

<h3>2005-07-18	Ver. 1.0（日本語版）</h3>
<ul>
<li><p> 新規公開</p></li>
</ul>



<!-- main contents ends -->
<div class="footer">
copyright(c) web-ware.org. All rights reserved.
</div>
<div class="bottomnavi">[<a href="index.html">目次ページへ戻る</a>] [<a href="#top">このページのトップへ戻る</a>]</div>
</body>
</html>
