/************************************************************************************
BUTTONS
*************************************************************************************/
a.shortcode.button {
	text-decoration: none !important;
	color: #333;	
	font: 100% Arial, Helvetica, sans-serif;
	padding: 5px 13px;
	margin: 0 3px 5px 0;
	
	border: solid 1px #aaa;

	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #f6f6f6 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #f6f6f6 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dfdfdf',GradientType=0 );
	background: linear-gradient(top, #f6f6f6 0%,#dfdfdf 100%);

	vertical-align: middle;
	display: inline-block;
	zoom:1;
	*display:inline;

	text-shadow: 0 1px 0 rgba(255,255,255,.5);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
	box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
}
a.shortcode.button:hover {
	text-decoration: none;
	background: #f6f6f6;
}

/* color */
a.shortcode.button.flat {
	background: #f5f5f5;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

a.shortcode.button.yellow {
	border-color: #edad14;
	background: #ffe20b;
	background: -moz-linear-gradient(top, #fff21e 0%, #ffd901 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff21e), color-stop(100%,#ffd901));
	background: -webkit-linear-gradient(top, #fff21e 0%,#ffd901 100%);
	background: -o-linear-gradient(top, #fff21e 0%,#ffd901 100%);
	background: -ms-linear-gradient(top, #fff21e 0%,#ffd901 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff21e', endColorstr='#ffd901',GradientType=0 );
	background: linear-gradient(top, #fff21e 0%,#ffd901 100%);
}
a.shortcode.button.yellow:hover {
	background: #fff21e;
}
a.shortcode.button.yellow.flat {
	background: #ffe20b;
}

a.shortcode.button.orange {
	border-color: #a3620a;
	background: #f9800f;
	background: -moz-linear-gradient(top, #ff9a22 0%, #f46e01 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9a22), color-stop(100%,#f46e01));
	background: -webkit-linear-gradient(top, #ff9a22 0%,#f46e01 100%);
	background: -o-linear-gradient(top, #ff9a22 0%,#f46e01 100%);
	background: -ms-linear-gradient(top, #ff9a22 0%,#f46e01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a22', endColorstr='#f46e01',GradientType=0 );
	background: linear-gradient(top, #ff9a22 0%,#f46e01 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
a.shortcode.button.orange:hover {
	background: #ff9a22;
}
a.shortcode.button.orange.flat {
	background: #f9800f;
}

a.shortcode.button.blue {
	border-color: #0076a3;
	background: #49b3fc;
	background: -moz-linear-gradient(top, #76c7ff 0%, #1da0fa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76c7ff), color-stop(100%,#1da0fa));
	background: -webkit-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	background: -o-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	background: -ms-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c7ff', endColorstr='#1da0fa',GradientType=0 );
	background: linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
a.shortcode.button.blue:hover {
	background: #76c7ff;
}
a.shortcode.button.blue.flat {
	background: #49b3fc;
}

a.shortcode.button.green {
	border-color: #4e7521;
	background: #76ab3b;
	background: -moz-linear-gradient(top, #90c356 0%, #649a27 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90c356), color-stop(100%,#649a27));
	background: -webkit-linear-gradient(top, #90c356 0%,#649a27 100%);
	background: -o-linear-gradient(top, #90c356 0%,#649a27 100%);
	background: -ms-linear-gradient(top, #90c356 0%,#649a27 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c356', endColorstr='#649a27',GradientType=0 );
	background: linear-gradient(top, #90c356 0%,#649a27 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
a.shortcode.button.green:hover {
	background: #90c356;
}
a.shortcode.button.green.flat {
	background: #76ab3b;
}

a.shortcode.button.red {
	border-color: #9e0b0f;
	background: #e41d24;
	background: -moz-linear-gradient(top, #fb4e55 0%, #d7020a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb4e55), color-stop(100%,#d7020a));
	background: -webkit-linear-gradient(top, #fb4e55 0%,#d7020a 100%);
	background: -o-linear-gradient(top, #fb4e55 0%,#d7020a 100%);
	background: -ms-linear-gradient(top, #fb4e55 0%,#d7020a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb4e55', endColorstr='#d7020a',GradientType=0 );
	background: linear-gradient(top, #fb4e55 0%,#d7020a 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
a.shortcode.button.red:hover {
	background: #fb4e55;
}
a.shortcode.button.red.flat {
	background: #e41d24;
}

a.shortcode.button.black {
	border-color: #000000;
	background: #111;
	background: -moz-linear-gradient(top, #4f4f4f 0%, #030303 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#030303));
	background: -webkit-linear-gradient(top, #4f4f4f 0%,#030303 100%);
	background: -o-linear-gradient(top, #4f4f4f 0%,#030303 100%);
	background: -ms-linear-gradient(top, #4f4f4f 0%,#030303 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#030303',GradientType=0 );
	background: linear-gradient(top, #4f4f4f 0%,#030303 100%);
	color: #eee !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}
a.shortcode.button.black:hover {
	background: #4f4f4f;
}
a.shortcode.button.black.flat {
	background: #111;
}

a.shortcode.button.purple {
	border-color: #350d4c;
	background: #7933ac;
	background: -moz-linear-gradient(top, #9655c6 0%, #661e9b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9655c6), color-stop(100%,#661e9b));
	background: -webkit-linear-gradient(top, #9655c6 0%,#661e9b 100%);
	background: -o-linear-gradient(top, #9655c6 0%,#661e9b 100%);
	background: -ms-linear-gradient(top, #9655c6 0%,#661e9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9655c6', endColorstr='#661e9b',GradientType=0 );
	background: linear-gradient(top, #9655c6 0%,#661e9b 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}
a.shortcode.button.purple:hover {
	background: #9655c6;
}
a.shortcode.button.purple.flat {
	background: #7933ac;
}

a.shortcode.button.gray {
	border-color: #656565;
	background: #888888;
	background: -moz-linear-gradient(top, #adadad 0%, #707070 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#707070));
	background: -webkit-linear-gradient(top, #adadad 0%,#707070 100%);
	background: -o-linear-gradient(top, #adadad 0%,#707070 100%);
	background: -ms-linear-gradient(top, #adadad 0%,#707070 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#707070',GradientType=0 );
	background: linear-gradient(top, #adadad 0%,#707070 100%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
a.shortcode.button.gray:hover {
	background: #adadad;
}
a.shortcode.button.gray.flat {
	background: #888888;
}

/* light gradient */
a.shortcode.button.light-yellow {
	border-color: #cbc67d;
	background: #fef8a5;
	background: -moz-linear-gradient(top, #fefcdf 0%, #fef79c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcdf), color-stop(100%,#fef79c));
	background: -webkit-linear-gradient(top, #fefcdf 0%,#fef79c 100%);
	background: -o-linear-gradient(top, #fefcdf 0%,#fef79c 100%);
	background: -ms-linear-gradient(top, #fefcdf 0%,#fef79c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcdf', endColorstr='#fef79c',GradientType=0 );
	background: linear-gradient(top, #fefcdf 0%,#fef79c 100%);
}
a.shortcode.button.light-yellow:hover {
	background: #fefcdf;
}
a.shortcode.button.light-yellow.flat {
	background: #fef8a5;
}

a.shortcode.button.light-blue {
	border-color: #95becf;
	background: #c5efff;
	background: -moz-linear-gradient(top, #e9f9ff 0%, #c1eeff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f9ff), color-stop(100%,#c1eeff));
	background: -webkit-linear-gradient(top, #e9f9ff 0%,#c1eeff 100%);
	background: -o-linear-gradient(top, #e9f9ff 0%,#c1eeff 100%);
	background: -ms-linear-gradient(top, #e9f9ff 0%,#c1eeff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f9ff', endColorstr='#c1eeff',GradientType=0 );
	background: linear-gradient(top, #e9f9ff 0%,#c1eeff 100%);
}
a.shortcode.button.light-blue:hover {
	background: #e9f9ff;
}
a.shortcode.button.light-blue.flat {
	background: #c5efff;
}

a.shortcode.button.light-green {
	border-color: #b0c98b;
	background: #ebf8d6;
	background: -moz-linear-gradient(top, #f9fff0 0%, #e5f6cb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fff0), color-stop(100%,#e5f6cb));
	background: -webkit-linear-gradient(top, #f9fff0 0%,#e5f6cb 100%);
	background: -o-linear-gradient(top, #f9fff0 0%,#e5f6cb 100%);
	background: -ms-linear-gradient(top, #f9fff0 0%,#e5f6cb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fff0', endColorstr='#e5f6cb',GradientType=0 );
	background: linear-gradient(top, #f9fff0 0%,#e5f6cb 100%);
}
a.shortcode.button.light-green:hover {
	background: #f9fff0;
}
a.shortcode.button.light-green.flat {
	background: #ebf8d6;
}

a.shortcode.button.pink {
	border-color: #de9db9;
	background: #facde1;
	background: -moz-linear-gradient(top, #fdecf3 0%, #f9c1d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdecf3), color-stop(100%,#f9c1d9));
	background: -webkit-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
	background: -o-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
	background: -ms-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdecf3', endColorstr='#f9c1d9',GradientType=0 );
	background: linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
}
a.shortcode.button.pink:hover {
	background: #fdecf3;
}
a.shortcode.button.pink.flat {
	background: #facde1;
}

a.shortcode.button.lavender {
	border-color: #c0a8d9;
	background: #ecd9ff;
	background: -moz-linear-gradient(top, #f7f0fe 0%, #e8d1ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f0fe), color-stop(100%,#e8d1ff));
	background: -webkit-linear-gradient(top, #f7f0fe 0%,#e8d1ff 100%);
	background: -o-linear-gradient(top, #f7f0fe 0%,#e8d1ff 100%);
	background: -ms-linear-gradient(top, #f7f0fe 0%,#e8d1ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f0fe', endColorstr='#e8d1ff',GradientType=0 );
	background: linear-gradient(top, #f7f0fe 0%,#e8d1ff 100%);
}
a.shortcode.button.lavender:hover {
	background: #f7f0fe;
}
a.shortcode.button.lavender.flat {
	background: #ecd9ff;
}

/* button size */
a.shortcode.button.small {
	font-size: 85%;
	font-weight: normal;
	padding: 3px 8px;
}
a.shortcode.button.large {
	font-size: 120%;
	font-weight: bold;
	padding: 8px 20px;
}
a.shortcode.button.xlarge {
	font-size: 150%;
	font-weight: bold;
	padding: 12px 26px;
}

/* button shape */
a.shortcode.button.rect {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
a.shortcode.button.rounded {
	-webkit-border-radius: 20em;
	-moz-border-radius: 20em;
	border-radius: 20em;
}

/* button embossed */
a.shortcode.button.embossed {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.2), inset 0 -3px 0 rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.2), inset 0 -3px 0 rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.2), inset 0 -3px 0 rgba(255,255,255,.2);
	padding-top: 4px;
	padding-bottom: 6px;
}
a.shortcode.button.embossed.small,
a.shortcode.button.small.embossed {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 -2px 0 rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 -2px 0 rgba(255,255,255,.2);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 -2px 0 rgba(255,255,255,.2);
	padding-top: 1px;
	padding-bottom: 2px;
}
a.shortcode.button.embossed.large,
a.shortcode.button.large.embossed {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -4px 0 rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -4px 0 rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -4px 0 rgba(255,255,255,.2);
	padding-top: 6px;
	padding-bottom: 10px;
}
a.shortcode.button.embossed.xlarge,
a.shortcode.button.xlarge.embossed {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -5px 0 rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -5px 0 rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -3px 0 rgba(0,0,0,.2), inset 0 -5px 0 rgba(255,255,255,.2);
	padding-top: 10px;
	padding-bottom: 14px;
}


/* button active */
.shortcode.button:active {
	position: relative;
	top: 1px;
}

/************************************************************************************
HR
*************************************************************************************/
hr {
	height: 1px;
	border: none;
	border-top: solid 1px #ccc;
	clear: both;
}
hr.red {
	border-color: #F30;
}
hr.blue {
	border-color: #69F;
}
hr.pink {
	border-color: #F9C;
}
hr.light-gray {
	border-color: #ddd;
}
hr.dark-gray {
	border-color: #999;
}
hr.black {
	border-color: #000;
}
hr.yellow {
	border-color: #FF0;
}
hr.orange {
	border-color: #F90;
}
hr.white {
	border-color: #fff;
}

/************************************************************************************
GRID
*************************************************************************************/
.col,
.col4-1,
.col4-2,
.col4-3,
.col3-1,
.col3-2,
.col2-1
{
	float: left;
}
.col4-1 {
	width: 25%;
}
.col4-2, 
.col2-1 {
	width: 50%;
}
.col4-3 {
	width: 75%;
}
.col3-1 {
	width: 33%;
}
.col3-2 {
	width: 66%;
}
.sidebar1 .col.first,
.sidebar1 .col4-1.first,
.sidebar1 .col4-2.first,
.sidebar1 .col4-3.first,
.sidebar1 .col3-1.first,
.sidebar1 .col3-2.first,
.sidebar1 .col2-1.first
.col.first,
.col4-1.first,
.col4-2.first,
.col4-3.first,
.col3-1.first,
.col3-2.first,
.col2-1.first {
	margin-left: 0;
	clear: left;
}

/************************************************************************************
QUOTE
*************************************************************************************/
.shortcode.quote {
	background: url(../img/shortcodes/quote.png) no-repeat 1px 2px;
	padding: 0 5px 0 26px;
	margin: 0 0 30px;
}

/************************************************************************************
SHORTCODE BOX
*************************************************************************************/
.shortcode.box {
	background: #f6f6f6;
	border: solid 1px #ddd;
	padding: 7px 15px;
	margin: 0 0 15px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

/* box color */
.shortcode.box.blue {
	background: #3cafff;
	border-color: #2786cf;
	color: #fff !important;
}
.shortcode.box.green {
	background: #78ac3e;
	border-color: #5e8127;
	color: #fff !important;
}
.shortcode.box.red {
	background: #ed1c24;
	border-color: #b81e14;
	color: #fff !important;
}
.shortcode.box.purple {
	background: #722ea4;
	border-color: #471e72;
	color: #fff !important;
}
.shortcode.box.yellow {
	background: #fff200;
	border-color: #ffd200;
}
.shortcode.box.orange {
	background: #f7941d;
	border-color: #c56102;
	color: #fff !important;
}
.shortcode.box.light-yellow {
	background: #fffcd3;
	border-color: #dedba3;
}
.shortcode.box.light-blue {
	background: #d9f4fe;
	border-color: #a4cfe0;
}
.shortcode.box.lavender {
	background: #f2e6fe;
	border-color: #d1bae9;
}
.shortcode.box.pink {
	background: #ffe6f1;
	border-color: #f0b6cf;
}
.shortcode.box.light-green {
	background: #edf6df;
	border-color: #b8cd97;
}
.shortcode.box.gray {
	background: #9e9e9e;
	border-color: #858585;
	color: #fff !important;
}
.shortcode.box.black {
	background: #111;
	border-color: #000;
	color: #fff !important;
}

/* box link */
.shortcode.box.purple a,
.shortcode.box.orange a,
.shortcode.box.green a,
.shortcode.box.blue a,
.shortcode.box.black a,
.shortcode.box.gray a,
.shortcode.box.red a {
	color: #fffabb !important;
}

/* box rounded */
.shortcode.box.rounded {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* box shadow */
.shortcode.box.shadow {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* box icon */
.shortcode.box.announcement {
	background-image: url(../img/shortcodes/annoucement.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.comment {
	background-image: url(../img/shortcodes/comment.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.question {
	background-image: url(../img/shortcodes/question.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.upload {
	background-image: url(../img/shortcodes/upload.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.download {
	background-image: url(../img/shortcodes/download.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.highlight {
	background-image: url(../img/shortcodes/highlight.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.map {
	background-image: url(../img/shortcodes/map.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.warning {
	background-image: url(../img/shortcodes/warning.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.info {
	background-image: url(../img/shortcodes/info.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.note {
	background-image: url(../img/shortcodes/note.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}
.shortcode.box.contact {
	background-image: url(../img/shortcodes/contact.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	padding-left: 70px;
	min-height: 55px;
}

/* box heading */
.shortcode.box h1, 
.shortcode.box h2, 
.shortcode.box h3, 
.shortcode.box h4, 
.shortcode.box h5, 
.shortcode.box h6 {
	margin: 2px 0 3px;
}

/************************************************************************************
AUTHOR BOX
*************************************************************************************/
.shortcode.author-box {
	background: #f6f6f6;
	border: solid 1px #ddd;
	padding: 10px 15px;
	margin: 15px 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}
.shortcode.author-box .author-avatar {
	float: left;
	margin: 0 15px 5px 0;
}
.shortcode.author-box .author-avatar img {
	padding: 4px;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.shortcode.author-box .author-name {
	margin: 2px 0 5px;
}
.shortcode.author-box .author-bio {
	overflow: hidden;
}

/* author box color */
.shortcode.author-box.blue {
	background: #3cafff;
	border-color: #2786cf;
	color: #fff !important;
}
.shortcode.author-box.green {
	background: #78ac3e;
	border-color: #5e8127;
	color: #fff !important;
}
.shortcode.author-box.red {
	background: #ed1c24;
	border-color: #b81e14;
	color: #fff !important;
}
.shortcode.author-box.purple {
	background: #722ea4;
	border-color: #471e72;
	color: #fff !important;
}
.shortcode.author-box.yellow {
	background: #fff200;
	border-color: #ffd200;
}
.shortcode.author-box.orange {
	background: #f7941d;
	border-color: #c56102;
	color: #fff !important;
}
.shortcode.author-box.light-yellow {
	background: #fffcd3;
	border-color: #dedba3;
}
.shortcode.author-box.light-blue {
	background: #d9f4fe;
	border-color: #a4cfe0;
}
.shortcode.author-box.lavender {
	background: #f2e6fe;
	border-color: #d1bae9;
}
.shortcode.author-box.pink {
	background: #ffe6f1;
	border-color: #f0b6cf;
}
.shortcode.author-box.light-green {
	background: #edf6df;
	border-color: #b8cd97;
}
.shortcode.author-box.gray {
	background: #9e9e9e;
	border-color: #858585;
	color: #fff !important;
}
.shortcode.author-box.black {
	background: #111;
	border-color: #000;
	color: #fff !important;
}

/* author box link */
.shortcode.author-box.purple a,
.shortcode.author-box.orange a,
.shortcode.author-box.green a,
.shortcode.author-box.blue a,
.shortcode.author-box.black a,
.shortcode.author-box.gray a,
.shortcode.author-box.red a {
	color: #fffabb !important;
}

/* author box rounded */
.shortcode.author-box.rounded {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* author box shadow */
.shortcode.author-box.shadow {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/************************************************************************************
FLICKR
*************************************************************************************/
.shortcode .flickr_badge_image {
	margin: 10px 0;
}
.shortcode .flickr_badge_image img {
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

/************************************************************************************
MAP
*************************************************************************************/
.shortcode.map .map-container {
	margin: 0 0 15px;
	border: solid 1px #ccc;
}
.map img { 
	max-width: none !important; 
}

/************************************************************************************
LIST POSTS
*************************************************************************************/

/* base post */
.shortcode .post {
	margin-bottom: 30px;
	padding: 0 !important;
	background: none !important;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/* base post image */
.shortcode .post-image {
	margin: 0 0 7px;
}

/* base post title */
.shortcode .post-title {
	font-size: 150%;
	margin: 0 0 3px;
	padding: 0 !important;
	width: auto !important;
	background: none !important;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.col4-1 .shortcode .post-title {
	font-size: 115%;
}
.col3-1 .shortcode .post-title {
	font-size: 130%;
}
.col2-1 .shortcode .post-title,
.col4-2 .shortcode .post-title {
	font-size: 145%;
}

/* base post date */
.shortcode .post-date {
	position: static;
	padding: 0;
	color: inherit;
	font-size: 100%;
	width: auto;
	float: none;
	display: block;
	margin: 2px 0;
	text-align: left;
	background: none;
	filter: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/* base post meta */
.shortcode .post-meta {
	font-size: 85%;
	line-height: 220%;
	margin: 0 0 10px;
	padding: 0;
	border: none;
	background: none;
	text-align: left;
}
.shortcode .post-meta span {
	position: static;
	display: inline;
	margin: 0 7px 0 0;
	padding: 0;
	width: auto;
	border: none;
	line-height: normal;
	font-weight: normal;
	font-size: 100%;
	float: none;
	text-align: left;
}
.shortcode .post-meta a {
	position: static !important;
	display: inline !important;
}
.shortcode .post-meta .post-author {
	background: url(../img/shortcodes/post-author.png) no-repeat 0 2px;
	padding: 2px 0 2px 16px;
}
.shortcode .post-meta .post-category {
	background: url(../img/shortcodes/post-category.png) no-repeat 0 2px;
	padding: 2px 0 2px 16px;
}
.shortcode .post-meta .post-tag {
	background: url(../img/shortcodes/post-tag.png) no-repeat 0 3px;
	padding: 2px 0 2px 16px;
}
.shortcode .post-meta .post-comment {
	background: none;
}
.shortcode .post-meta .post-comment a {
	background: url(../img/shortcodes/post-comment.png) no-repeat 0 2px;
	padding: 2px 0 2px 16px;
	width: auto;
	height: auto;
	font-size: 100%;
	text-shadow: none;
	text-align: left;
}

/* post layout styles */
/* grid4 post */
.shortcode.grid4 .post {
	width: 23%;
	margin-left: 2.5%;
	float: left;
}

/* grid3 post */
.shortcode.grid3 .post {
	width: 30%;
	margin-left: 3.5%;
	float: left;
}

/* grid2 post */
.shortcode.grid2 .post {
	width: 48%;
	margin-left: 3.75%;
	float: left;
}

/* grid2-thumb post */
.shortcode.grid2-thumb .post {
	width: 48%;
	margin-left: 4%;
	float: left;
}
.shortcode.grid2-thumb .post-image {
	float: left;
	margin: 5px 14px 10px 0;
}
.shortcode.grid2-thumb .post-content {
	overflow: hidden;
}

/* list thumb post */
.shortcode.list-thumb-image .post-image {
	float: left;
	margin: 7px 16px 10px 0;
}
.shortcode.list-thumb-image .post-content {
	overflow: hidden;
}

/* list large image */
.shortcode.list-large-image .post-image {
	float: left;
	margin: 7px 22px 10px 0;
}
.shortcode.list-large-image .post-content {
	overflow: hidden;
}

/************************************************************************************
SLIDER
*************************************************************************************/
.shortcode .slider, .shortcode .post-slider { 
	height: 0; /* height will be toggled by JS */ 
	visibility: hidden; 
}

.shortcode.slider, 
.shortcode.post-slider {
	margin: 0;
	padding: 0;
}
.shortcode.slider .post, 
.shortcode.post-slider .post {
	margin: 0;
}

/* slides base h1,h2,h3,h4,h5,h6 */
.shortcode .slides h1,
.shortcode .slides h2,
.shortcode .slides h3,
.shortcode .slides h4,
.shortcode .slides h5,
.shortcode .slides h6 {
	margin: 0 0 5px;
}

/* slides post image */
.shortcode .slides .post-image {
	margin: 0 0 5px;
}

/* slides post title */
.shortcode .slides .post-title {
	padding-right: 10px;
	margin: 0 0 5px;
	font-size: 140%;
}

/* slides post content */
.shortcode .slides .post-content {
	padding-right: 11px;
	font-size: 95%;
}

/*
CAROUSEL STYLES
================================================ */
.shortcode .carousel-wrap {
	position: relative;
	margin-bottom: 10px;
	padding: 0 !important;
}

/* base slides */
.shortcode .slides {
	margin: 0 !important;
	padding: 0 !important;
	height: auto !important;
}
.shortcode .slides li {
	list-style: none;
	margin: 0 10px 0 0 !important;
	padding: 0 !important;
	width: 100px;
	height: auto !important;
	float: left;
}

/* slider-nav */
.shortcode .carousel-nav-wrap {
	text-align: center;
	margin: 15px auto 10px;
	border: none;
}
.shortcode .carousel-prev,
.shortcode .carousel-next {
	position: static !important;
	display: inline-block !important;
	font: 12px/100% Arial, Helvetica, sans-serif !important;
	width: 24px !important;
	height: 20px !important;
	line-height: 100%;
	text-decoration: none;
	text-align: center;
	margin: 0 3px;
	padding: 4px 0 0;
	color: #666;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	border: solid 1px #ccc;
	background: #e9e9e9;
	background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dbdbdb 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#dbdbdb 100%);

	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.4);
	box-shadow: inset 0 -1px 1px rgba(255,255,255,.4);
}
.shortcode .carousel-prev:hover,.shortcode .carousel-next:hover {
	background: #f4f4f4;
}
/* carousel nav disabled */
.shortcode .carousel-nav-wrap .disabled,
.shortcode .carousel-nav-wrap .disabled {
	opacity: 6; 
	cursor: default;
}

/* carousel pager */
.shortcode .carousel-pager {
	clear: both;
	text-align: center;
	display: inline-block;
	zoom:1;
	*display:inline;
	vertical-align: middle;
}
.shortcode .carousel-pager a {
	text-indent: -900em;
	width: 8px;
	height: 8px;
	display: inline-block;
	zoom:1;
	*display:inline;
	margin: 0 3px;
	background: #ccc;
	background: rgba(0,0,0,.2);
	border: solid 2px #666;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	cursor: pointer;
}
.shortcode .carousel-pager a.selected  {
	background: #fff;
	background: rgba(255,255,255,.6);
	border-color: #ccc;
}
