@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna - Flat Style;
 :created "2008-01-07";
 :release [:revision "1.00"; :created "2008-01-010"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :note "subSkin/1-subSkin.cssを編集することで配色を変更できます。" .
*/

@import url(1-element.css);
@import url(2-class.css);
@import url(3-context.css);
@import url(4-layout.css);
@import url(subSkin/1-subSkin.css);
@import url(5-module.css);
