@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Flat Style - Module Hub stylesheet";
 :created "2008-01-07";
 :release [:revision "1.00"; :created "2008-01-010"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "表示をカスタマイズするためのモジュール";
 :note "@importの上下にあるコメント記法を削除することで読み込まれます。" .
*/

/*--------------------------------------
	Eye Catch [Short] Module
---------------------------------------*/

/*
@import url(module/mod_eyeCatch-short.css);
*/

/*--------------------------------------
	Eye Catch [Long] Module
---------------------------------------*/

/*
@import url(module/mod_eyeCatch-long.css);
*/

/*--------------------------------------
	Eye Catch [Mini] Module
---------------------------------------*/

/*
@import url(module/mod_eyeCatch-mini.css);
*/

/*--------------------------------------
	Eye Catch [Header] Module
---------------------------------------*/


@import url(module/mod_eyeCatch-header.css);


/*--------------------------------------
	Global Navigation Style Module
---------------------------------------*/


@import url(module/mod_gNavi/mod_gNavi.css);


/*--------------------------------------
	Calendar Style Module
---------------------------------------*/

/*
@import url(module/mod_calendar.css);
*/

/*--------------------------------------
	Multi Column 900px [Type1]
	┌┐┏━━┓┌┐
	││┃　　┃││
	└┘┗━━┛└┘
	(body class="multi")
---------------------------------------*/

/*
@import url(module/mod_multiCol-Type1.css);
*/

/*--------------------------------------
	Multi Column 900px [Type2]
	┏━━┓┌┐┌┐
	┃　　┃││││
	┗━━┛└┘└┘
	(body class="multi")
---------------------------------------*/

/*
@import url(module/mod_multiCol-Type2.css);
*/
