
#comments { margin:0 0 40px 0; font-size:12px; }

#comment_area, #trackback_area { margin:15px 0 20px; padding:0 0 5px 0;  }
#trackback_area { display:none; }


/*  ------ comment_header ----------------------------------------------------------------------------------------------------------------------- */
#comment_header { border-bottom:1px solid #ccc; font-size:11px; position:relative; margin:0; padding:0; min-width:200px; }
#comment_header li { display:inline; float:left; padding:5px 10px; }

.comment_headline { float:left; position:relative; bottom:-6px; left:0px; margin:0; padding:0; font-weight:normal; font-size:18px; line-height:100%; }

#comment_header_right { float:right; position:relative; bottom:-1px; margin:0; padding:0; background:#fff; }
#comment_header_right li, #comment_header_right #trackback_closed { border-top:1px solid #fff; border-bottom:1px solid #ccc; padding:7px 20px; }
#comment_header_right li.comment_switch_active,#comment_header_right #comment_closed { border:1px solid #ccc; border-bottom:1px solid #fff; padding:7px 20px; -moz-border-radius:4px 4px 0 0; -khtml-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; }
.comment_switch_active a { color:#2089cc; }


/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 0 15px; padding:15px 20px 3px; background:#eee;  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.even_comment, .odd_comment_children { background:#fafafa; }
.odd_comment, .even_comment_children { background:#fefefe; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { height:56px; position:relative; }

.comment-meta-left { }
.avatar { border:1px solid #ccc; background:#fff; width:37px; height:37px; padding:2px; display:inline; float:left; margin:0 10px 0 0; }
.comment-name-date { padding:2px 0 0 0; float:left; }

.commentlist a, .commentlist a:visited, .comment-name { }
.commentlist a:hover {  }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-date { font-size:11px; color:#757676; margin:0 0 0 0; }

.comment-act { background:url(img/arrow1.gif) no-repeat left; font-size:11px; position:absolute; right:0px; top:7px; padding:0 0 0 10px; }
.comment-act li { display:inline; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

/* ----- comment-content ----- */
.comment-content { padding:0; clear:both; margin:0; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

.comment_closed { border:1px solid #ccc; text-align:center; margin:0 0 15px; padding:15px; background:#fefefe; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#trackback_closed { background:url(img/arrow1.gif) no-repeat left center; padding:0 0 0 12px; }

/* ----- trackback-contens ----- */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 15px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 15px; }

/* ----- comment-pager ----- */
#comment_pager { margin:0 0 10px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment_form_wrapper { border:1px solid #ccc; margin:0 0 15px; padding:15px; background:#fff;  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }

#cancel_comment_reply  { background:url(img/common/arrow3.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 11px; }

#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:100%; }
#comment_user_login span { margin:0 0 0 40px; }

#comment_login { margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:100%; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/common/arrow3.gif) no-repeat 10px 3px; }

#guest_info { padding:0; width:100%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; padding:5px 0; border:1px solid #ccc; width:100%; background:#fff; color:#777; }
#guest_info input:focus { }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest_info span { color:#666; margin:0 10px 0 0; }

#comment_textarea textarea { margin:15px 0 0; width:100%; height:150px; border:1px solid #ccc;
                             background:#fff; color:#777; font-size:11px; overflow:auto; }
#comment_textarea textarea:focus {  }

#submit_comment_wrapper { text-align:center; }
#submit_comment { margin:15px auto 0; display:block; width:150px; background:#eee; color:#333; border:none; padding:10px 20px; cursor:pointer; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#submit_comment:hover { color:#fff; }

#input_hidden_field { display:none; }

/* ----- password protected ----- */
.password_protected { text-align:center; margin:0 0 10px 0; padding:10px 20px; color:#fff; background:#3db4b2; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.password_protected p { font-size:12px; margin:0; }