a.arrow_link { line-height:118%; }

.archive_post .meta { padding:3px 0 0 0; }
.archive_post .meta li { line-height:118%; display:inline; margin:0 20px 0 0; font-family:'ＭＳ Ｐゴシック'; }

.single_post .meta li { line-height:118%; display:inline; margin:0 20px 0 0; font-family:'ＭＳ Ｐゴシック'; }

#global_menu ul ul a:hover, #global_menu ul ul a { margin:0 0 -5px 0; position:relative; }
