/*
Theme Name:Blanc (TCD008)
Theme URI:
Description:Design Plus
Author:Design Plus
Author URI:http://design-plus1.com/tcd-w/
Version:1.5
*/


/* ----------------------------------------------------------------------
 basic setting
---------------------------------------------------------------------- */

body { margin:0; padding:0; background:url(img/common/background.gif) repeat-x left top;
       font-family:"Century Gothic",Arial,sans-serif;
       color:#333; }
body#index { background:url(img/index/background.gif) repeat-x left top; }
a img { border:none; }
a, a:visited { color:#0b7983; text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }
p { margin:0 0 1em 0; padding:0; line-height:240%; }
ul { list-style-type:none; margin:0 0 1em 0; padding:0; line-height:0%; }
ul li { margin:0; padding:0; line-height:normal; zoom:1; }
ol { margin:0 0 1em 19px; padding:0; }
ol li { padding:0 0 5px 0; line-height:normal; }
dl { list-style-type:none; margin:0 0 1em 0; padding:0; line-height:0%; }
dl dt, dl dd { margin:0; padding:0; line-height:normal; zoom:1; }
dl dt { font-weight:bold; }
form,table,input,textarea,dl,dt,dd { margin:0; padding:0; }
table { border-collapse:collapse; width:100%; border:0; }
cite { text-align:right; display:block; }
object { display:block; margin:0 auto; }
.wp-caption-text { text-align:center; }
.alignright { float:right; }
.alignleft { float:left; }
.aligncenter { margin-left:auto; margin-right:auto; }
.centered { margin-left:auto; margin-right:auto; }
.clear { clear:both; }
input[type="text"], input[type="password"], textarea, select { outline: none; }



/* layout */
#main_content { width:980px; margin:0 auto; padding:8px 0 0 0; background:url(img/common/grad_line.gif) no-repeat left 99px; }
#content { background:url(img/common/dot3.gif) repeat-y 656px top; }
#index #main_content { background-position:left 0px; padding:35px 0 0 0; }
#left_col { width:630px; float:left; }
#right_col { width:300px; float:right; }
.layout2 #content { background:url(img/common/dot3.gif) repeat-y 324px top; }
.layout2 #left_col { float:right; }
.layout2 #right_col { float:left; }


/* headline */
.headline { font-weight:normal; font-size:18px; line-height:100%; padding:0 0 7px 0; border-bottom:1px solid #ccc; margin:0 0 18px 0; }
#headline h2 { font-weight:normal; font-size:18px; height:90px; line-height:90px; padding:0; margin:0 0 40px 0; }


/* arrow link */
a.arrow_link { text-decoration:none; color:#333; display:inline-block; height:11px; line-height:11px; padding:0 0 0 14px; font-size:11px; background:url(img/common/arrow1.gif) no-repeat left top; }
a.arrow_link:hover { text-decoration:underline; background-position:left bottom; }



/* ----------------------------------------------------------------------
 single page
---------------------------------------------------------------------- */
.single_post { width:630px; }
.single_post .post_info { background:url(img/common/dot2.gif) repeat-x left bottom; padding:0 0 25px 0; margin:0 0 25px 0; }
.single_post .title_area { width:570px; float:right; }
.single_post .date { margin:0; padding:0; display:block; width:44px; height:44px; line-height:44px; color:#fff; text-align:center; font-size:12px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.single_post .title { margin:-2px 0 6px 0; font-size:16px; line-height:140%; }
.single_post .meta { margin:0; }
.single_post .meta li { font-size:11px; display:inline-block; margin:0 14px 5px 0; }
.single_post .meta li a { color:#333; }
.single_post .meta li.post_category { background:url(img/common/icon_category.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.single_post .meta li.post_tag { background:url(img/common/icon_tag.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.single_post .meta li.post_author { background:url(img/common/icon_author.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.single_post .meta li.post_comment { background:url(img/common/icon_comment.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.post { background:url(img/common/dot2.gif) repeat-x left bottom; padding:0 0 10px 0; margin:0 0 25px 0; }
.single_post_thumb img { margin:0 auto 20px; display:block; }

/* social bookmark */
#bookmark_area { height:90px; background:url(img/common/dot2.gif) repeat-x left bottom; margin:0 0 25px 0; position:relative; }
#bookmark { margin:0; }
#bookmark li { float:left; display:inline; margin:0 10px 0 0; }
#trackback_url_area { position:absolute; right:0px; top:0px; }
#trackback_url_area label { display:block; margin:0 0 5px 0; font-size:11px; }
#trackback_url_area input { border:none; background:#f2f2f2; padding:10px; width:300px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#666; font-size:11px; }

/* related post */
#related_post { margin:0 0 25px 0; }
#related_post ul { margin:0; }
#related_post ul li { margin:0; min-height:88px; line-height:100%; width:315px; float:left; }
#related_post ul li .meta { width:220px; float:left; display:inline; margin:0 0 0 10px; }
#related_post ul li .date { line-height:100%; font-size:11px; margin:0 0 5px 0; padding:13px 0 0 0; font-weight:bold; }
#related_post ul li .title { line-height:130%; font-size:11px; font-weight:normal; margin:0; padding:0; }
#related_post ul li .title a { text-decoration:none; color:#666; display:block; margin:0 0 10px 0; }
#related_post ul li .title a:hover { text-decoration:underline; }
#related_post ul li .image img { display:block; border:1px solid #ccc; padding:2px; float:left; }
#related_post ul li.post2 .meta, #related_post ul li.post4 .meta { float:right; }
#related_post ul li.post2 .image img, #related_post ul li.post4 .image img { margin:0 0 0 14px; }

/* next prev post */
#previous_next_post { margin:0 0 0 0; padding:0 0 30px 0; }
#previous_post { margin:0; width:45%; float:left; line-height:140%; font-size:11px; background:url(img/common/arrow4.gif) no-repeat left 2px; padding:0 0 0 16px; }
#next_post { margin:0; width:45%; float:right; text-align:right; line-height:140%; font-size:11px; background:url(img/common/arrow3.gif) no-repeat right 2px; padding:0 16px 0 0; }


/* --- wp preset css --------------------------- */

/* headline */
.post h1 { font-size:200%; }
.post h2 { font-size:190%; }
.post h3 { font-size:180%; }
.post h4 { font-size:170%; }
.post h5 { font-size:160%; }
.post h6 { font-size:150%; }

/* link */
.post a { text-decoration:underline; }

/* image */
.post img { height:auto; max-width:100%; width:auto; }
.post img.centered,div.centered { display:block; margin:15px auto; }
.post img.aligncenter,div.aligncenter { display:block; margin:15px auto; }
.post img.alignright,div.alignright { margin:10px 0 30px 30px; display:inline; }
.post img.alignleft,div.alignleft { margin:10px 30px 30px 0; display:inline; }
.post .wp-caption { background:#fff; border:1px solid #ccc; margin:0 auto 15px; max-width:96%; padding:14px 9px 1px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.post .wp-caption img { display:block; margin:0 auto; max-width:100%; }
.post .wp-caption .wp-caption-text { padding:10px 0 0; }

/* table */
.post table { margin:0 0 1em 0; }
.post td, .post th { border:1px solid #c1c1c1; padding:15px; }
.post th { background:#eee; font-weight:normal; }

/* block quote */
blockquote { margin:0 0 1em 0; padding:50px 50px 40px; background:#f2f2f2; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; position:relative; border:1px solid #c1c1c1; }
blockquote:before { content: '"'; font-style:italic; font-size:40px; font-weight:bold; line-height:40px; width:30px; height:30px; position:absolute; top:20px; left:20px; color:#999; }
blockquote:after { content: '"'; font-style:italic; font-size:40px; font-weight:bold; text-align:left; line-height:60px; width:30px; height:30px; position:absolute; bottom:20px; right:20px; color:#999; }

/* list */
.post li, .post dt, .post dd { margin:0 0 1em 0; line-height:200%; }

/* etc */
.post address { border-left:3px solid #c1c1c1; padding:5px 0 5px 10px; line-height:200%; margin:0 0 1em 0; background:#fbfbfb; }
.post pre { border:1px solid #c1c1c1; background:#fafafa; padding:10px 20px; margin:0 0 1em 0; line-height:200%; overflow:auto; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.post embed, .post iframe, .post object { max-width:100%; margin:0 auto; display:block; }



/* ----------------------------------------------------------------------
 archives
---------------------------------------------------------------------- */
.archive_post { width:630px; background:url(img/common/dot2.gif) repeat-x left bottom; padding:0 0 30px 0; margin:0 0 30px 0; }
.archive_post .post_info { width:385px; float:right; }
.archive_post .title_area { margin:0 0 14px 0; }
.archive_post .title { margin:0; float:right; width:330px; font-size:16px; line-height:140%; }
.archive_post .title a { color:#333; display:block; }
.archive_post .date { margin:0; padding:0; display:block; width:44px; height:44px; line-height:44px; color:#fff; text-align:center; font-size:12px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.archive_post .excerpt { line-height:200%; margin:0 0 15px 0; padding:0; font-size:11px; }
.archive_post .meta { width:280px; float:left; margin:0; }
.archive_post .meta li { font-size:11px; display:inline-block; margin:0 14px 5px 0; }
.archive_post .meta li a { color:#333; }
.archive_post .meta li.post_category { background:url(img/common/icon_category.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.archive_post .meta li.post_tag { background:url(img/common/icon_tag.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.archive_post .meta li.post_author { background:url(img/common/icon_author.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; }
.archive_post .meta li.post_comment { background:url(img/common/icon_comment.gif) no-repeat left; padding:0 0 0 15px; min-height:13px; margin:0; }
.archive_post .arrow_link { float:right; margin:3px 0 0 0; }

/* page nav */
.page_navi { margin:0 25px 0 0; }
.page_navi h4 { font-size:10px; font-weight:normal; margin:0 0 10px 0; color:#888; }
.page_navi ul { }
.page_navi li { float:left; }
.page_navi a, .page_navi a:hover, .page_navi span
 { color:#666; font-size:11px; padding:13px 15px; line-height:100%; margin:0 4px 4px 0; background:#efefef; display:block; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.page_navi a:hover { color:#fff; text-decoration:none; }
.page_navi span.dots { background:#fff; }
.page_navi span.current { color:#fff; background:#c1c1c1; }
.page_navi p.back { margin:0; }
.page_navi p.back a, .page_navi p.back a:hover { display:inline-block; }



/* ----------------------------------------------------------------------
 page
---------------------------------------------------------------------- */
#no_side .single_post { width:980px; }
#page .post, #no_side .post { background:none; padding:0; margin:0; }

/* contact page */
.wpcf7 { background:#fafafa; border:1px solid #ddd; padding:20px; -moz-border-radius:10px; -khtml-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.wpcf7 p { padding:20px 20px 0; margin:0; font-size:11px; }
.wpcf7 input, .wpcf7 textarea { width:97.5%;  border:1px solid #ccc; padding:8px; font-size:14px; }
.wpcf7 textarea { height:300px; }
.wpcf7 input.wpcf7-submit { background:#999; border:none; cursor:pointer; color:#fff; font-weight:bold; font-size:14px; width:200px; height:40px; margin:0 auto; display:block; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.wpcf7 input.wpcf7-submit:hover { }
.wpcf7 input:focus, .wpcf7 textarea:focus { }
.wpcf7-captchac { border:1px solid #ccc; }
.wpcf7-radio input, .wpcf7-checkbox input { width:auto; border:none; padding:0; }
.wpcf7-radio span, .wpcf7-checkbox span { margin:0 20px 0 0; display:inline-block; }
span.wpcf7-list-item-label { top:-2px; position:relative; display:inline-block; }


/* ----------------------------------------------------------------------
 right col
---------------------------------------------------------------------- */
#right_col { font-size:11px; }
.side_widget { margin:0 0 40px 0; }
#right_col li { line-height:170%; margin:0 0 10px 0; font-size:11px; background:url(img/common/arrow3.gif) no-repeat left 4px; padding:0 0 0 14px; }
#right_col li ul { margin:10px 0 0 0; }
#right_col a { color:#666; }

/* recommend */
#right_col .recommend_widget { margin:0 0 25px 0; }
#right_col .recommend_widget ul { margin:0; }
#right_col .recommend_widget ul li { margin:0; min-height:82px; line-height:100%; background:none; padding:0; }
#right_col .recommend_widget ul li .meta { width:215px; float:right; }
#right_col .recommend_widget ul li .date { line-height:100%; font-size:11px; margin:0 0 5px 0; padding:13px 0 0 0; font-weight:bold; }
#right_col .recommend_widget ul li .title { line-height:130%; font-size:11px; font-weight:normal; margin:0; padding:0; }
#right_col .recommend_widget ul li .title a { text-decoration:none; color:#666; display:block; margin:0 0 10px 0; }
#right_col .recommend_widget ul li .title a:hover { text-decoration:underline; }
#right_col .recommend_widget ul li .image img { display:block; border:1px solid #ccc; padding:2px; float:left; }

/* calendar */
#wp-calendar { margin:0 auto; width:100%; font-size:11px; border-collapse:separate; table-layout:fixed; }
#wp-calendar th, #wp-calendar td { color:#333; padding:0; line-height:350%; text-align:center; }
#wp-calendar td a { display:block; margin:0; padding:0; text-decoration:none; color:#333; background:#efefef; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#wp-calendar td a:hover { text-decoration:none; color:#fff;}
#wp-calendar caption { padding:7px 0; }
#wp-calendar thead th, #wp-calendar tfoot td { border:none; padding:0; line-height:200%; }
#wp-calendar #prev, #wp-calendar #next { line-height:200%; }
#wp-calendar #prev a, #wp-calendar #next a { text-decoration:none; background:none; color:#333; }
#wp-calendar #prev a:hover, #wp-calendar #next a:hover { -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; color:#fff; }
#wp-calendar td#today { color:#fff; background:#c1c1c1; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#footer #wp-calendar { margin-bottom:20px; }
#footer #wp-calendar td a { background:#eaeaea; }

/* ad */
.ad_widget { text-align:center; }



/* ----------------------------------------------------------------------
 top page
---------------------------------------------------------------------- */
#index_top { background:url(img/index/dot_line.gif) no-repeat 729px 24px; margin:0 0 15px 0; }

/* latest article */
#index_latest { width:705px; float:left; }
#index_latest .headline { border:none; margin:0; }
#index_latest ul { margin:0 -20px 0 0; position:relative; }
#index_latest ul li { float:left; width:225px; border-top:1px solid #ccc; padding:18px 0 0 0; margin:0 15px 0 0; line-height:100%; }
#index_latest ul li .image img { display:block; }
#index_latest ul li .date { font-size:11px; margin:0 0 3px 0; line-height:100%; }
#index_latest ul li .title { font-size:12px; line-height:140%; margin:10px 0 0 0; padding:0; display:block; }
#index_latest ul li .title a { text-decoration:none; color:#333; display:block; margin:0 0 16px 0; min-height:30px; }
#index_latest ul li .title a:hover { text-decoration:underline; }
#index_latest ul li a.arrow_link { margin:0 0 10px 0; }
#index_latest ul li .excerpt { font-size:10px; line-height:140%; margin:0 0 16px 0; color:#666; }

/* side recommend */
#index_recommend { width:227px; float:right; }
#index_recommend ul { margin:0; }
#index_recommend ul li { margin:0; min-height:92px; line-height:100%; }
#index_recommend ul li .meta { width:145px; float:right; }
#index_recommend ul li .date { line-height:100%; font-size:11px; margin:0 0 5px 0; padding:5px 0 0 0; font-weight:bold; }
#index_recommend ul li .title { line-height:130%; font-size:11px; font-weight:normal; margin:0; padding:0; }
#index_recommend ul li .title a { text-decoration:none; color:#666; display:block; margin:0 0 10px 0; }
#index_recommend ul li .title a:hover { text-decoration:underline; }
#index_recommend ul li .image img { display:block; border:1px solid #ccc; padding:2px; float:left; }

/* recent article */
#index_bottom { background:url(img/index/dot1.gif) repeat-x left top; padding:32px 0 0 0; overflow:hidden; position:relative; }
#index_bottom ul { margin:0 -25px 0 0; position:relative; }
#index_bottom ul li { float:left; display:inline; margin:0 25px 30px 0; width:310px; height:127px; position:relative; line-height:100%; }
#index_bottom ul li .image { float:left; }
#index_bottom ul li .meta { float:right; width:150px; }
#index_bottom ul li .date { font-size:11px; font-weight:bold; margin:5px 0 0 0; }
#index_bottom ul li .title { line-height:140%; font-weight:normal; font-size:12px; margin:0; padding:0; }
#index_bottom ul li .title a { color:#333; text-decoration:none; margin:0 0 10px 0; display:block; }
#index_bottom ul li .title a:hover { text-decoration:underline; }
#index_bottom ul li a.arrow_link { position:absolute; bottom:10px; }
#index_bottom #archive_button a { display:inline-block; position:absolute; right:0px; top:25px; text-decoration:none; color:#fff; height:27px; font-size:11px; line-height:27px; padding:0 17px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#index_bottom #archive_button a:hover { opacity:0.8; }



/* ----------------------------------------------------------------------
 header
---------------------------------------------------------------------- */
#container { height:181px; position:relative; z-index:30; }
#header { width:980px; height:181px; margin:0 auto; position:relative; background:url(img/header/line1.gif) no-repeat 265px top; z-index:30; }

/* color line */
#top_line { height:3px; display:block; width:100%; min-width:100%; position:absolute; top:181px; z-index:10; }

/* logo */
#logo { position:absolute; line-height:120%; top:52px; left:0px; width:250px; font-size:20px; font-weight:normal; margin:0; paddgin:0; }
#logo a { text-decoration:none; color:#333; }
#logo a:hover { text-decoration:underline; }

/* social link */
.social_link { position:absolute; right:0px; top:37px; }
.social_link li { float:left; display:inline; margin:0 0 0 15px; }
#social_link2 { right:0px; top:56px; }

/* search */
.search_area { background:url(img/header/search_input.gif) no-repeat left top; position:absolute; right:0px; top:68px; width:159px; }
#search_input { float:left; font-size:11px; width:115px; margin:7px 0 0 10px; border:none; overflow:hidden; background:transparent; }
#search_button { float:right; }
#search_area2 { right:50px; top:53px; }

/* global menu */
#global_menu { width:715px; height:51px; margin:0; padding:0; position:absolute; right:0px; bottom:0px; z-index:20; }
#global_menu ul ul { position:absolute; top:51px; left:1px; margin:0 0 0 -1px; padding:0; display:none; }
#global_menu ul ul ul { left:100%; top:0; }

#global_menu ul li { float:left; margin:0; padding:0; position:relative; display:block; }
#global_menu ul ul li { float:none; height:auto; padding:0; margin:0; text-align:left; }
#global_menu ul li a { display:block; padding:8px 10px 0px 10px; color:#333; text-decoration:none; font-size:10px; background:url(img/header/menu_line.gif) repeat-y left top; height:43px; }
#global_menu ul li a:hover { background:#f6f6f6 url(img/header/menu_line.gif) repeat-y left top; color:#333; }
#global_menu ul li.active_menu a { }
#global_menu ul ul a { position:relative;  padding:8px 10px 0px 10px; line-height:140%; margin:0 0 -1px 0; border:1px solid #ccc; background:#fff; background-image:none; }
#global_menu ul ul a:hover { background:#f6f6f6; }

#global_menu ul li.first_menu { }
#global_menu ul li.last_menu a { }
.header_menu li.current-menu-item > a { }
#global_menu ul ul .parent_menu > a { }
#global_menu ul ul .parent_menu > a:hover {  }



/* ----------------------------------------------------------------------
 slider
---------------------------------------------------------------------- */
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style:none; }
.flexslider { width:980px; height:346px; margin:0 auto; position:relative; }
.flexslider .slides > li { display:none; -webkit-backface-visibility:hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides {  height:277px; width:876px; position:absolute; top:20px; left:46px; border:8px solid #fff; }
.flexslider .slides li { height:277px; }
.flexslider .left { float:left; display:inline; position:relative; width:349px; height:277px; }
.flexslider .left .date { font-size:70px; color:#fff; font-weight:normal; margin:15px 0 10px 20px; line-height:100%; }
.flexslider .left .year { font-size:14px; color:#ccc; margin:0 0 25px 25px; line-height:100%; }
.flexslider .left .title { font-size:14px; line-height:180%; font-weight:normal; margin:0 25px 18px; }
.flexslider .left .title a { color:#fff; display:block; text-decoration:none; }
.flexslider .left .title a:hover { color:#fff; text-decoration:underline; }
.flexslider .left .link { color:#ccc; position:absolute; bottom:20px; left:25px; height:19px; line-height:19px; background:url(img/index/slider_read_more.png) no-repeat right bottom; text-decoration:none; padding:0 24px 0 0; }
.flexslider .left .link:hover { background-position:right top; color:#fff; }
.flexslider .image { float:right; display:block; margin:0 0 0 0; }
.flexslider .image img { width:507px; height:277px; }

.flex-direction-nav { height:0; }
.flex-direction-nav li a { width:21px; height:32px; display:block; text-indent:-9999px; }
.flex-direction-nav li .next { background:url(img/index/slider_next.gif) no-repeat left top; position:absolute; right:0px; top:150px; }
.flex-direction-nav li .prev { background:url(img/index/slider_prev.gif) no-repeat left top; position:absolute; left:0px; top:150px; }
.flex-direction-nav li a:hover { background-position:left bottom; }

.flex-control-nav { position:absolute; bottom:6px; text-align:center; width:980px; margin:0; padding:0; }
.flex-control-nav li { display:inline; margin:0 3px; line-height:100%; }
.flex-control-nav li a { display:inline-block; width:6px; height:6px; text-indent:-9999px; background:url(img/index/circle.gif) no-repeat left top; cursor:pointer; }
.flex-control-nav li a:hover { background-position:left bottom; }
.flex-control-nav li a.active { background-position:left bottom; }

.flexslider .no_recommend { display:block; text-align:center; position:absolute; top:150px; width:980px; }


/* ----------------------------------------------------------------------
 footer
---------------------------------------------------------------------- */
/* breadcrumb nav */
#breadcrumb_area { clear:both; padding:40px 0 12px 0; position:relative; background:url(img/footer/grad_line.gif) no-repeat bottom; }
#bread_crumb { width:850px; margin:0; }
#bread_crumb li { float:left; font-size:10px; color:#666; line-height:140%; }
#bread_crumb li a { margin:0 10px 0 0; padding:0 15px 0 0; background:url(img/common/arrow2.gif) no-repeat right; color:#aaa; }
#return_top { position:absolute; right:0px; bottom:7px; }

#footer_wrap { background:#f4f4f4; min-width:980px; border-top:1px solid #e1e1e1; }
#footer { width:980px; margin:0 auto; position:relative; overflow:hidden; padding:20px 0 0 0; }

/* footer widget */
#footer_widget_area { padding:10px 0 0 0; margin:0 -25px 20px 0; position:relative; border-bottom:1px solid #ccc; }
.footer_widget { float:left; display:inline; margin:0 25px 0px 0; width:310px; }
.footer_widget .headline { margin:0 0 10px 0; font-size:14px; }
.footer_widget li { line-height:170%; margin:0 0 10px 0; font-size:11px; background:url(img/footer/arrow1.gif) no-repeat left 4px; padding:0 0 0 14px; }
#footer a { color:#666; }

/* footer menu */
#footer_menu { text-align:center; margin:0 0 7px 0; }
#footer_menu li { display:inline; margin:0 10px 0 0; padding:0 10px 0 0; font-size:10px; border-right:1px solid #ccc; line-height:100%; oadding:0; }
#footer_menu li.last { margin:0; padding:0; border:none; }
#footer_menu li a { text-decoration:none; }
#footer_menu li a:hover { text-decoration:underline; }

/* copyright */
#copyright { text-align:center; font-size:10px; margin:0 0 15px 0; }
#copyright a { text-decoration:none; }
#copyright a:hover { text-decoration:underline; }



/*************************************************************
【ボタン 青・緑】aタグに使えます
*************************************************************/
a.button {
   color:#fff; font-size:11px; font-weight:bold; padding:0px 15px 0px; height:34px; line-height:35px; margin:0 4px 4px 0; background:#008ece; display:inline-block; text-decoration:none; 
   -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
   background: -moz-linear-gradient(top, rgba(0,216,255,1) 0%, rgba(0,142,206,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,216,255,1)), color-stop(100%,rgba(0,142,206,1)));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d8ff', endColorstr='#008ece',GradientType=0 );
   border:1px solid #009de1; text-shadow: 1px 1px 0px #0085bf;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.button:hover { color:#fff; text-decoration:none; background:#0ddaff; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ddaff', endColorstr='#0ddaff',GradientType=0 ); }
a.button:active { box-shadow:none; bottom:-2px; position:relative; }
.post a.button2 {
   color:#fff; font-size:11px; font-weight:bold; padding:0px 15px 0px; height:34px; line-height:35px; margin:0 4px 4px 0; background:#36bf00; display:inline-block; text-decoration:none; 
   -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
   background: -moz-linear-gradient(top, rgba(65,231,0,1) 0%, rgba(54,191,0,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,231,0,1)), color-stop(100%,rgba(54,191,0,1)));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41e700', endColorstr='#36bf00',GradientType=0 );
   border:1px solid #2da000; text-shadow: 1px 1px 0px #227a00;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.button2:hover { color:#fff; text-decoration:none; background:#7bf013; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bf013', endColorstr='#7bf013',GradientType=0 ); }
a.button2:active { box-shadow:none; bottom:-2px; position:relative; }

/**************************************************************
【fontの設定】
**************************************************************/
.text70{font-size:70%}			/* フォントサイズ70% */
.text80{font-size:80%}
.text90{font-size:90%}
.text100{font-size:100%}
.text110{font-size:110%}
.text120{font-size:120%}
.text130{font-size:130%}
.text140{font-size:140%}
.text150{font-size:150%}
.text160{font-size:160%}
.text170{font-size:170%}
.text180{font-size:180%}
.text190{font-size:190%}
.text200{font-size:200%}
.text210{font-size:210%}
.text220{font-size:220%}
.b{font-weight:700}				/* 太字 */
.u{text-decoration:underline}	/* 下線 */

/**************************************************************
【colorの設定】
**************************************************************/
.red{color:red}				/* 赤色 */
.blue{color:#2ca9e1}		/* 青色 */
.green{color:#82ae46}		/* 緑色 */
.orange{color:#ff7d00}		/* 橙色 */
.yellow{color:#fff000}		/* 黄色 */
.pink{color:#ff0084}		/* ピンク */
.gray{color:#999}

/**************************************************************
【background-colorの設定】
**************************************************************/
.bg-yellow{background:#ff0}		/* 黄色の文字背景 */
.bg-blue{background:#4ab0f5}	/* 青色の文字背景 */
.bg-red{background:red}			/* 赤色の文字背景 */

/****************************************************************
【align 配置の設定】
*****************************************************************/
.align1{text-align:center !important}	/* 中央寄せ */
.align2{text-align:right !important}	/* 右寄せ */
.align3{text-align:left !important}		/* 左寄せ */

/****************************************************************
【float 回り込みの設定】
*****************************************************************/
.r-flo{float:right;margin:10px}	/* 右に回り込み */
.l-flo{float:left;margin:10px}	/* 左に回り込み */
.f-clear{clear:both}			/* 回り込みの解除 */

/****************************************************************
【マウスオーバー時の画像リンク 不透明度の設定】※初期設定は60%
*****************************************************************/
a img.linkimg{background:none!important}
a:hover img.linkimg{
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	background:none!important;
}

/*************************************************************
【marginの設定】
*************************************************************/
.m0{margin:0 !important}			/* margin 0px を指定するクラス */
.mt0{margin-top:0 !important}		/* margin-top0px を指定するクラス */
.mr0{margin-right:0 !important}		/* margin-right0px を指定するクラス*/
.mb0{margin-bottom:0 !important}	/* margin-bottom0px を指定するクラス*/
.ml0{margin-left:0 !important}		/* margin-left0px を指定するクラス*/

.m5{margin:5px !important}
.mt5{margin-top:5px !important}
.mr5{margin-right:5px !important}
.mb5{margin-bottom:5px !important}
.ml5{margin-left:5px !important}

.m10{margin:10px !important}
.mt10{margin-top:10px !important}
.mr10{margin-right:10px !important}
.mb10{margin-bottom:10px !important}
.ml10{margin-left:10px !important}

.m15{margin:15px !important}
.mt15{margin-top:15px !important}
.mr15{margin-right:15px !important}
.mb15{margin-bottom:15px !important}
.ml15{margin-left:15px !important}

.m20{margin:20px !important}
.mt20{margin-top:20px !important}
.mr20{margin-right:20px !important}
.mb20{margin-bottom:20px !important}
.ml20{margin-left:20px !important}

.m25{margin:25px !important}
.mt25{margin-top:25px !important}
.mr25{margin-right:25px !important}
.mb25{margin-bottom:25px !important}
.ml25{margin-left:25px !important}

.m30{margin:30px !important}
.mt30{margin-top:30px !important}
.mr30{margin-right:30px !important}
.mb30{margin-bottom:30px !important}
.ml30{margin-left:30px !important}

.m35{margin:35px !important}
.mt35{margin-top:35px !important}
.mr35{margin-right:35px !important}
.mb35{margin-bottom:35px !important}
.ml35{margin-left:35px !important}

.m40{margin:40px !important}
.mt40{margin-top:40px !important}
.mr40{margin-right:40px !important}
.mb40{margin-bottom:40px !important}
.ml40{margin-left:40px !important}

.m45{margin:45px !important}
.mt45{margin-top:45px !important}
.mr45{margin-right:45px !important}
.mb45{margin-bottom:45px !important}
.ml45{margin-left:45px !important}

.m50{margin:50px !important}
.mt50{margin-top:50px !important}
.mr50{margin-right:50px !important}
.mb50{margin-bottom:50px !important}
.ml50{margin-left:50px !important}

.m55{margin:55px !important}
.mt55{margin-top:55px !important}
.mr55{margin-right:55px !important}
.mb55{margin-bottom:55px !important}

.ml55{margin-left:55px !important}
.m60{margin:60px !important}
.mt60{margin-top:60px !important}
.mr60{margin-right:60px !important}
.mb60{margin-bottom:60px !important}
.ml60{margin-left:60px !important}

.m65{margin:65px !important}
.mt65{margin-top:65px !important}
.mr65{margin-right:65px !important}
.mb65{margin-bottom:65px !important}
.ml65{margin-left:65px !important}

.m70{margin:70px !important}
.mr70{margin-right:70px !important}
.mb70{margin-bottom:70px !important}
.ml70{margin-left:70px !important}

.m75{margin:75px !important}
.mt75{margin-top:75px !important}
.mr75{margin-right:75px !important}
.mb75{margin-bottom:75px !important}
.ml75{margin-left:75px !important}

.m80{margin:80px !important}
.mt80{margin-top:80px !important}
.mr80{margin-right:80px !important}
.mb80{margin-bottom:80px !important}
.ml80{margin-left:80px !important}

/**************************************************************
【paddingの設定】
**************************************************************/
.p0{padding:0 !important}			/* padding-0px を指定するクラス */
.pt0{padding-top:0 !important}		/* padding-top0px を指定するクラス */
.pr0{padding-right:0 !important}	/* padding-right0px を指定するクラス */
.pb0{padding-bottom:0 !important}	/* padding-bottom0px を指定するクラス */
.pl0{padding-left:0 !important}		/* padding-left0px を指定するクラス */

.p5{padding:5px !important}
.pt5{padding-top:5px !important}
.pr5{padding-right:5px !important}
.pb5{padding-bottom:5px !important}
.pl5{padding-left:5px !important}

.p10{padding:10px !important}
.pt10{padding-top:10px !important}
.pr10{padding-right:10px !important}
.pb10{padding-bottom:10px !important}
.pl10{padding-left:10px !important}



/* ---------- clearfix hack ---------- */
.cf:after { content: "."; display:block; clear:both; height:0; font-size:0.1em; line-height:0; visibility:hidden; overflow:hidden; }
.cf { display: inline-block; }
/* exlude MacIE5 \*/
* html .cf { height:1% }
.cf {display:block;}
/* end MacIE5 */