/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.text {
	font-size: 72%;
	line-height: 130%;
}
.test-s {
	font-size: 60%;
	line-height: 120%;
}

.text-ss {
	font-size: 60%;
	line-height: 115%;
        color:#990000;
}
.text-ss-b {
	font-size: 60%;
	line-height: 150%;
}
.text-blue {
        color:#0000cc;
}
.text-red {
        color:#990000;
}