@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Ninja Style - Default Sub Skin";
 :created "2007-12-26";
 :release [:revision "1.01"; :created "2008-01-05"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "レイアウト簡易設定情報と色彩情報定義ファイル";
 :note "
 	16進数の編集だけでも、スキンイメージを大きく変更できます。
 	このファイルで変更できない箇所は、コアCSS、
	または、有効化されたモジュールCSSを直接編集するか、
	ここに新たにセレクタを追加して上書きして下さい。
 ".
*/

/*
	<body class="single"> のページでは、
	以下のCSSファイルがdiv#utilities に適用されます。
	カスタマイズする場合はあわせて編集してください。
*/

@import url(2-singleUtilities.css);

/*=========================================================

	Layout
	
=========================================================*/

body {
	margin: 0 0; /* margin */
}

div#header,
div#content,
div#footer {
	width: 90%; /* (example: 50%~100%, 400px~1000px, 60em, etc. )*/
	min-width: 35em; /* 最小幅 */
	max-width: 70em; /* 最大幅 */
}

/*=========================================================

	General
	
=========================================================*/

body {
	color: #555;
	background-color: #444;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div#header {
	border-top: 8px solid #000;
	border-bottom: 16px solid #1c1c1c;
	background-color: #272727;
}

div#content {
	border-bottom: 6px solid #333;
	background-color: #fff;
}

div#content div#main {
	background-color: #fff;
	border-color: #eee; /* 本文カラム境界線 */
}

/*--------------------
	Border Switch
	headerとcontentの区切り付近に出現するBorder。
	ModuleのImportよってBorderに利用するBoxを切り替えています。
	!必要ない場合は全て削除してください。
----------------------*/

div#content,div#main,
body.double div#utilities,
body.multi div#utilities {
	border-top: 5px solid #e4e4e4; /* 編集は色だけ推薦 */
}

div#main,
body.double div#utilities,
body.multi div#utilities {
	border-top-width: 0; /* Do not edit this line */
}

/*---------------
 Font Size Setting
 本文文字サイズ
-----------------*/

div.textBody {
	font-size: 100%; /* ( small: 92% | medium: 100% | large: 107% ) */
}

/* individual (個別記事では少し大きく) */

body.individual div.textBody {
	font-size: 107%; /* ( small: 92% | medium: 100% | large: 107% ) */
}

/*---------------
 Link Color
-----------------*/

a:link {
	color: #666;
}

a:visited {
	color: #888;
}

a:hover {
	color: #000;
}

/*---------------
 Website Title
-----------------*/

div#header p.siteName {

}

div#header p.siteName a {
	color: #fff;
}

div#header p.siteName a:hover {
	color: #f5f5f5;
}

/*---------------
 Description
-----------------*/

div#header p.description {
	color: #999;
}

/*---------------
 Topic Path
-----------------*/

/* 現在位置 */
p.topicPath span.current {
	padding-left: 15px;
	background-image: url(images/arrow/v_arrow090102.gif);
	background-repeat: no-repeat;
	background-position: left center;
	_background-position: 0 0.4em; /* for IE */
}

/*---------------
 Heading
-----------------*/

h1 {
	color: #000;
}

h2 {
	border-bottom: 1px solid #eee;
	color: #000;
}

h3 {
	color: #666;
	background-color: #f5f5f5;
}

/*=========================================================

	div#utilities (Sidebar)
	
=========================================================*/

div#utilities {

}

/*---------------
 dl.navi
-----------------*/

dl.navi {

}

dl.navi dt {
	color: #fff;
	background-color: #666;
}

/*---------------
 dl.others
-----------------*/

dl.others {

}

dl.others dt {
	color: #fff;
	background-color: #bbb;
}

/*---------------
 .freeSpace [?]
-----------------*/

div#utilities .freeSpace {
	margin: 1px;
	background-color: #fff;
}

div#utilities .freeSpace p,
div#utilities .freeSpace dl,
div#utilities .freeSpace ul,
div#utilities .freeSpace ol,
div#utilities .freeSpace li {
	margin: 0.1em 5px;
}

/*---------------
 nest
-----------------*/

div#utilities dl dd dl dt {
	background-color: #fff;
}

/*---------------
 Sidebar Link Color
-----------------*/

dl.navi li a,
dl.others li a {
	padding-left: 15px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	_background-position: 0 0.2em;
}

dl.navi li a:link,
dl.others li a:link {
	background-image: url(images/mark/v_mark040101.gif);

}

dl.navi li a:visited,
dl.navi dl li a:visited,
dl.others li a:visited,
dl.others dl li a:visited {
	background-image: url(images/mark/v_mark040201.gif);
}

dl.navi a:hover,
dl.others a:hover {

}


/*

body class="single"
div#utilities style

2-singleUtilities.css

*/

/*=========================================================

	Entry
	
=========================================================*/

/*---------------
 Title
-----------------*/

div.entry h2 {

}

div.entry h2 a {
	text-decoration: none;
	color: #000;
}

div.entry h2 a:visited {
	color: #000;
}

div.entry h2 a:hover {
	color: #666;
}

/*---------------
 Text Body
-----------------*/

div.entry div.textBody dl {
	border-left: 6px solid #eee;
	border-bottom: 1px solid #fff;
}

/*---------------
 Link img
-----------------*/

div.textBody a img {
	border: 3px solid #ccc;
}

div.textBody a:hover img {
	border: 3px solid #000;
}

/*---------------
 Continue reading
-----------------*/

p.continue {
	padding-left: 12px;
	background-image: url(images/arrow/v_arrow050102.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

p.continue a:link,
p.continue a:visited {
	color: #fff;
	background-color: #666;
}

p.continue a:visited {
	background-color: #aaa;
}

p.continue a:hover {
	color: #fff;
	background-color: #000;
}

/*---------------
 Reaction
-----------------*/

div.entry ul.reaction {
	border-top: 1px solid #eee;
}

div.entry ul.reaction li {
	border-right: 2px solid #eee;
}

div.entry ul.reaction li a {
	padding-left: 18px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
}

div.entry ul.reaction li.comment a {
	padding-left: 24px;
	background-image: url(images/icon/v_icon010101.gif);
}

div.entry ul.reaction li.trackback a {
	background-image: url(images/icon/v_icon080101.gif);
}

/*---------------
 Reaction Log (individual)
 -Comments
 -Trackbacks
-----------------*/

div#comments dl.log dt span.name,
div#trackback dl.log dt span.name {
	color: #000;
}

div#comments dl.log dt span.date,
div#trackback dl.log dt span.date {
	color: #999;
}


div#comments dl.log dd,
div#trackback dl.log dd {
	border-bottom: 1px solid #eee;
}

div#trackback dl.log {
	border-left: 5px solid #aaa;
}

/* Trackback Info */

div#trackback dl.info {
	border-left: 5px solid #aaa;
	border-bottom: 1px solid #eee;
	background-color: #f5f5f5;
}

div#trackback dl.info .URL {
	color: #000;
	background-color: #fff;
}

/*---------------
 Flip Pager (Newer - Older)
-----------------*/

ul#flip1 li a {
	padding: 0 0.5em;
	color: #666;
	background-repeat: no-repeat;
}

/* Newer Article */

ul#flip1 li.newer a {
	padding-left: 18px;
	background-image: url(images/arrow/v_arrow070101.gif);
	background-position: left center;
}

/* Older Article */

ul#flip1 li.older a {
	padding-right: 18px;
	border-left: 1px solid #ccc;
	background-image: url(images/arrow/v_arrow070102.gif);
	background-position: right center;
}

/* On Mouse */

ul#flip1 li a:hover {
	color: #000;
}
 
ul#flip1 li.newer a:hover {
	background-image: url(images/arrow/v_arrow070201.gif);
}

/* Older Article */

ul#flip1 li.older a:hover {
	background-image: url(images/arrow/v_arrow070202.gif);
}

/*---------------
 Flip Pager2 (Newer - Older)
-----------------*/

#flip2 {
	border: 1px solid #ddd;
}

#flip2 li {
	color: #000;
}

#flip2 li a {

}

/*---------------
 Retun to page top
-----------------*/

p.return a {
	padding-right: 12px;
	background: url(images/arrow/v_arrow060101.gif) no-repeat right center;
}

/*---------------
 Archive Index
-----------------*/

p.archives a {
	padding-left: 16px;
}

/*=========================================================

	Footer
	
=========================================================*/

div#footer ul.support li {
	color: #aaa;
}

div#footer ul.support li a {
	color: #999;
	text-decoration: none;
}

div#footer li.template a {

}

div#footer address {
	color: #fff;
}

/*=========================================================

	Elements
	
=========================================================*/

em {
	font-weight: bold;
}

strong {
	color: #ff4500;
}

/*---------------
 Form
-----------------*/

fieldset {
	border: 1px solid #ddd;
	background-image: url(images/bg/bg_slash01.png);
}

input,
textarea {
	border-color: #d4d4d4 #eee #eee #d4d4d4;
	background-color: #fff;
	background-image: url(images/bg/bg_input.gif);
	background-repeat: no-repeat;
}

input:hover,textarea:hover {
	border-color: #00a0dd;
}

input:focus,textarea:focus {
	border-color: #aaa;
	background-color: #fff;
}

input.submit {
	color: #fff;
	background-color: #666;
}

input.submit:hover {
	background-color: #000;
}

/*---------------
 Table
-----------------*/

table {
	border: 1px solid #cfd3d6;
	background-color: #fff;
}

th,
td {
	border: 1px solid #efefef;
	border-color: #efefef #dce0e3 #dce0e3 #efefef;
}

th {
	color: #000;
	background-color: #efefef;
}

td {
	border: 1px solid #ddd;
	background-color: #fff;
}

/*---------------
 Pre
-----------------*/

pre {
	color: #666;
	background-color: #eee;
}

pre * {
	color: #444;
}

pre[title]:before {
	color: #fff;
	background-color:  #bbb;
}

/*---------------
 Blockquote (引用)
-----------------*/

blockquote {
	border: 3px solid #eee;
	color: #666;
	background-color: #f5f5f5;
}

blockquote * {
	color: #666;
}

blockquote[title]:before {
	color: #000;
}

blockquote[cite]:after {
	color: #333;
}

cite {
	color: #333;
}

/*=========================================================

	Others
	
=========================================================*/

/*
コメント・トラックバック数など、
数を表す部分で使われます
*/

.count {

}
