@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Ninja Style - Style for Single Column";
 :created "2007-12-26";
 :release [:revision "2.0"; :created "2007-12-26"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "シングルカラム時の div#utilities 色彩情報定義ファイル";
 :note "
 	16真数の編集だけでも、スキンイメージを大きく変更できます。
 	このファイルで変更できない箇所は、コアCSS、
	または有効化されたモジュールCSSを直接編集するか、
	新たにセレクタを追加し、スタイル指定を Override して下さい。
 ".
*/

/*=========================================================

	body.single div#utilities (single column)
	
=========================================================*/

body.single div#utilities {
	background-color: #f5f5f5;
	background-image: url(images/bg/bg_grad02.png);
	background-repeat: repeat-x;
}

body.single div#utilities dl {
	background-color: #fff;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

body.single div#utilities dl dt {
	border-left: 5px solid #bbb;
	color: #000;
	background-color: transparent;
}

body.single div#utilities dl dd {
	border-left: 5px solid #ddd;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	background: #f7f7f7 url(images/bg/bg_line-dot.gif) left top repeat-x;
}

body.single div#utilities dl dd li {
	margin-left: 10px;
}

/* Nest */

body.single div#utilities dl dd dt {
	border: none;
	background-color: transparent;
}

body.single div#utilities dl dd dd {
	border: none;
	background-image: none;
}

/*---------------
 dl.navi
-----------------*/

body.single dl.navi {
	background-color: #f5f5f5;
}

body.single dl.navi dt {
	color: #fff;
	background-color: #666;
}

/*---------------
 dl.others
-----------------*/

body.single dl.others {
	background-color: #f5f5f5;
}

body.single dl.others dt {
	color: #fff;
	background-color: #bbb;
}

/*---------------
 .freeSpace [?]
-----------------*/

body.single div#utilities .freeSpace {
	margin: 1px;
	background-color: #fff;
}

body.single div#utilities .freeSpace p,
body.single div#utilities .freeSpace dl,
body.single div#utilities .freeSpace ul,
body.single div#utilities .freeSpace ol,
body.single div#utilities .freeSpace li {
	margin: 0.1em 5px;
}

/*---------------
 nest
-----------------*/

body.single div#utilities dl dd dl dt {
	background-color: #fff;
}

/*---------------
 Sidebar Link Color
-----------------*/

body.single dl.navi a:link,
body.single dl.others a:link {

}

body.single dl.navi a:visited,
body.single dl.others avisited {

}

body.single dl.navi a:hover,
body.single dl.others a:hover {

}

/*---------------
 Tag Cloud
-----------------*/

body.single div#utilities ul.tagCloud {
	margin: 0.8em 10px;
}

body.single div#utilities ul.tagCloud li {
	margin: 0;
}
