@charset "utf-8";

/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Vicuna Ninja Style - Context";
 :created "2007-12-26";
 :release [:revision "1.0"; :created "2007-12-26"];
 :author [:name "wu"; :homepage <http://vicuna.jp/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/by/3.0/>;
 :description "特定の役割を持った要素へのスタイル定義" .
*/

/*--------------------------------------
	.pager
---------------------------------------*/

/*	ul.pager (Newer|Older)
-----------------------------*/

ul.pager {
	text-align: center;
}

ul.pager li {
	display: inline;
}

ul.pager li.newer:before {
	content: "<< ";
}

ul.pager li.older:after {
	content: " >>";
}

/*	p.pagerNum (1|2|3|4)
-----------------------------*/

p.pagerNum {
	text-align: center;
}

p.pagerNum a {
	text-decoration: none;
	border-bottom: none;
}

p.pagerNum strong {

}

/*--------------------------------------
	.count
---------------------------------------*/

.count {
	color: #000;
}

/*--------------------------------------
	.feed
---------------------------------------*/

li.atom,
li.rss {
	margin-left: 5px!important;
	list-style-type: none;
}

li.atom a,
li.rss a {
	padding-left: 20px!important;
	background-image: url(images/mark/icon_feed.gif)!important;
	background-repeat: no-repeat;
	background-position: 0 0.1em;
}

/*--------------------------------------
	dl.data
---------------------------------------*/

dl.data {
	padding: 0;
	border-left: 5px solid #ddd;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee!important;
}

dl.data dt {
	margin: 0;
	padding: 0.3em 0 0.1em 1em;
	border-top: 1px solid #eee;
	width: 8em;
	float: left;
	color: #333;
}
	
dl.data dd {
	margin: 0 0 0 8em;
	padding: 0.3em 1em;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #999;
}

/*--------------------------------------
	float
---------------------------------------*/

.img_L {
	margin-right: 1em!important;
	margin-top: 1em!important;
	float: left;
}

.img_R {
	margin-left: 1em!important;
	margin-top: 1em!important;
	float: right;
}

.clear {
	display: block;
	clear: both;
}

/*--------------------------------------
	Photo thumbnail
---------------------------------------*/

ul.thumb {

}

ul.thumb li {
	margin: 5px 0 0 5px;
	border: 1px solid #333;
	float: left;
	display: inline;
	overflow: hidden;
	width: 70px; /* Pictures height */
	background-color: #666;
}

ul.thumb li a {
	border: none;
	text-decoration: none;
}

ul.thumb li a img {

	border: none;
}

/*--------------------------------------
	Tag Cloud
---------------------------------------*/

ul.tagCloud {
	margin: 0.5em 30px;
	padding: 0.5em 10px;
	line-height: 1;
	font-family: "Courier New", Courier, mono;
	font-size: 13px;
}

ul.tagCloud li {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 100%;
}

ul.tagCloud li a {
	text-decoration: none;
}

/* Tag level 1>6 */

ul.tagCloud li.level1 a {
	font-size: 167%;
	font-weight: bold;
	color: #424242;
}

ul.tagCloud li.level2 a {
	font-size: 136%;
	font-weight: bold;
	color: #5e5e5e;
}

ul.tagCloud li.level3 a {
	font-size: 122%;
	font-weight: bold;
	color: #7a7a7a;
}

ul.tagCloud li.level4 a {
	font-size: 114%;
	color: #979797;
}

ul.tagCloud li.level5 a {
	font-size: 92%;
	color: #b3b3b3;
}

ul.tagCloud li.level6 a {
	font-size: 77%;
	color: #cfcfcf;
}

/* On Mouse */
ul.tagCloud li a:hover {
	color: #000;
}

/*--------------------------------------
	Headline
---------------------------------------*/

dl.headline {
	margin: 0 20px 1em;
}

dl.headline dt {
	font-size: 114%;
	margin-bottom: 0;
}

dl.headline dt span.date {
	font-size: 80%;
	color: #aaa;
}

dl.headline dd {
	margin: 0 10px 1em 10px;
}

dl.headline dd ul {
	margin: 0;
	padding-bottom: 1.2em;
	list-style-type: none;
	list-style-position: outside;
	border-bottom: 1px solid #eee;
}

dl.headline dd ul li {
	margin: 0.3em 5px 0.3em 0;
	display: inline;
	font-size: 92%;
	color: green;
}

dl.headline dd ul li.author span.name {
	color: #333;
}

dl.headline dd ul li.category a,
dl.headline dd ul li.tag a {
	color: #aaa;
	text-decoration: none;
}

dl.headline dd ul li.tag a {

}

dl.headline dd ul li.textBody {
	display: block;
	font-size: 100%;
	color: #333;
}

/*--------------------------------------
	.admin
---------------------------------------*/

.admin a {
	padding: 0 10px 0 25px;
	text-decoration: none;
	color: #f65472;
	background: url(images/mark/icon_edit.gif) 5px 3px no-repeat;
}

.admin a:hover {
	color: #953844;
}

/*--------------------------------------
	clearFix
---------------------------------------*/

div#utilities,
.textBody,
ul.flip,
ul.thumb {
	_height: 1px;
	min-height: 1px;
}

div#utilities:after,
.textBody:after,
ul.flip:after,
ul.thumb:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

/* for MacIE5 \*//*/
div#utilities,
.textBody,
ul.flip,
ul.thumb {
	height: auto;
	overflow: hidden;
}
/* end */
