<?xml version="1.0" encoding="Shift_JIS"?>
<rss version="2.0">

<channel>
<title>ここにサイト名やコーナーの名前を入力</title>
<!-- link タグの中身はサイトのURLに変更して下さい -->
<link>http://input.your.domain.name/</link>
<description>ここにサイト名やコーナーの説明を入力</description>
<language>ja</language>

<!-- image タグ（以下10行）は任意要素です。不要なら削除して下さい。 -->
<image>
<title>ここにサイト名やコーナーの名前を入力</title>
<!-- url タグの中身はサイトのロゴのURLに変更して下さい -->
<url>http://input.your.domain.name/your_site_logo.gif</url>
<!-- link タグの中身はサイトのURLに変更して下さい -->
<link>http://input.your.domain.name/</link>
<width>88</width>
<height>31</height>
<description>ここにサイト名やコーナーの説明を入力</description>
</image>

%_article_list_%

</channel>
</rss>
