@charset "UTF-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 00.base style                                                          */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3","Osaka";
	text-shadow: 0px 0px 1px #FFFFFF;
}
html {
	overflow-x: hidden;
}
body {
	background-image: url(../images/mfp_background_image.gif);
	margin: 0px auto 0px auto;
	text-align: center;
}
div.section {
	border: solid 1px #CCCCCC;
	padding: 10px;
	margin: 10px;
}
img {
	display: block;
	border: none;
}
p,li {
	font-size: 12px;
	line-height: 1.5em;
	color : #232323;
}
li {
	list-style: none;
}
em,strong,h1,h2,h3,dt {
	font-family: "Hiragino Kaku Gothic Pro W6","ヒラギノ角ゴ Pro W6","Osaka","ＭＳ Ｐゴシック";
	font-weight: bolder;
}
h1 {
	font-size: 18px;
	color : #232323;
}
h2 {
	font-size: 16px;
	color : #232323;
}
h3 {
	font-size: 14px;
	color : #232323;
}
hr {
	border-style: solid;
	border-color: #999999;
}
a {
	text-decoration: none;
}
a:active {
	color: #0000FF;
}
a:link {
	color: #0000FF;
}
a:visited {
	color: #990099;
}
a:hover {
	text-decoration: underline;
	color: #CC0000;
}
.english {
	font-family: "Myriad Pro","Verdana","Arial", "Helvetica", "sans-serif";
	line-height: normal;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 01.wrapper style                                                       */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div#wrapper {
	margin: 0px auto 0px auto;
	width: 100%;
	background-image: url(../images/mfp_background.gif);
	background-repeat: repeat-x;
}
div#header {
	position: relative;
	margin: 0px auto 0px auto;
	width: 820px;
	height: 160px;
	background-image: url(../images/mfp_header_wide.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_header_wide.png', sizingMethod='scale');
}
h1#title {
	position: absolute;
	top: 70px;
	left: 145px;
	color: #FFFFFF;
	float: left;
	font-size: 24px;
	text-shadow: 1px 1px 3px #333333;
}
div#header span {
	display: block;
	position: absolute;
	top: 105px;
	left: 150px;
	color: #FFFFFF;
	font-size: 10px;
	text-shadow: 1px 1px 3px #333333;
	font-weight: bolder;
}
div#header div {
	font-weight: bolder;
	display: block;
	position: absolute;
	top: 125px;
	left: 150px;
	color: #FFFFFF;
	font-size: 12px;
	text-shadow: 1px 1px 3px #333333;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 04.container style                                                     */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div#container {
	margin: 0px auto 0px auto;
	padding: 0px 20px 0px 20px;
	width: 780px!important;
	width/**/: 820px;
	clear: both;
	text-align: left;
	background-image: url(../images/mfp_container_wide.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_container_wide.png', sizingMethod='scale');

}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 05.contents style                                                      */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div#contents {
	padding: 5px;
	width: 770px!important;
	width/**/: 780px;
	background-color: #FFFFFF;
}
div#contents p {
	padding: 0px 10px 0px 10px;
	font-size: 12px;
	line-height: 1.5em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 07.footer style                                                        */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div#footer {
	position: relative;
	margin: 0px auto 0px auto;
	width: 820px;
	height: 70px;
	background-image: url(../images/mfp_footer_wide.png);
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_footer_wide.png', sizingMethod='scale');
	clear: both;
}
div#footer span {
	display: block;
	font-family: "Myriad Pro","Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	position: absolute;
	color: #FFFFFF;
	width: 820px;
	height: 30px;
	text-align: center;
	top: 16px;
	left: 0px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 08.copyright style                                                     */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
div#copyright {
	padding: 2px;
	color: #999999;
	clear: both;
	line-height: normal;
	background-color: #666666;
}
div#copyright p {
	font-size: 10px;
}
div#copyright span {
	font-family: "Myriad Pro","Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div#thanks {
	padding: 40px 0px 40px 0px;
	text-align: center;
	margin:auto;

}
div#thanks p {
	font-size: 16px;
	text-align: center;
	margin:auto;

}

div#thanks img {
	text-align: center;
	margin:auto;

}

div#thanks p strong {
	font-size: 18px;
	color: #CC0000;
}
