/*01.ＣＳＳクリア
------------------------------------*/
body {
	margin:0;
	padding:0;
	color:#141414;
}

h1, h2, h4, h3,h5 ,h6,p{
	margin:0;
	padding:0;
	color:#141414;
}
img{
	border:0;}
dl,p{
	margin:0;
	padding:0;
	}
.size9{
	font-size:9px;
	vertical-align:text-top;
	}
.s_clear{
	clear:both;
	font-size:xx-small;
	line-height:1em;
	}	
.clear{
	clear:both;
	}
	
.valine-m{
	vertical-align:middle;
}	
	
.left{
	float:left;
	}
.right{
	float:right;
	}
.center{
	text-align:center;
	}
a{
	color:#141414;
	text-decoration:underline;
	}
a:hover{
	color:#990000;
	text-decoration:underline;
	}
.no_border{
	border:none;
	}	
ul,li{
	margin:0;
	padding:0;
	}
#container{
	width:760px;
	margin:0 auto;
	}
form{
	padding:0;
	margin:0;
	}
.nb_left{
	border:none;
	float:left;
	}
.nb_right{
	border:none;
	float:right;
	}
.text01{
	background-color:#F3F3F3;
}

.tbl{
	font-size:10px;
	margin-bottom:10px;
	margin-left:3px;
}
.tbl2{
	font-size:12px;
	margin-bottom:15px;
	margin-left:15px;
}
.tbl2 a{
	text-decoration:none;
}
#twitter{
	margin-left:5px;
}

#word{
	width:170px;
        height:35;
        margin-left:5px;
}


.text{
    width:60%;
}
.text2{
    width:20%;
    text-align:right;
}
#pan{
	font-size:12px;
	}
#pan a{
	color:#990000;
	text-decoration:none;
	}
#pan a:hover{
	color:#666666;
	}
/*ヘッダー*/
div#header{
	height:132px;
	background-image:url(../img/header_back.gif);
	padding:0;
	margin:0;
	}
div#header_top{
	height:104px;
	}
#site_logo{
	border:none;
	float:left;
	margin:0;
	padding:0;
	}
div#logo2{
	width:290px;
	background-image:url(../img/header_back2.gif);
	background-repeat:no-repeat;
	height:104px;
	float:left;
	}
div#logo2 h1{
	font-size:12px;
	line-height:1.2em;
	margin:20px 20px 0 130px;
    color:#444444;
	}
div#header_right1{
	width:200px;
	margin-left:10px;
	float:right;
	}
div#header_right1 li{
	list-style:none;
	float:left;
	text-indent:-9999px;
	font-size:xx-small;
	}
#header_right01 a{
	display:block;
	width:99px;
	height:27px;
	background-image:url(../img/sitemap_menu.gif);
	background-position:0 0;
	}
#header_right01 a:hover{
	background-position:0 -27px;
	}
#header_right02 a{
	display:block;
	width:78px;
	height:27px;
	background-image:url(../img/sitemap_menu.gif);
	background-position:-99px 0;
	}
#header_right02 a:hover{
	background-position:-99px -27px;
	}
#search-kensaku{
	float:left;
	font-size:12px;
	width:266px;
	text-align:right;
	vertical-align:top;
	margin-top:20px;
	}
#search-kensaku form{
	text-align:right;
}
#search-kensaku input{
	vertical-align:middle;
}
#top_menu{
	margin:0;
	padding:6px 0 0 190px;
	clear:both;
	background-image:url(../img/top_menu_back.gif);
	background-repeat:no-repeat;
	height:28px;
	font-size:12px;
	letter-spacing:0.1em;
	line-height:1.3em;
	}
#top_menu li{
	float:left;
	font-style:normal;
	list-style:none;
	}
#top_menu a{
	display:block;
	text-align:center;
	color:#323232;
	text-decoration:none;
	}
#top_menu a:hover{
	text-decoration:none;
	color:#000000;
	}
#top_menu01 a{
	width:83px;
	}
#top_menu02 a{
	width:137px;
	}
#top_menu03 a{
	width:125px;
	}
#top_menu04 a{
	width:95px;
	}
#top_menu05 a{
	width:115px;
	}
#left{
	float:left;
	margin:0;
	width:208px;
	font-size:12px;
	line-height:1.3em;
	color:#333333;
	}
#left0{
	background-image:url(../img/left_back.gif);
	background-repeat:repeat-y;
	background-position:1px 0;
	margin:0;
	padding:2px 0 0 0;
	}
#left1{
	text-align:center;
	line-height:1.2em;
	margin:5px 0 0 10px;
	background-image:url(../img/ad-title.gif);
	background-repeat:no-repeat;
	display:block;
	width:176px;
	height:67px;
	text-indent:-10000px;
	}
#left2 a{
	width:173px;
	height:67px;
	background-image:url(../img/left_bar_button.gif);
	background-position:0 0;
	text-indent:-9999em;
	display:block;
	margin-left:10px;
	margin-top:-15px;
	}
#left2 a:hover{
	background-position:0 -67px;
	}
.left_chousei{
	margin-left:11px;
	margin-top:3px;
	margin-bottom:9px;
	line-height:1.3em;
	width:170px;
	}
.left_chousei_bottom{
	margin-left:11px;
	margin-top:3px;
	line-height:1.3em;
	width:170px;
	}	
.left_listmenu{
	margin:5px 0 10px 0px;
	padding-left:13px;
	}
.left_listmenu li{
	margin:4px 0;
	list-style:none;
	letter-spacing:normal;
	background-image:url(../img/yajirusi.gif);
	background-repeat:no-repeat;
	background-position:left center;
	}
.left_listmenu a{
	text-decoration:underline;
	padding:0 0 0 14px;
	}
.left_chousei2{
	margin:5px 0 10px 21px;
	}
.left_chousei3{
	margin:5px 0 10px 21px;
	border:none;
	}
.image_chousei{
	margin-bottom:2px;
	}	
#clip0 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip0.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip0 a:hover{
	background-position:0 -55px;
	}
#clip1 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip1_1.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip1 a:hover{
	background-position:0 -55px;
	}
#clip2 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip2.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip2 a:hover{
	background-position:0 -55px;
	}
#clip3 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip3.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip3 a:hover{
	background-position:0 -55px;
	}
#clip4 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip4.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip4 a:hover{
	background-position:0 -55px;
	}
#clip5 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip5.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip5 a:hover{
	background-position:0 -55px;
	}
#clip6 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip6.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip6 a:hover{
	background-position:0 -55px;
	}
#clip7 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip7.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip7 a:hover{
	background-position:0 -55px;
	}
#clip8 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip8.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip8 a:hover{
	background-position:0 -55px;
	}
#clip9 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip9.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip9 a:hover{
	background-position:0 -55px;
	}
#clip10 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip10.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip10 a:hover{
	background-position:0 -55px;
	}

#clip11 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip11.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip11 a:hover{
	background-position:0 -55px;
	}

#clip12 a{
	width:208px;
	height:55px;
	background-image:url(../img/clip12.gif);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#clip12 a:hover{
	background-position:0 -55px;
	}
	



#tiiki{
	width:160px;
	padding:4px;
	margin:10px 0 15px 13px;
	line-height:1.4em;
	color:#990000;
	}
#tiiki a{
	color:#333333;
	}
ul.tiiki{
	padding: 0; 
	margin: 0; 
	list-style-type: none; 
} 
li.t{
	color:#990000;
	font-size:12px;
	margin:0px;
	}
li.d{
	color:#333333;
	font-size:12px;
	float: left;
	}	
#left_bottom{
	background-image:url(../img/left_bottom.gif);
	height:15px;
	margin:0px 0 10px 0;
	padding:0;
	background-repeat:no-repeat;
	background-position:1px 0;
	}
#blog a{
	width:171px;
	height:132px;
	background-image:url(../img/blog-logo.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	padding-bottom:3px;
	}
#blog a:hover{
	background-position:0 -132px;
	}	
#banner0 a{
	width:120px;
	height:120px;
margin:10px 0 0 35px;
	background-image:url(../img/eco_banner.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
#banner0 a:hover{
	background-position:0 -120px;
	}	
#banner1 a{
	width:150px;
	height:144px;
	background-image:url(../img/banner1.jpg);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin-left:21px;
	margin-top:15px;
	}
#banner1 a:hover{
	background-position:0 -144px;
	}	

#banner2 a{
	width:153px;
	height:37px;
	background-image:url(../img/tempokagu.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin-left:23px;
	margin-top:15px;
	}
#banner2 a:hover{
	background-position:0 -37px;
	}	
#banner3 a{
	width:154px;
	height:86px;
	background-image:url(../img/member-104.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin:5px 0 0 22px;
	}
#banner3 a:hover{
	background-position:0 -86px;
	}

#banner3 p{
	text-align:center;
	margin-top:-10px;
	font-size:9px;
	}
#banner4 a{
	width:153px;
	height:37px;
	background-image:url(../img/valid-css.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin:5px 0 0 22px;
	background-position:left top;
	}
#banner4 a:hover{
	background-position:left bottom;
	}
#banner5 a{
	width:153px;
	height:37px;
	background-image:url(../img/valid-xhtml10.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin:0 0 15px 22px;
	background-position:left top;
	}
#banner5 a:hover{
	background-position:left bottom;
	}
	
	#banner6 a{
	width:160px;
	height:40px;
	background-image:url(../img/curtainshop.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin:15px 0 10px 22px;
	}
#banner6 a:hover{
	background-position:0 -40px;
	}
#banner7 a{
	width:150px;
	height:144px;
	background-image:url(../img/banner2.jpg);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	margin-left:21px;
	margin-top:15px;
	}
#banner7 a:hover{
	background-position:0 -144px;
	}
	
/*フッター*/
div#footer{
	height:56px;
	background-image:url(../img/footer_back.gif);
	background-repeat:no-repeat;
	clear:both;
	font-size:11px;
	padding-top:2px;
	margin-bottom:10px;
	}
div#footer p{
	font-size:11px;
	text-align:center;
	color:#666666;
	line-height:1.4em;
	}
#footer a{
	text-decoration:none;
	color:#888888;
	}
div#footer li{
	list-style:none;
	float:left;
	text-align:center;
	margin:0 0 2px 0;
	padding:0;
	}
div#footer em a:hover{
	text-decoration:underline;
	}
#footer_menu1 a,#footer_menu3 a{
	display:block;
	width:88px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}
#footer_menu2 a{
	display:block;
	width:135px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}	
#footer_menu4 a{
	display:block;
	width:135px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}	
#footer_menu5 a{
	display:block;
	width:105px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}
#footer_menu6 a{
	display:block;
	width:75px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}
#footer_menu7 a{
	display:block;
	width:110px;
	text-decoration:none;
	font-style:normal;
	color:#FFFFFF;
	}		
/*メインコンテンツ*/	
#main{
	width:540px;
	float:right;
	margin-top:16px;
	padding-right:3px;
	color:#6F6F6F;
	font-size:small;
	line-height:1.3em;
	margin-bottom:10px;
	}
#main p{
	font-size:13px;
	line-height:1.3em;
	color:#3F3F3F;
	padding-left:10px;
	}

#main2{
	width:500px;
	float:right;
	margin-top:15px;
	padding-right:15px;
	color:#6F6F6F;
	font-size:12px;
	line-height:1.3em;
	margin-bottom:10px;
	}

#main2 p{
	font-size:13px;
	line-height:1.3em;
	color:#3F3F3F;
	padding-left:10px;
	}
#topstaff{
    margin:5px 0 0 0;

}

#read{
	font-size:13px;
	line-height:1.3em;
	margin:10px 5px 10px 0;
	color:#333333;
	font-weight:bolder;
	padding-left:10px;

	}

#read p{
	font-size:13px;
	line-height:1.2em;
	margin:15px 5px 20px 0;
	}


#topics_bar{
	background-image:url(../img/topics.gif);
	margin:0;
	height:22px;
	padding-left:150px;
	vertical-align:text-bottom;
	margin-bottom:12px;
	font-size:12px;
	color:#40445A;
	}

#topics{
	width:520px;
	border:3px solid #CCCCCC;
	padding:0;
	color:#333333;
	margin-top:10px;
	}
#topics-scroll{
	height:180px;
	overflow:auto;
}
#showroom-banner{
	width:510px;
	margin:7px 0;
	}
#showroom-banner p{
	margin:5px;
	padding:5px 0;
	text-align:center;
	border-top:1px dashed #000;
	border-bottom:1px dashed #000;
	font-size:12px;
	line-height:1.4;
}
.big-moji16{
	font-size:16px;
}
#showroom-banner ul{
	list-style-type:none;
}
#showroom-banner ul li{
	float:left;
}
#showroom-banner ul li.yoyaku-tokyo a{
	margin:5px 0 5px 8px;
	display:block;
	width:159px;
	height:55px;
	background:url(../img/yoyaku-tokyo.gif) no-repeat left top;
	text-indent:-9999px;
	overflow:hidden;
}
#showroom-banner ul li.yoyaku-chiba a{
	margin:5px 0 5px 8px;
	display:block;
	width:159px;
	height:55px;
	background:url(../img/yoyaku-chiba.gif) no-repeat left top;
	text-indent:-9999px;
	overflow:hidden;
}
#showroom-banner ul li.yoyaku-maker a{
	margin:5px 0 5px 8px;
	display:block;
	width:159px;
	height:55px;
	background:url(../img/yoyaku-maker.gif) no-repeat left top;
	text-indent:-9999px;
	overflow:hidden;
}
#showroom-banner ul li a:hover{
	background-position:left bottom;
}
#rireki a{
	width:50px;
	height:19px;
	display:block;
	text-indent:-9999em;
	background-image:url(../img/rireki.gif);
	background-repeat:no-repeat;
	float:right;
	}
#rireki a:hover{
	background-position:0 -19px;
	}
#topics li{
	list-style-type:none;
	}
#topics_first{
	width:500px;
	font-weight:bold;
	margin-bottom:8px;
	color:#666666;
	}
#topics-txt01{
	padding-top:6px;
	padding-bottom:6px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	font-weight:bold;
}
#topics-txt01 span{
	margin-left:10px;
	margin-right:10px;
	color:#990000;
}

.topics-list strong{
	background-image:url(../img/new.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding:10px 0;
}
.topics-list{
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
}
.topics-list dt{
	background-image:url(../img/link_icon02.gif);
	background-repeat:no-repeat;
	background-position:left center;
	margin-left:10px;
	margin-right:15px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:20px;
}
.topics-list dt span{
	color:#990000;
	font-weight:bold;
}

#tigai{
	width:230px;
	height:318px;
	background-image:url(../img/tigai_back.jpg);
	background-repeat:no-repeat;
	float:left;
	font-size:12px;
	line-height:1.3em;
	}
#tigai img{
	margin:57px 0 0 46px;
	}
#tigai ul{
	margin-top:10px;
	margin-left:46px;
	width:150px;
	list-style:decimal;
	}
#tigai li{
	margin:3px 0 0 26px;
	padding:0px;
	}
#tigai a{
	text-decoration:underline;
	color:#000000;
	}
#tigai a:hover{
	color:#990000;
	}	
div#kawashima{
	width:280px;
	height:122px;
	float:right;
	}
div#kawashima a{
	width:280px;
	height:122px;
	background-image:url(../img/kawashima.jpg);
	background-repeat:no-repeat;
	text-indent:-9999em;
	display:block;
	margin-right:5px;
	}
div#kawashima a:hover{
	background-position:0 -122px;
	}
div#guide{
	width:148px;
	height:133px;
	background-image:url(../img/guide.jpg);
	background-repeat:no-repeat;
	float:right;
	padding-left:132px;
	margin-right:5px;
	margin-top:18px;
	}
div#guide ul{
	width:150px;
	}	
div#guide li{
	margin:5px 0;
	font-size:12px;
	}
div#qustion a{
	width:280px;
	height:133px;
	float:right;
	font-size:12px;
	padding-bottom:3px;
	margin-right:5px;
	margin-top:6px;
	background-image:url(../img/shitumon.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
div#qustion a:hover{
	background-image:url(../img/shitumonB.gif);
	display:block;
	background-repeat:no-repeat;
	}

h2.komidashi{
	margin:5px 0 0 15px;
	font-weight:normal;
	color:#333;
	font-size:12px;
}

#pola1{
	width:523px;
	height:178px;
	}
#pola1 li,#pola2 li,#pola3 li{
	list-style:none;
	float:left;
	}
#pola01 a{
	display:block;
	text-indent:-9999em;
	width:185px;
	text-decoration:none;
	height:178px;
	background-image:url(../img/pola1.jpg);
	background-position:0 0;
	}
#pola01 a:hover{
	background-position:0 -178px;
	}
#pola02 a{
	display:block;
	text-indent:-9999em;
	width:170px;
	text-decoration:none;
	height:178px;
	background-image:url(../img/pola1.jpg);
	background-position:-185px 0;
	}
#pola02 a:hover{
	background-position:-185px -178px;
	}	
#pola03 a{
	display:block;
	text-indent:-9999em;
	width:168px;
	text-decoration:none;
	height:178px;
	background-image:url(../img/pola1.jpg);
	background-position:-355px 0;
	}
#pola03 a:hover{
	background-position:-355px -178px;
	}	
#pola2{
	width:523px;
	height:175px;
	}
#pola04 a{
	display:block;
	text-indent:-9999em;
	width:185px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola2.jpg);
	background-position:0 0;
	}
#pola04 a:hover{
	background-position:0 -175px;
	}	
#pola05 a{
	display:block;
	text-indent:-9999em;
	width:170px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola2.jpg);
	background-position:-185px 0;
	}
#pola05 a:hover{
	background-position:-185px -175px;
	}	
#pola06 a{
	display:block;
	text-indent:-9999em;
	width:167px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola2.jpg);
	background-position:-355px 0;
	}
#pola06 a:hover{
	background-position:-355px -175px;
	}
#pola3{
	width:523px;
	background-repeat:no-repeat;
	height:175px;
	}
#pola07 a{
	display:block;
	text-indent:-9999em;
	width:185px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola3.jpg);
	background-position:0 0;
	}
#pola07 a:hover{
	background-position:0 -175px;
	}	
#pola08 a{
	display:block;
	text-indent:-9999em;
	width:170px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola3.jpg);
	background-position:-185px 0;
	}
#pola08 a:hover{
	background-position:-185px -175px;
	}	
#pola09 a{
	display:block;
	text-indent:-9999em;
	width:167px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola3.jpg);
	background-position:-355px 0;
	}
#pola09 a:hover{
	background-position:-355px -175px;
	}
div#pola10{
	width:185px;
	height:175px;
	float:left;
	}

#pola10 a{
	display:block;
	text-indent:-9999em;
	width:185px;
	text-decoration:none;
	height:175px;
	background-image:url(../img/pola4.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	}
#pola10 a:hover{
	background-position:0 -175px;
	}
#pola_hosoku{
	line-height:1.6em;
	margin:10px 0 15px 0;
	color:#3F3F3F;
	font-size:12px;
	width:510px;
	float:right;
	}
#flash_m{
	margin:5px 0 4px 8px;
	padding-bottom:3px;
	}
#slect{
	margin:10px 0 0 20px;
	padding:6px 0 0 65px;
	width:500px;
	line-height:1.8em;
	height:332px;
	}

div#select01{
	width:475px;
	height:100px;
	background-image:url(../img/select_back1.gif);
	background-repeat:no-repeat;
	border-bottom:1px dotted #333333;
	margin:0 0 0 20px;
	padding:5px 0 0 0;
	}

div#select02{
	width:475px;
	height:75px;
	background-image:url(../img/select_back2.gif);
	background-repeat:no-repeat;
	border-bottom:1px dotted #333333;
	margin:0 0 0 20px;
	padding:5px 0 0 0;
	}

div#select03{
	width:475px;
	height:90px;
	background-image:url(../img/select_back3.gif);
	background-repeat:no-repeat;
	border-bottom:1px dotted #333333;
	margin:0 0 0 20px;
	padding:5px 0 0 0;
	}

div#select04{
	width:475px;
	height:75px;
	background-image:url(../img/select_back4.gif);
	background-repeat:no-repeat;
	border-bottom:1px dotted #333333;
	margin:0 0 0 20px;
	padding:5px 0 0 0;
	}

div#select05{
	width:475px;
	height:75px;
	background-image:url(../img/select_back5.gif);
	background-repeat:no-repeat;
	border-bottom:1px dotted #333333;
	margin:0 0 10px 20px;
	padding:5px 0 0 0;
	}

div#select01 dl,div#select02 dl,div#select03 dl,div#select04 dl,div#select05 dl{
	margin:9px 0 0 63px;
	}

div#select01 dt,div#select02 dt,div#select03 dt,div#select04 dt,div#select05 dt{
	font-weight:bold;
	font-size:14px;
	margin:0;
	color:#333333;
	}

div#select01 dd,div#select02 dd,div#select03 dd,div#select04 dd,div#select05 dd{
    font-weight:bold;
	margin-left:0;
	margin-top:5px;
	font-size:14px;
	color:#990000;
	}

#select dt{
	font-weight:bold;
	font-size:13px;
	margin:-2px;
	}

#select dd{
	margin-left:0;
	font-size:12px;
	margin-bottom:13px;
	}
div#koe{
	width:190px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#koe a{
	background-image:url(../img/shoukai.jpg);
	background-position:-15px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#koe a:hover{
	background-position:-15px -183px;
	}
div#tv{
	width:160px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#tv a{
	background-image:url(../img/shoukai.jpg);
	background-position:-208px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#tv a:hover{
	background-position:-208px -183px;
	}
div#sekourei{
	width:173px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#sekourei a{
	background-image:url(../img/shoukai.jpg);
	background-position:-370px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#sekourei a:hover{	
	background-position:-370px -183px;
	}	
div#coco-tokyo{
	width:190px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#coco-tokyo a{
	background-image:url(../img/show-top.jpg);
	background-position:-15px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tokyo a:hover{
	background-position:-15px -183px;
	}
div#coco-tiba{
	width:160px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#coco-tiba a{
	background-image:url(../img/show-top.jpg);
	background-position:-208px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tiba a:hover{
	background-position:-208px -183px;
	}
div#curtainshowroom-guide{
	width:173px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#curtainshowroom-guide a{
	background-image:url(../img/show-top.jpg);
	background-position:-370px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#curtainshowroom-guide a:hover{	
	background-position:-370px -183px;
	}

/* coco-original */
	
div#coco-original2{
	width:173px;
	height:183px;
	float:left;
	margin-top:-20px;
	}
div#coco-original2 a{
	background-image:url(../img/shoukai.jpg);
	background-position:-370px -177px;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-original2 a:hover{	
	background-position:-370px -543px;
	}
		
div#acsess{
	width:371px;
	float:left;
	}

div#mail a{
	width:371px;
	height:84px;
	display:block;
	background-image:url(../img/mail.gif);
	background-repeat:no-repeat;
	text-indent:-9999em;
        margin-bottom:15px;
	}

div#mail a:hover{
	background-position:0 -84px;
	}

div#acsess_right{
	width:161px;
	float:left;
	}
div#acsess_right p{
	margin:24px 0 0 0;
	}
div#hard_protect{
	width:540px;
	height:126px;
	background-image:url(../img/hard_protect.gif);
	background-repeat:no-repeat;
        margin:25px 0 10px 0;
	clear:both;
	color:#000000;
	}
div#hard_naiyou{
	font-size:12px;
	line-height:1.3em;
	width:380px;
	margin:0 0 0 130px;
	height:80px;
	padding-top:42px;
	color:#000000;
	}
div#hard_naiyou a{
	color:#000000;
	margin-top:5px;
	}
div#hard_naiyou a:hover{
	color:#990000;
	}
div#info{
	width:350px;
	float:left;
	font-size:12px;
	line-height:1.3em;
	}
div#info a{
	color:#333333;
	}
div#info a:hover{
	color:#990000;
	}
/*お申し込みの流れ*/
div#flow{
	margin-top:28px;
	}
div#flow_button a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:7px 0 15px 125px;
	}
div#flow_button a:hover{
	background-position:0 -50px;
	}
div#web_tel{
	width:492px;
	height:130px;
	background-image:url(../img/web_tel_back.jpg);
	background-position:405px 3px;
	background-repeat:no-repeat;
	border-top:1px dotted #333333;
	margin:5px 0 0 0;
	padding:3px 0 15px 28px;
	}


div#mail_contact{
	width:520px;
	margin-bottom:35px;
	}
div#mail_contact a{
	width:404px;
	height:28px;
	display:block;
	text-indent:-9999em;
	background-image:url(../img/mail_contact.gif);
	background-repeat:no-repeat;
	margin-top:5px;
	margin-left:15px;
	}
div#mail_contact a:hover{
	background-position:0 -28px;
	}
div#page_up{
	text-align:left;
	font-size:12px;
	margin-top:15px;
	padding-left:400px;
	background-image:url(../img/sankaku2.gif);
	background-repeat:no-repeat;
	background-position:480px 0;
	}
div#page_up a{
	color:#333333;
	text-decoration:none;
	display:block;
	}
div#page_up a:hover{
	color:#990000;
	text-decoration:underline;
	}
#j_map{
	z-index:1;
	border:none;
	}
#tenki{
	width:142px;
	height:156px;
	position:absolute;
	margin:0;
	left:581px;
	top:396px;
	z-index:2;
	text-align:center;
	}
#tenki iframe{
	 border:0;
	 margin:0;
	 width:140px;
	 height:172px;
	 }
.aka{
	color:#990000;
	}
.orenji{
	color:#FF6600;
	}
.font12{
	font-size:12px;
	font-weight:bold;
	}
.aria_table{
	margin:15px 0 0 3px;
	border-spacing:1px;
	font-size:12px;
	background-color:#999999;
	width:372px;
	float:right;
	color:#333333;
	}
.aria_table td{
	padding:3px 5px;
	background-color:#FFFFFF;
	margin:0;
	}
.aria_table_koumoku{
	text-align:center;
	padding:3px 0px;
	width:95px;
	}
div#aria a{
	text-decoration:none;
	}
/*アバウトページ*/
#about_flash{
	margin-left:25px;
	margin-bottom:15px;
	}
div#about_aisatu{
	width:232px;
	float:left;
	margin-left:15px;
	font-size:12px;
	}
div#first_castmer{
	width:240px;
	height:130px;
	background-image:url(../img/first_castmer.jpg);
	background-repeat:no-repeat;
	float:left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	}
div#first_castmer ul{
	margin:30px 10px 0 80px;
	}
div#first_castmer li{
	font-size:12px;
	line-height:1.8;
	}
div#faq_b{
	width:240px;
	height:130px;
	background-image:url(../img/first_castmer02.jpg);
	background-repeat:no-repeat;
	float:right;
	}
div#faq_b p{
	margin:70px 10px 0 70px;
	}
#faq_c{
	width:480px;
	height:115px;
	background-image:url(../img/first_castmer02.jpg);
	background-repeat:no-repeat;
	}
#faq_c p{
	padding:70px 0 0 80px;
	}
#contact_grupe{
	width:361px;
	height:150px;
	float:left;
	}
div#web_tel0 a{
	width:371px;
	height:55px;
	background-image:url(../img/web_tel2.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
div#web_tel2 a{
	width:350px;
	height:55px;
	background-image:url(../img/web_tel2.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
div#web_tel2 a:hover,div#web_tel0 a:hover{
	background-position:0 -55px;
	}
div#mail_contact2 a{
	width:352px;
	height:57px;
	background-image:url(../img/mail_contact2.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
div#mail_contact2 a:hover{
	background-position:0 -57px;
	}
#aria a{
	color:#003399;
	text-decoration:none;
	}
#aria a:hover{
	text-decoration:underline;
	}

#aria h3{
	color:#333333;
	}
/*お客様の声*/
#voice1{
	width:520px;
	height:290px;
	background-image:url(../img/voice_titleback.jpg);
	background-repeat:no-repeat;
	background-position:350px 0;
	}
#voice1 p{
	padding-right:200px;
	}
.voice_castamer{
	width:178px;
	height:36px;
	background-image:url(../img/voice_castamer_back.gif);
	font-size:15px;
	background-position:0 -3px;
	}
.voice_castamer_naiyou{
	width:310px;
	height:116px;
	border-bottom:1px dotted #666666;
	border-top:1px dotted #666666;
	padding:5px 2px;
	float:right;
	font-size:12px;
	line-height:1.3em;
	margin-bottom:15px;
	}
.voice_castamer_naiyou2{
	width:310px;
	border-bottom:1px dotted #666666;
	border-top:1px dotted #666666;
	padding:5px 2px;
	float:right;
	font-size:12px;
	line-height:1.3em;
	margin-bottom:15px;
	}
#bloger{
	line-height:2.5em;
	padding-top:45px;
	font-size:13px;
	width:310px;
	float:right;
	}
#bloger_img{
	border:none;
	float:left;
	}
/*会社概要*/
div#gaiyou{
	width:520px;
	height:166px;
	background-image:url(../img/gaiyou_titleback.gif);
	background-repeat:no-repeat;
	background-position:370px -3px;
	}
div#rinen{
	width:442px;
	height:55px;
	background-image:url(../img/rinen_back.gif);
	background-repeat:no-repeat;
	text-align:center;
	padding:10px;
	margin-bottom:50px;
	}
#gaaiyou_table{
	margin:15px 0 20px  0;
	font-size:12px;
	background-color:#cccccc;
	border-spacing:1px;
	color:#333333;
	width:500px;
	}
#gaaiyou_table th{
	width:110px;
	text-align:left;
	background-color:#F0F0F0;
	font-weight:500;
	padding-left:10px;
	vertical-align:top;
	padding-top:3px;
	}
#gaaiyou_table td{
	background-color:#FFFFFF;
	padding:3px 10px;
	line-height:1.8em;
	}
.margin_chousei{
	margin-top:15px;
	}
#gaaiyou_table p{
	font-size:12px;
	line-height:1.3em;
	margin:0;
	padding:0;
	}
.koumoku_chousei{
	letter-spacing:normal;
	}
#kameiten{
	font-size:12px;
	width:370px;
	margin:0;
	padding:0;
	}
.td_chousei{
	width:105px;
	}
#kameiten td,#enkaku td{
	padding:1px;
	vertical-align:top;
	}
#enkaku{
	font-size:12px;
	line-height:1.5em;
	width:340px;
	margin:0;
	padding:0;
	}
.enkaku_nengou{
	background-color:#EFEFEF;
	}
/*プライバシーポリシー*/
div#privacy{
	width:520px;
	background-image:url(../img/privacy_titleback.jpg);
	background-repeat:no-repeat;
	background-position:320px 0;
	color:#333333;
	}
div#privacy dl{
	margin:30px 0 0 10px;
	line-height:1.4em;
	}
div#privacy dt{
	margin-bottom:15px;
	font-size:14px;
	}
div#privacy dd{
	margin:0 0 38px 15px;
	}
div#privacy ul{
	margin:15px 0 0 0;
	line-height:1.2em;
	}
div#privacy li{
	margin:4px 0 4px 28px;
	}
/*加盟店*/
#kameiten_form{
	margin-top:28px;
	}
#kameiten_table{
	font-size:12px;
	color:#333333;
	background-color:#cccccc;
	border-spacing:1px;
	}
#kameiten_table caption{
	font-size:15px;
	text-align:left;
	padding: 0 0 10px 6px;
	color:#666666;
	font-weight:bold;
	}
#kameiten_table td{
	background-color:#FFFFFF;
	padding:3px 5px;
	width:380px;
	}
#kameiten_table th{
	text-align:left;
	color:#666666;
	background-color:#f3f3f3;
	padding:2px 0 2px 5px;
	font-weight:500;
	width:100px;
	}
.middle{
	vertical-align:middle;
	}
div#soushin_button{
	text-align:center;
	font-size:12px;
	line-height:2em;
	margin-bottom:35px;
	}
/*FAQ*/
div#faq{
	width:520px;
	height:150px;
	background-image:url(../img/faq_titleback2.jpg);
	background-repeat:no-repeat;
	background-position:370px 0;
	}
div#faq p{
	padding-right:155px;
	}
#faq_dl dt{
	font-size:13px;
	color:#990000;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-top:15px;
	line-height:1.5em;
	}
#faq_dl a{
	text-decoration:underline;
	color:#000000;
	}
#faq_dl a:hover{
	text-decoration:none;
	}
#faq_dl dd{
	margin:0;
	padding-left:51px;
	padding-bottom:10px;
	background-image:url(../img/a.gif);
	background-repeat:no-repeat;
	border-bottom-color:#999999;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	font-size:13px;
	line-height:1.3em;
	color:#555555;
	}
.q{
	float:left;
	vertical-align:middle;
	}
/*お問い合せ*/
div#toiawase{
	width:520px;
	height: 165px;
	background-image:url(../img/toiawase_titleback.jpg);
	background-repeat:no-repeat;
	background-position:407px 0;
	}
div#toiawase p{
	padding-right:145px;
	}
.left_chousei2{
	margin-left:40px;
	}
#toiawase_table{
	font-size:12px;
	color:#333333;
	background-color:#CCCCCC;
	border-spacing:1px;
	}
#toiawase_table caption{
	font-size:15px;
	text-align:left;
	padding: 0 0 10px 6px;
	color:#666666;
	font-weight:bold;
	}
#toiawase_table td{
	background-color:#FFFFFF;
	padding:6px 5px;
	}
#toiawase_table td p{
	line-height:1.8;
	margin:0;
	padding:0;
	}
#toiawase_table th{
	text-align:left;
	color:#333333;
	background-color:#f3f3f3;
	padding:2px 0 2px 5px;
	font-weight:500;
	width:150px;
	}
.th_chousei{
	width:200px;
	}
#kinou_sentaku{
	font-size:12px;
	border-collapse:collapse;
	}
#kinou_sentaku ta{
	text-align:left;
	padding:0 1px;
	line-height:1.2em;
	margin:0;
	}
.kinou_chousei{
	letter-spacing:-0.07em;

	}
/*お申し込み*/
div#omoushikomi{
	width:520px;
	height:200px;
	background-image:url(../img/omoushikomi_titleback.jpg);
	background-repeat:no-repeat;
	background-position:355px 0;
	}
div#omoushikomi p{
	padding-right:188px;
	}
div#omoushikomi1{
	margin-bottom:2px;
	}
div#omoushikomi1 h3{
	font-size:19px;
	margin:25px 0 10px 0;
	}
div#omoushikomi1 h4{
	font-size:17px;
	margin:25px 0 10px 0;
	}
div#omoushikomi2{
	width:484px;
	margin-top:5px;
	padding-right:10px;
	padding-top:5px;
	border: 3px solid #990000;
	}
div#omoushikomi2 dl{
	margin:0 20px 0 20px;
	color:#333333;
	}
div#omoushikomi2 dt{
	font-size:19px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
	color:#000000;
	}
div#omoushikomi2 dd{
	font-size:14px;
	margin:6px 0 20px 20px;
	}
.omoushikomi_line{
	padding-top:10px;

	border-top:1px solid #CCCCCC;
	}
.f_chousei{
	font-size:12px;
	color:#990000;
	}
.f_chousei2{
	font-size:16px;
	color:#990000;
	font-weight:bold;
	}
/*初めてのお客様へ*/
div#guide1{
	width:520px;
	background-image:url(../img/guide_titleback.jpg);
	background-repeat:no-repeat;
	background-position:324px 21px;
	margin-bottom:10px;
	}
div#guide1 p{
	padding-right:200px;
	}
#guide2{
	background-color:#cccccc;
	border-spacing:1px;
	font-size:12px;
	line-height:1.3em;
	margin-top:8px;
	color:#333333;
	margin-bottom:10px;
	}
#guide2 td{
	background-color:#FFFFFF;
	padding:8px;
	}
#guide2 th{
	background-color:#F0F0F0;
	padding:2px 4px;
	font-weight:normal;
	text-align:left;
	}
.guide2_place{
	width:120px;
	}
div#guide3{
	background:url(../img/guide_back.gif);
	background-position:400px 32px;
	width:520px;
	background-repeat:no-repeat;
	margin-bottom:15px;
	}
div#guide3 p{
	margin:0;
	padding:0;
	}
#guide3_em{
	color:#000000;
	font-weight:bold;
	font-style:normal;
	padding-top:50px;
	font-size:16px;
	height:30px;
	width:220px;
	float:right;
	}
div#guide3 h3{
	color:#333333;
	width:510px;
	font-size:14px;
	border-bottom:1px dotted #333333;
	padding-bottom:5px;
	margin:20px 0 10px 0;
	}
div#guide3 h4{
	color:#990000;
	font-size:14px;
	margin-bottom:5px;
	}
#guide_midashi_chousei{
	width:355px;
	}
.midashi-txt01{
	font-size:16px;
}
#guide_img_chousei{
	margin-top:-31px;
	float:right;
	}
.guide_chach{
	color:#990000;
	font-size:16px;
	padding:4px 25px;
	margin:10px 0;
	line-height:1em;
	font-weight:bold;
	}
#dotline{
	border-top:1px dotted #333333;
	margin:10px 0 3px 0;
	font-size:xx-small;
	line-height:1em;
	}
/*スタッフ募集*/
div#staff{
	width:530px;
	background-image:url(../img/staff_titleback.jpg);
	background-repeat:no-repeat;
	background-position:360px 15px;
	height:500px;
	}
div#staff p{
	padding-right:170px;
	}
.staff2{
	width:520px;
	background-color:#cccccc;
	color:#333333;
	border-spacing:1px;
	font-size:12px;
	line-height:1.3em;
	margin-bottom:15px;
	}
.staff2 td{
	background-color:#FFFFFF;
	color:#333333;
	padding:6px 10px;
	width:350px;
	}
.staff2 th{	
	background-color:#FFFFCC;
	text-align:left;
	font-weight:500;
	}
.underline{
	border-bottom:1px dotted #333333;
	margin-bottom:15px;
	}
.underline2{
	border-bottom:1px dotted #333333;
	margin:18px 0;
	}
/*リンク集*/
div#link{
	font-size:12px;
	text-align:center;
	margin-bottom:15px;
	line-height:1.8em;
	padding-right:25px;
	}
div#link a,.link_dl a{	
	text-decoration:none;
	color:#333333;
	}
div#link a:hover,.link_dl a:hover{
	color:#990000;
	}	
.link_dl{
	margin:15px 0 0 15px;
	}
.link_dl dt{
	margin-bottom:10px;
	font-size:15px;
	color:#333333;
	}
.link_dl dd{
	font-size:12px;
	line-height:1.3em;
	margin-left:22px;
	margin-bottom:20px;
	color:#333333;
	}
.pic_no{
	border:none;
	vertical-align:middle;
	}
#about_link{
	padding:0 0 20px 53px;
	font-size:13px;
	}
#link_bunnerS{
	margin-left:110px;
	float:left;
	}
#link_bunnerL{
	margin-left:50px;
	float:left;
	}
#link_setumei{
	clear:both;
	font-size:13px;
	line-height:1.3em;
	padding-left:78px;
	padding-top:8px;
	padding-bottom:15px;

	}
/*マスコミ実績*/
div#mascom{
	background-image:url(../img/mascom_titleback.jpg);
	background-repeat:no-repeat;
	background-position:420px 30px;
	height:300px;
	padding-right:120px;
	}
div#mascom a{
	line-height:1.5em;
	}
div#mascom2 h3{
	background-color:#990000;
	color:#FFFFFF;
	text-align:center;
	padding:5px 0;
	margin-bottom:5px;
	margin-top:12px;
	font-size:15px;
		}
#super_news{
	margin-left:115px;
	}
#mascom_chousei{
	margin-bottom:25px;
	}
#mascom_chousei2{
	margin:6px 0;
	font-size:12px;
	text-align:right;
	}
div#mascom2 dl{
	margin:0 0 10px 0;
	padding:0;
	font-size:13px;
	}
div#mascom2 dt{
	font-size:15px;
color:#333333;
	border-bottom:1px dotted #666666;
	font-weight:bold;
	padding-bottom:3px;
	margin-bottom:4px;
	}
.mascom_li_chousei{
	margin-bottom:20px;
	}
div#mascom2 dd{
	margin-left:8px;
	padding:3px 0;
color:#333333;
	}
/*ショールーム*/
div#showroom{
	width:500px;
	float:left;
	}
div#showroom p{
	margin:0 0 20px 0;
	padding:0;
	}
div#showroom2{
	width:500px;
	border-top:1px dotted #333333;
	border-bottom:1px dotted #333333;
	padding:5px 0;
	}
div#showroom2 h2{
	font-size:17px;
	margin-bottom:15px;
	margin-top:10px;
	}
div#showroom2 p{
	width:380px;
	margin:0;
	padding:0;
	letter-spacing:-0.04em;
	line-height:1.4em;
	}
div#showroom3{
	width:500px;
	clear:both;
	font-size:12px;
	line-height:1.4em;
	text-align:center;
	padding:8px 0;
	}
div#showroom3 h2{
	font-size:17px;
	margin-bottom:15px;
	margin-top:10px;
	text-align:left;
	}
div#showroom3 p{
	width:500px;
	margin:10px;
	padding:0;
	letter-spacing:-0.04em;
	line-height:1.4em;
	text-align:left;
	}

div#showroom3 a{
	text-decoration:none;
	color:#666666;
	}
div#showroom3 a img{
	margin:0 5px;
	vertical-align:middle;
	}	



div#coco-tokyo-sr{
	width:164px;
	height:183px;
	float:left;
	margin-top:10px;
	}
div#coco-tokyo-sr a{
	background-image:url(../img/show-top2.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tokyo-sr a:hover{
	background-position:0 -183px;
	}
div#coco-tiba-sr{
	width:161px;
	height:183px;
	float:left;
	margin-top:10px;
	}
div#coco-tiba-sr a{
	background-image:url(../img/show-top2.jpg);
	background-position:-164px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tiba-sr a:hover{
	background-position:-164px -183px;
	}
div#coco-yokohama-sr{
	width:175px;
	height:183px;
	float:left;
	margin-top:10px;
	}
div#coco-yokohama-sr a{
	background-image:url(../img/show-top2.jpg);
	background-position:-325px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-yokohama-sr a:hover{	
	background-position:-325px -183px;
	}


div#coco-tokyo-sr-top{
	width:164px;
	height:183px;
	float:left;
	}
div#coco-tokyo-sr-top a{
	background-image:url(../img/show-top2.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tokyo-sr-top a:hover{
	background-position:0 -183px;
	}
div#coco-tiba-sr-top{
	width:161px;
	height:183px;
	float:left;
	}
div#coco-tiba-sr-top a{
	background-image:url(../img/show-top2.jpg);
	background-position:-164px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-tiba-sr-top a:hover{
	background-position:-164px -183px;
	}
div#coco-yokohama-sr-top{
	width:175px;
	height:183px;
	float:left;
	}
div#coco-yokohama-sr-top a{
	background-image:url(../img/show-top2.jpg);
	background-position:-325px 0;
	display:block;
	text-indent:-9999em;
	height:183px;
	}
div#coco-yokohama-sr-top a:hover{	
	background-position:-325px -183px;
	}


div#showroomimg{
	width:490px;
	height:85px;
	float:left;
	margin-top:10px;
	}
div#showroomimg a{
	background-image:url(../img/showroomguide.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999em;
	height:85px;
	}
div#showroomimg a:hover{	
	background-position:0 -85px;
	}




#showroom4{
	width:520px;
	margin:10px 0 0 0;
	background-color:#999999;
	border-spacing:1px;
	font-size:12px;
	}
#showroom4 th{
	text-align:center;
	background-color:#F0F0F0;
	}
#showroom4 td{
	background-color:#FFFFFF;
	padding:4px 5px;
	}
.showroom_ls{
	letter-spacing:1em;
	}
.showroom_maker{
	text-align:center;
	padding:3px;
	font-weight:bold;
	}
#showroom4 a{
	text-decoration:none;
	color:#666666;
	}
#showroom4 a:hover{
	color:#990000;
	text-decoration:underline;
	}
div.show-title{
	width:510px;
	height:35px;
	background-image:url(../img/btob_cachi_back.jpg);
	margin-top:5px;
	padding-top:20px;
	font-size:17px;
	color:#666666;
	text-align:center;
	margin-bottom:8px;
	font-weight:800;
	}



div#media-photo a{
	width:95px;
	height:108px;
	background-image:url(../img/shopper-thum.gif);
	background-position:0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:0 15px 0 5px;
	}
div#media-photo a:hover{
	background-position:bottom;
	}
div#media-photo2 a{
	width:95px;
	height:101px;
	background-image:url(../img/showroom_news_thmb.gif);
	background-position:0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:0 15px 0 5px;
	}
div#media-photo2 a:hover{
	background-position:bottom;
	}




div#media-photo3 a{
	width:95px;
	height:108px;
	background-image:url(../img/interior-businessnews-thum0725-1.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:0 15px 0 5px;
	}
div#media-photo3 a:hover{
	background-position:bottom;
	}


div#media-photo4 a{
	width:95px;
	height:108px;
	background-image:url(../img/interior-businessnews-thum0725-2.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:0 15px 0 5px;
	}
div#media-photo4 a:hover{
	background-position:bottom;
	}

div#media-photo5 a{
	width:95px;
	height:108px;
	background-image:url(../img/interior-businessnews-thum100315.jpg);
	background-position:0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	margin:0 15px 0 5px;
	}
div#media-photo5 a:hover{
	background-position:bottom;
	}

	
/*価格*/
div#m_price{
	width:520px;
	height:230px;
	background-image:url(../img/price_titleback.jpg);
	background-repeat:no-repeat;
	background-position:408px 0;
	}
#m_price_table{
	font-size:12px;
	color:#333333;
	background-color:#999999;
	border-spacing:1px;
	}
#m_price_table a{
	text-decoration:none;
	}
#m_price_table caption{
	font-size:12px;
	text-align:left;
	padding: 0 0 5px 6px;
	color:#666666;
	}
#m_price_table td{
	padding:3px 0;
	text-align:center;
	}
#m_price_table th{
	text-align:center;
	color:#333333;
	background-color:#f3f3f3;
	padding:2px 0 2px 5px;
	font-weight:500;
	}
.mihonchou{
	width:140px;
	background-color:#FFFFFF;
	}
.maker{
	background-color:#FFFFFF;
	}
.nebikiritu{
	width:110px;
	background-color:#FFFFCC;
	}
.nebikiritu2{
	background-color:#FFCCCC;
	}
.nebikiritu0{
	background-color:#FFffff;
	}
/*企業・法人の方へ*/
div#btob{
	width:520px;
	background-image:url(../img/btob_titleback.jpg);
	background-repeat:no-repeat;
	background-position:385px 50px;
	}

div#btob p{
	width:350px;
	}

div#btob2{
	width:510px;
	height:35px;
	background-image:url(../img/btob_cachi_back.jpg);
	margin-top:5px;
	padding-top:20px;
	font-size:17px;
	color:#666666;
	text-align:center;
	margin-bottom:8px;
	font-weight:800;
	}

#btob3{
	border-bottom:1px dotted #333333;
	padding-bottom:5px;
	color:#333333;
	margin:35px 0 15px 0;
	}

#btob4{
	border-bottom:1px dotted #333333;
	padding-bottom:5px;
	color:#333333;
	margin:15px 0 10px 0;
	}

/*見本帳*/
div#mihonchou{
	width:520px;
	background-image:url(../img/d_catarog_titleback.jpg);
	background-repeat:no-repeat;
	background-position:390px 49px;
	height:180px;
	}
div#mihonchou_menu{
	font-size:12px;
	text-align:center;
	text-decoration:none;
	margin-bottom:10px;
	border-bottom:1px dotted #666666;
	border-top:1px dotted #666666;
	padding:5px 2px;
	width:508px;
	}
div#mihonchou_menu a{	
	text-decoration:none;
	color:#666666;
	line-height:1.5em;
	}
div#mihonchou_menu a:hover{
	color:#990000;
	}	
#mihonchou_table{
	font-size:12px;
	color:#333333;
	background-color:#999999;
	border-spacing:1px;
	margin-top:15px;
	}
#mihonchou_table a{
	text-decoration:none;
	}
#mihonchou_table td{
	padding:3px;
	}
#mihonchou_table th{
	text-align:center;
	color:#333333;
	background-color:#f3f3f3;
	padding:2px 0 2px 5px;
	font-weight:500;
	}
.mihonchou1{
	background-color:#FFFFFF;
	letter-spacing:-0.05em;
	text-align:center;
	}
.mihonchou2{
	text-align:center;
	background-color:#FFFFFF;
	letter-spacing:-0.05em;
	line-height:1.2em;
	}
.mihonchou3{
	text-align:left;
	width:195px;
	background-color:#FFFFFF;
	letter-spacing:-0.05em;
	line-height:1.4em;
	}
.mihonchou4{
	background-color:#FFFFCC;
	letter-spacing:-0.05em;
	text-align:center;
	}
.mihonchou5{
	text-align:center;
	background-color:#FFFFCC;
	letter-spacing:-0.05em;
	line-height:1.2em;
	}
.mihonchou6{
	text-align:left;
	width:195px;
	background-color:#FFFFCC;
	letter-spacing:-0.05em;
	line-height:1.4em;
	}
/*施工事例*/
div#torituke_tobira{
	width:510px;
	background-image:url(../img/torituke1.jpg);
	background-repeat:no-repeat;
	background-position:348px 0;
	}
div#torituke_tobira p{
	padding-right:170px;
	padding-bottom:0px;
	}
div#torituke_tobira2{
	width:230px;
	float:left;
	font-size:13px;
	}
div#torituke_tobira3{
	width:225px;
	float:right;
	font-size:13px;
	}
#jirei_menu li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:10px;
	}
#torituke_menu_kichin01 a{
	display:block;
	width:250px;
	height:200px;
	background-image:url(../img/gireimenu_kichin.jpg);
	background-position:240px 5px;
	text-indent:5em;
	padding-top:10px;
	}
#torituke_menu_kichin01 a:hover{
	background-position:240px -438px;
	padding-top:10px;
	}
#torituke_menu_kichin02 a{
	display:block;
	width:230px;
	height:200px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:0 -222px;
	text-indent:6em;
	padding-top:15px;
	margin-left:25px;
	}
#torituke_menu_kichin02 a:hover{
	background-position:0 -665px;
	padding-top:15px;
	}
#torituke_h3{
	font-size:16px;
	color:#3f3f3f;
	border-bottom:1px dotted #666666;
	padding-bottom:5px;
	margin:20px 0 10px 0;
	}
div#jirei{
	width:510px;
	background-image:url(../img/jirei_waku1.jpg);
	}
div#jirei h3{
	color:#666666;
	padding:8px 0 19px 16px;
	font-size:16px;
	}
div#jirei p{
	padding:0 15px 0 25px;
	line-height:1.4em;
	}
div#jirei_menu{
	width:510px;
	height:443px;
	}
#jirei_menu li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:11px;
	}
#jirei_menu01 a{
	display:block;
	width:260px;
	height:222px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:-245px 10px;
	padding-top:15px;
	}
#jirei_menu01 a:hover{
	background-position:-245px -433px;
	padding-top:15px;
	}
#jirei_menu02 a{
	display:block;
	width:244px;
	height:222px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:0 -220px;
	padding-top:15px;
	}
#jirei_menu02 a:hover{
	background-position:0 -663px;
	padding-top:15px;
	}
#jirei_menu03 a{
	display:block;
	width:250px;
	height:222px;
	background-image:url(../img/jireimenu_youshitu.jpg);
	background-position:-255px -212px;
	padding-top:15px;
	}
#jirei_menu03 a:hover{
	background-position:-255px -655px;
	padding-top:15px;
	}
#jirei_menu04 a{
	display:block;
	width:255px;
	height:222px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:-254px -220px;
	padding-top:15px;
	}
#jirei_menu04 a:hover{
	background-position:-254px -663px;
	padding-top:15px;
	}
.jirei_setumei{
	width:505px;
	border-bottom:1px dotted #666666;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-top:10px;
	}
div#jirei_menu_living{
	width:510px;
	height:443px;
	}
#jirei_menu_living li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:10px;
	}
#jirei_menu_living00 a{
	display:block;
	width:245px;
	height:216px;
	background-image:url(../img/toritukemenu_living.jpg);
	background-position:0 0;
	padding-top:10px;
	}
#jirei_menu_living00 a:hover{
	background-position:0 -443px;
	padding-top:10px;
	}
#jirei_menu_living01 a{
	display:block;
	width:260px;
	height:216px;
	background-image:url(../img/toritukemenu_living.jpg);
	background-position:-244px 0px;
	padding-top:10px;
	}
#jirei_menu_living01 a:hover{
	background-position:-244px -443px;
	padding-top:10px;
	}
#jirei_menu_living02 a{
	display:block;
	width:245px;
	height:216px;
	background-image:url(../img/toritukemenu_living.jpg);
	background-position:0 -222px;
	padding-top:15px;
	}
#jirei_menu_living02 a:hover{
	background-position:0 -665px;
	padding-top:15px;
	}
#jirei_menu_living03 a{
	display:block;
	width:260px;
	height:216px;
	background-image:url(../img/toritukemenu_living.jpg);
	background-position:-244px -222px;
	padding-top:15px;
	}
#jirei_menu_living03 a:hover{
	background-position:-244px -665px;
	padding-top:15px;
	}
#jirei_m_chousetu{
	margin-left:145px;
	}
div#jirei_menu_kichin{
	width:510px;
	height:443px;
	}
#jirei_menu_kichin li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:10px;
	}
#jirei_menu_kichin00 a{
	display:block;
	width:245px;
	height:216px;
	background-image:url(../img/gireimenu_kichin.jpg);
	background-position:0 0;
	padding-top:10px;
	}
#jirei_menu_kichin01 a:hover{
	background-position:0 -443px;
	padding-top:10px;
	}
#jirei_menu_kichin01 a{
	display:block;
	width:260px;
	height:216px;
	background-image:url(../img/gireimenu_kichin.jpg);
	background-position:-244px 0;
	padding-top:10px;
	}
#jirei_menu_kichin01 a:hover{
	background-position:-244px -443px;
	padding-top:10px;
	}
#jirei_menu_kichin02 a{
	display:block;
	width:245px;
	height:216px;
	background-image:url(../img/gireimenu_kichin.jpg);
	background-position:0 -222px;
	padding-top:15px;
	}
#jirei_menu_kichin02 a:hover{
	background-position:0 -665px;
	padding-top:15px;
	}
#jirei_menu_kichin03 a{
	display:block;
	width:260px;
	height:216px;
	background-image:url(../img/gireimenu_kichin.jpg);
	background-position:-245px -222px;
	padding-top:15px;
	}
#jirei_menu_kichin03 a:hover{
	background-position:-245px -665px;
	padding-top:15px;
	}
div#jirei_menu_washitu{
	width:510px;
	height:443px;
	}
#jirei_menu_washitu li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:10px;
	}
#jirei_menu_washitu00 a{
	display:block;
	width:245px;
	height:206px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:0 0;
	padding-top:10px;
	}
#jirei_menu_washitu00 a:hover{
	background-position:0 -443px;
	padding-top:10px;
	}	
#jirei_menu_washitu01 a{
	display:block;
	width:260px;
	height:206px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:-245px 0;
	padding-top:10px;
	}
#jirei_menu_washitu01 a:hover{
	background-position:-245px -443px;
	padding-top:10px;
	}
#jirei_menu_washitu02 a{
	display:block;
	width:244px;
	height:222px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:0 -222px;
	padding-top:15px;
	}
#jirei_menu_washitu02 a:hover{
	background-position:0 -665px;
	padding-top:15px;
	}
#jirei_menu_washitu03 a{
	display:block;
	width:260px;
	height:222px;
	background-image:url(../img/gireimenu_other.jpg);
	background-position:-245px -222px;
	padding-top:15px;
	}
#jirei_menu_washitu03 a:hover{
	background-position:-245px -665px;
	padding-top:15px;
	}
div#jirei_menu_youshitu{
	width:510px;
	height:443px;
	}
#jirei_menu_youshitu li{
	list-style:none;
	float:left;
	font-style:normal;
	font-size:10px;
	}
#jirei_menu_youshitu00 a{
	display:block;
	width:245px;
	height:216px;
	background-image:url(../img/jireimenu_youshitu.jpg);
	background-position:0 0;
	padding-top:8px;
	}
#jirei_menu_youshitu00 a:hover{
	background-position:0 -443px;
	padding-top:8px;
	}	
#jirei_menu_youshitu01 a{
	display:block;
	width:260px;
	height:216px;
	background-image:url(../img/jireimenu_youshitu.jpg);
	background-position:-250px 0;
	padding-top:8px;
	}
#jirei_menu_youshitu01 a:hover{
	background-position:-250px -443px;
	padding-top:8px;
	}
#jirei_menu_youshitu02 a{
	display:block;
	width:250px;
	height:216px;
	background-image:url(../img/jireimenu_youshitu.jpg);
	background-position:0 -222px;
	padding-top:10px;
	}
#jirei_menu_youshitu02 a:hover{
	background-position:0 -665px;
	padding-top:10px;
	}
#jirei_menu_youshitu03 a{
	display:block;
	width:255px;
	height:216px;
	background-image:url(../img/jireimenu_youshitu.jpg);
	background-position:-258px -222px;
	padding-top:10px;
	}
#jirei_menu_youshitu03 a:hover{
	background-position:-258px -665px;
	padding-top:10px;
	}
/*千葉ショールーム*/
div#s_chiba{
	width:510px;
	background-image:url(../img/chiba_showroom_titleback.jpg);
	background-repeat:no-repeat;
	background-position:325px 19px;
	margin-bottom:18px;
	}
div#s_chiba p{
	width:300px;
    margin:0 0 10px 0;
	}
.showroom_tel{
	font-size:12px;
	width:280px;
	line-height:1.3em;
	margin-right:10px;
	margin-top:12px;
	}
.showroom_map{
	line-height:1.3em;
	width:480px;
	margin-right:10px;
	margin-top:12px;
	margin-bottom:10px;
	}
div#showroom_button{
	width:520px;
	height:80px;
	padding-top:5px;
	clear:both;
	border-top:1px dotted #999999;
	}
div#showroom_button a{
	display:block;
	width:255px;
	height:34px;
	background-image:url(../img/to_form_button.gif);
	text-indent:-9999em;
	margin-left:125px;
	}
div#showroom_button a:hover{
	background-position:0 34px;
	}
div#image_shoeroom{
	width:415px;
	padding:5px 0;
	vertical-align:middle;
	margin:0 0 15px 37px;
	text-align:center;
	border:1px solid #999999;
	}
div#showroom_button{
	margin-top:18px;
	text-align:left;
	margin-bottom:10px;
	}
div#showroom_button img{
	margin:0 5px;
	}
div#gmap{
	height:320px;
	margin-top:25px;
	}
div#showroom_tokyo{
	border-bottom:1px dotted #333333;
	border-top:1px dotted #333333;
	padding:10px 0 0 0;
	margin-bottom:10px;
	}
div#s_tokyo_button{
	width:253px;
	height:35px;
	margin:5px;
	float:left;
	}
div#s_tokyo_button a{
	width:253px;
	height:35px;
	background-image:url(../img/tokyo_shpwroom_button.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}	
div#s_tokyo_button a:hover{
	background-position:0 -35px;
	}
#makerbetu{
	width:510px;
	margin:10px 0;
	text-align:center;
	}

#s_moushikomi{
	width:506px;
	height:170px;
	padding-top:29px;
	background-image:url(../img/showroom_moushikomi_back.gif);
	background-repeat:no-repeat;
	margin-bottom:0;
	margin-left:8px;
	border-bottom:1px dotted #333333;
	}

div#s_moushikomi a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:0 0 8px 115px;
	}

div#s_moushikomi a:hover{
	background-position:0 -50px;
	}

#s_moushikomi p{
	margin-left:10px;
	}

div#s_moushikomi2{
	width:520px;
	height:60px;

	padding-top:10px;
	text-align:center;
	}

div#s_moushikomi2 a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:0 0 0 0;

	}

div#s_moushikomi2 a:hover{
	background-position:0 -50px;
	}

#s_moushikomi2 p{
	margin-left:10px;
	}

div#fax_toiawase{

	border-top:1px dotted #333333;
	padding:8px 15px 40px 15px;
	width:490px;
	}


/*横浜ショールーム*/
div#s_yokohama{
	width:510px;
	background-image:url(../img/yokohama_showroom_titleback.jpg);
	background-repeat:no-repeat;
	background-position:325px 19px;
	margin-bottom:18px;
	}
div#s_yokohama p{
	width:300px;
    margin:0 0 10px 0;
	}
.showroom_tel{
	font-size:12px;
	width:280px;
	line-height:1.3em;
	margin-right:10px;
	margin-top:12px;
	}
.showroom_map{
	line-height:1.3em;
	width:480px;
	margin-right:10px;
	margin-top:12px;
	margin-bottom:10px;
	}
div#showroom_button{
	width:520px;
	height:80px;
	padding-top:5px;
	clear:both;
	border-top:1px dotted #999999;
	}
div#showroom_button a{
	display:block;
	width:255px;
	height:34px;
	background-image:url(../img/to_form_button.gif);
	text-indent:-9999em;
	margin-left:125px;
	}
div#showroom_button a:hover{
	background-position:0 34px;
	}
div#image_shoeroom{
	width:415px;
	padding:5px 0;
	vertical-align:middle;
	margin:0 0 15px 37px;
	text-align:center;
	border:1px solid #999999;
	}
div#showroom_button{
	margin-top:18px;
	text-align:left;
	margin-bottom:10px;
	}
div#showroom_button img{
	margin:0 5px;
	}
div#gmap{
	height:320px;
	margin-top:25px;
	}
div#showroom_tokyo{
	border-bottom:1px dotted #333333;
	border-top:1px dotted #333333;
	padding:10px 0 0 0;
	margin-bottom:10px;
	}
div#s_tokyo_button{
	width:253px;
	height:35px;
	margin:5px;
	float:left;
	}
div#s_tokyo_button a{
	width:253px;
	height:35px;
	background-image:url(../img/tokyo_shpwroom_button.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}	
div#s_tokyo_button a:hover{
	background-position:0 -35px;
	}
#makerbetu{
	width:510px;
	margin:10px 0;
	text-align:center;
	}

#s_moushikomi{
	width:506px;
	height:170px;
	padding-top:29px;
	background-image:url(../img/showroom_moushikomi_back.gif);
	background-repeat:no-repeat;
	margin-bottom:0;
	margin-left:8px;
	border-bottom:1px dotted #333333;
	}

div#s_moushikomi a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:0 0 8px 115px;
	}

div#s_moushikomi a:hover{
	background-position:0 -50px;
	}

#s_moushikomi p{
	margin-left:10px;
	}

#s_moushikomi2{
	width:520px;
	height:60px;
	padding-top:10px;
	text-align:center;
	}

div#s_moushikomi2 a{
	width:259px;
	height:50px;
	background-image:url(../img/flow_button.gif);
	display:block;
	text-indent:-9999em;
	margin:0 0 0 0;

	}

div#s_moushikomi2 a:hover{
	background-position:0 -50px;
	}

#s_moushikomi2 p{
	margin-left:10px;
	}

div#fax_toiawase{

	border-top:1px dotted #333333;
	padding:8px 15px 40px 15px;
	width:490px;
	}

/*東京ショールーム*/


#sroom_tokyo2 a{
	color:#990000;
	font-weight:bold;
	}	
#sroom_tokyo2 a:hover{
	color:#999999;
	}
div#showroom_chiba{
	border-bottom:1px dotted #333333;
	border-top:1px dotted #333333;
	padding:10px 0 0 0;
	margin-bottom:10px;
	margin-top:25px;
	width:510px;
	}
div#s_chiba_button{
	width:253px;
	height:35px;
	margin:5px;
	float:left;
	}
div#s_chiba_button a{
	width:251px;
	height:41px;
	background-image:url(../img/chiba_showroom_button.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}	
div#s_chiba_button a:hover{
	background-position:0 -41px;
	}


div#showroom_yokohama{

	border-top:1px dotted #333333;
	padding:10px 0 0 0;
	margin-bottom:10px;
	margin-top:25px;
	width:510px;
	}
div#s_yokohama_button{
	width:253px;
	height:35px;
	margin:5px;
	float:left;
	}
div#s_yokohama_button a{
	width:251px;
	height:41px;
	background-image:url(../img/yokohama_showroom_button.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}	
div#s_yokohama_button a:hover{
	background-position:0 -41px;
	}


/*web_tel*/
div#webtel{
	width:520px;
	background-image:url(../img/webtel_titleback.jpg);
	background-repeat:no-repeat;
	background-position:380px 10px;
	border-bottom:1px solid #999999;
	padding-bottom:15px;
	margin-bottom:19px;
	}
div#webtel_underline{
	width:350px;
	border-bottom:1px dotted #333333;
	padding-bottom:10px;
	margin-bottom:10px;
	}
div#webtel ul{
	width:330px;
	color:#990000;
	list-style:square;
	margin-left:25px;
	}
div#webtel li{
	margin:3px 0;
	}
#webtel_naiyou dt{
	color:#477EC9;
	font-size:14px;
	font-weight:bold;
	padding-left:50px;
	padding-bottom:3px;
	}
#webtel_naiyou dd{
	font-size:12px;
	padding-left:22px;
	line-height:1.3em;
	margin-bottom:9px;
	width:400px;
	}
#webtel_koumoku1{
	background-image:url(../img/webtel_koumoku1.gif);
	background-repeat:no-repeat;
	background-position:0 -2px;
	height:40px;
	}
#webtel_form{
	background-image:url(../img/webtel_waku1.gif);
	background-repeat:no-repeat;
	background-position:10px 0;
	padding:8px;
	width:430px;
	padding-left:2px;
	}
#webtel_form form{
	line-height:1.8em;
	margin-bottom:10px;
	}
.blue{
	color:#477EC9;
	}
#webtel_koumoku2{
	background-image:url(../img/webtel_koumoku2.gif);
	background-repeat:no-repeat;
	background-position:0 -2px;
	height:40px;
	}
div#webtel_setumei1{
	width:300px;
	float:left;
	padding:35px 0 25px 0;
	}
div#webtel_setumei2{
	border-bottom:1px dotted #333333;
	padding-bottom:10px;
	margin-bottom:10px;
	clear:both;
	}
div#webtel_setumei3{
	margin-bottom:20px;
	}
/*カーテン選びのいろは*/
div#iroha{
	width:520px;
	background-image:url(../img/iroha_titleback.jpg);
	background-position:370px 5px;
	background-repeat:no-repeat;
	margin-bottom:16px;
	}
div#iroha2{
	width:350px;
	padding-bottom:10px;
	margin-bottom:2px;
	}
.iroha_img{
	float:left;
	border:none;
	}
.iroha_kind{
	width:510px;
	height:143px;
	background-image:url(../img/iroha_waku.gif);
	background-repeat:no-repeat;
	font-size:12px;
	color:#666666;
	line-height:1.3em;
	}
.iroha_kind img{
	margin:15px 0 0 12px;
	}
.iroha_kind h3{
	color:#666666;
	border-bottom:1px dotted #666666;
	padding-bottom:6px;
	padding-top:24px;
	width:340px;
	float:right;
	margin-right:15px;
	}
.iroha_setumei{
	width:340px;
	float:right;
	margin-right:10px;
	margin-left:10px;
	letter-spacing:-0.05em;
	}
.iroha_kind h3 a{
	background-image:url(../img/link_icon.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:30px;
	text-decoration:underline;
	color:#666666;
	border:none;
	font-size:14px;
	}
.iroha_kind a:hover{
	color:#990000;
	}
	
/*カーテンの種類*/
div#curtain_kind{
	width:510px;
	background-image:url(../img/curtain_kind_back.jpg);
	background-repeat:no-repeat;
	background-position:392px 0;
	height:392px;
	}
div#curtain_kind h3,div#curtain_kind2 h3{
	width:370px;
	background-image:url(../img/curtain_kind_h3.gif);
	text-align:center;
	padding:13px 0 16px 0;
	font-size:16px;
	margin-bottom:10px;
	color:#333333;
	margin-top:3px;
	}	
div#curtain_kind p{
	padding-right:135px;
	line-height:1.4em;
	}
div#curtain_kind2{
	width:510px;
	}
div#curtain_kind2 h4{
	font-size:15px;
	color:#333333;
	border-bottom:1px dotted #333333;
	padding-bottom:4px;
	margin-bottom:5px;
	}
div#curtain_kind2 p{
	font-size:12px;
	line-height:1.4em;
	padding-top:12px;
	}
.kind_link{
	text-align:right;
	margin:0;
	padding:0 15px 0 0;
	}
div.curtain_kind_L{
	width:245px;
	float:left;
	}
div.curtain_kind_R{
	width:245px;
	float:right;
	margin-left:10px;
	}
/*レールの種類*/
div#rail{
	width:510px;
	background-image:url(../img/rail_titleback.jpg);
	background-repeat:no-repeat;
	background-position:392px 14px;
	height:425px;
	}
div#rail h3{
	width:370px;
	background-image:url(../img/curtain_kind_h3.gif);
	text-align:center;
	padding:13px 0 16px 0;
	font-size:16px;
	margin-bottom:10px;
	color:#666666;
	margin-top:3px;
	}	
div#rail p{
	padding-right:135px;
	line-height:1.4em;
	}
/*お部屋に合うカーテン選び*/
div#style_room{
	width:510px;
	background-image:url(../img/style_room_titleback.jpg);
	background-repeat:no-repeat;
	background-position:336px 36px;
	height:192px;
	}
div#style_room p{
	padding:8px 200px 25px 6px;
	}
div#style_room2 h3{
	color:#666666;
	font-size:17px;
	border-bottom:1px dotted #666666;
	padding-bottom:6px;
	margin-bottom:6px;
	}
div#style_room2 p{
	font-size:12px;
	line-height:1.4em;
	padding:15px 0 0 15px;
	}
/*カーテン生地のきのう*/
div#kiji_kinou{
	width:510px;
	background-image:url(../img/kiji_kinou_titleback.jpg);
	background-repeat:no-repeat;
	background-position:336px 36px;
	height:192px;
	margin-bottom:20px;
	}
div#kiji_kinou p{
	padding-right:190px;
	}
#kiji_kinou_list{
	background-color:#999999;
	border-spacing:1px;
	font-size:13px;
	line-height:1.3em;
	margin-bottom:25px;
	}
#kiji_kinou_list td{
	background-color:#FFFFFF;
	padding:5px;
	}
#kiji_kinou_list th{
	width:100px;
	text-align:center;
	background-color:#FFFFFF;
	padding:5px 0;
	}
/*カーテン装飾の種類*/
div#soushoku{
	width:510px;
	background-image:url(../img/soshoku_titleback.jpg);
	background-repeat:no-repeat;
	background-position:396px 24px;
	height:265px;
	margin-bottom:20px;
	}
div#soushoku p{
	padding-right:145px;
	}
div#soushoku h3{
	width:370px;
	background-image:url(../img/curtain_kind_h3.gif);
	text-align:center;
	padding:13px 0 16px 0;
	font-size:16px;
	margin-bottom:10px;
	color:#666666;
	margin-top:3px;
	}	
/*カーテンのお手入れ*/
div#oteire{
	width:510px;
	background-image:url(../img/oteire_titleback.jpg);
	background-repeat:no-repeat;
	background-position:336px 38px;
	height:200px;
	margin-bottom:20px;
	}
div#oteire p{
	padding-right:185px;
	}
div#oteire2{
	width:510px;
	}
.oteire2_kyouchou{
	font-size:18px;
	color:#FF6666;
	}
div#oteire2 p{
	line-height:1.4em;
	margin-bottom:15px;
	}
#oteire3{
	font-size:12px;
	margin-top:30px;
	line-height:1.3em;
	letter-spacing:-0.05em;
	margin-bottom:30px;
	}	
#oteire3 td,#oteire3 th{
	padding:5px 10px;
	}
#oteire3 td,#oteire3 td{
	width:40%;
	}	
/*縦型ブラインド*/
div#t_brind{
	width:510px;
	background-image:url(../img/tategata_brind_titleback.jpg);
	background-repeat:no-repeat;
	background-position:346px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#t_brind p{
	padding-right:175px;
	}	
div#s_gazou{
	width:470px;
	border:1px solid #666666;
	text-align:center;
	padding:5px 0;
	margin-bottom:5px;
	}
#select-gazou{
	width:520px;
}
#p_click{
	text-align:center;
	margin:10px 0;
	}	
/*横型ブラインド*/
div#y_brind{
	width:510px;
	background-image:url(../img/y_brind_titleback.jpg);
	background-repeat:no-repeat;
	background-position:345px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#y_brind p{
	padding-right:175px;
	}	
/*ダブルシェード*/
div#double_s{
	width:510px;
	background-image:url(../img/w_sherd.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#double_s p{
	padding-right:175px;
	}	
/*木製ブラインド*/
div#wood_b{
	width:510px;
	background-image:url(../img/mokuwsei_brind.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#wood_b p{
	padding-right:175px;
	}		
/*ロールスクリーン*/
div#rool{
	width:510px;
	background-image:url(../img/roll_screen.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#rool p{
	padding-right:175px;
	}	
/*プリーツスクリーン*/
div#p_screen{
	width:510px;
	background-image:url(../img/p_screen.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#p_screen p{
	padding-right:175px;
	}	
/*パネルカーテン*/
div#panel{
	width:510px;
	background-image:url(../img/panel_curtain.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#panel p{
	padding-right:175px;
	}	
/*プレーンシェード*/
div#p_shade{
	width:510px;
	background-image:url(../img/p_sherd.jpg);
	background-repeat:no-repeat;
	background-position:332px 48px;
	height:225px;
	margin-bottom:20px;
	}
div#p_shade p{
	padding-right:175px;
	}	
/*バルーンシェード*/
div#b_shade{
	width:510px;
	background-image:url(../img/b_sherd.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#b_shade p{
	padding-right:175px;
	}			
/*スカロップアーチ型*/
div#scallop_arch{
	width:510px;
	background-image:url(../img/scalap_arch.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#scallop_arch p{
	padding-right:175px;
	}
/*スカロップM型*/
div#scallop_m{
	width:510px;
	background-image:url(../img/scalapM.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#scallop_m p{
	padding-right:175px;
	}
/*センタークロス*/
div#center_cross{
	width:510px;
	background-image:url(../img/center_cros.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#center_cross p{
	padding-right:175px;
	}
/*クロスオーバー*/
div#cross_over{
	width:510px;
	background-image:url(../img/cros_over.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#cross_over p{
	padding-right:175px;
	}
/*カフェカーテン*/
div#cafe{
	width:510px;
	background-image:url(../img/cafe_curtain.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#cafe p{
	padding-right:175px;
	}
/*セパレーツ*/
div#separates{
	width:510px;
	background-image:url(../img/separates.jpg);
	background-repeat:no-repeat;
	background-position:332px 40px;
	height:220px;
	margin-bottom:20px;
	}
div#separates p{
	padding-right:175px;
	}
/*     20110118追加      */
	/*装飾レール*/
div#decoreru_s{
	width:510px;
	background-image:url(../img/reru_deco01.jpg);
	background-repeat:no-repeat;
	background-position:348px 22px;
	height:225px;
	margin-bottom:20px;
	}
div#decoreru_s p{
	padding-right:175px;
	}
	/*機能性レール*/
div#funcreru_s{
	width:510px;
	background-image:url(../img/reru_func01.jpg);
	background-repeat:no-repeat;
	background-position:348px 22px;
	height:225px;
	margin-bottom:20px;
	}
div#funcreru_s p{
	padding-right:175px;
	}
	/*アクセサリー*/
div#accereru_s{
	width:510px;
	background-image:url(../img/reru_acce01.jpg);
	background-repeat:no-repeat;
	background-position:348px 22px;
	height:225px;
	margin-bottom:20px;
	}
div#accereru_s p{
	padding-right:175px;
	}
h4.borderB{
padding:0 0 2px 0;
border-bottom-color:#000000;
border-bottom-style:dotted;
border-bottom-width:thin;
}
/*     20110118追加      */	
/*エコショップ宣言*/
.eco0{
	margin:0;
	padding:15px 0 12px 0;
	font-size:15px;
	color:#4f6b16;
	width:510px;
	font-weight:bold;
	background-image:url(../img/jirei_waku1.jpg);
	}
.eco1{
	margin:15px 0 0 45px;
	}
.eco2{
	margin:0 0 0 45px;
	}
div#ecomarce{
	width:131px;
	height:74px;
	float:left;
	margin-left:7px;
	}
div#ecomarce a{
	width:131px;
	height:74px;
	background-image:url(../img/e_comars.gif);
	background-repeat:no-repeat;
	display:block;
	text-indent:-9999em;
	}
div#ecomarce a:hover{
	background-position:0 -74px;
	}
div#e_comarce_naiyou{
	font-size:12px;
color:#333333;
	line-height:1.2em;
	width:360px;
	float:left;
	padding:10px 0 20px 0;
	}
#e_comarce_3R{
	margin:15px 0 50px 20px;
	}		
#e_comarce_3R dt{
	color:#4f6b16;
	font-size:16px;
	font-weight:bold;
	}
#e_comarce_3R dd{
	margin-left:1em;
	margin-bottom:20px;
	font-size:14px;
	color:#333333;
	line-height:1.6em;
	}
div.eco_midashi{
	width:510px;
	height:50px;
	background-image:url(../img/btob_cachi_back.jpg);
	margin-top:5px;
	padding-top:20px;
	font-size:18px;
	color:#000000;
	text-align:center;
	margin-bottom:8px;
	font-weight:800;
	}
/*見積・問い合わせ*/
div#mitumori{
	width:520px;
	background-image:url(../img/mitsumori_titleback.jpg);
	background-repeat:no-repeat;
	background-position:405px 10px;
	margin-bottom:10px;
	}
div#mitumori p{
	padding-right:145px;
	}

#button_mitumori{
	float:left;
}

#button_mitumori p{
	width:240px;
	margin:0 0 0 6px;
	padding:0;
}

#button_mitumori a{
	width:240px;
	height:50px;
	background-image:url(../img/mitumori_button.jpg);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#button_mitumori a:hover{
	background-position:0 -50px;
	}

#button_toiawase{
	float:left;
}
div#button_toiawase{

	border-top:1px dotted #333333;
	width:490px;
	}

#button_toiawase p{
	width:490px;
	margin:0 0 0 6px;
	padding:0;
}

#button_toiawase a{
	width:240px;
	height:50px;
	background-image:url(../img/toiawase_button.jpg);
	display:block;
	background-repeat:no-repeat;
	text-indent:-9999em;
	}
#button_toiawase a:hover{
	background-position:0 -50px;
	}
	
.aka-small{
	font-size:80%;
	color:#900;
}

.aka-big{
	font-size:120%;
	color:#990000;
	font-weight:bold;
}

.aka-big a{
	color:#990000;
    margin:0 0 10px 0;
}

/*インテリアコーディネート*/
div#interior{
	width:520px;
	background-image:url(../img/interior_titleback.gif);
	background-repeat:no-repeat;
	background-position:351px 58px;
	margin-bottom:10px;
	height:215px;
	}
div#interior p{
	padding-right:180px;
	}
#interior2{
	margin:28px 0 30px 5px;
	font-size:18px;
	border-bottom:1px dotted #333333;
	padding-bottom:7px;
	color:#333333;
	}
.cyousei-up {
	margin-top:20px;
}
#interior3{
	border-bottom:1px dotted #333333;
	border-top:1px dotted #333333;
	padding:15px 5px;
	line-height:1.4em;
	margin:25px 0;
	}
/*ベッドルームに合うカーテン*/
div#bedroom{
	width:520px;
	background-image:url(../img/bedroom.jpg);
	background-repeat:no-repeat;
	background-position:265px 28px;
	margin-bottom:10px;
	height:225px;
	}
div#bedroom p,div#kidsroom p,div#small p,div#living p,div#wasitu p{
	padding-right:270px;
	}
div#image_room{
	width:505px;
	border:1px solid #999999;
	text-align:center;
	padding:5px 0;
	margin-bottom:15px;
	}
div#bedroom_button{
	width:510px;
	margin:15px 0;
	margin-left:10px;
	}
div#kidsroom{
	width:520px;
	background-image:url(../img/kids_room.jpg);
	background-repeat:no-repeat;
	background-position:265px 28px;
	margin-bottom:10px;
	height:225px;
	}
div#small{
	width:520px;
	background-image:url(../img/komado.jpg);
	background-repeat:no-repeat;
	background-position:265px 28px;
	margin-bottom:10px;
	height:225px;
	}
div#living{
	width:520px;
	background-image:url(../img/living_dining.jpg);
	background-repeat:no-repeat;
	background-position:265px 28px;
	margin-bottom:10px;
	height:225px;
	}
div#wasitu{
	width:520px;
	background-image:url(../img/washitu.jpg);
	background-repeat:no-repeat;
	background-position:265px 28px;
	margin-bottom:10px;
	height:300px;
	}
/*各部屋に合うカーテン*/
div#curtain_index{
	text-align:center;
	font-size:11px;
	line-height:160%;
	margin:25px 10px;
	color:#333333;
	border-top:1px dotted #333333;
	padding-top:5px;
	}
div#curtain_index a{
	text-decoration:none;
}
/*千葉・東京フォーム*/
form {
	text-align:center;
}
form table{
	text-align:left;
	font-size:12px;
	color:#333333;
}
.t-text{
	text-align:left;
	font-size:12px;
	color:#333333;
	line-height:1.3;
}
.t-mark{
	text-align:left;
	font-size:12px;
	color:#333333;
	line-height:1.3;
}
.mail{
	margin:10px 0 20px 0;
}
/*hardprotect*/
#hardprotect-gozonji{
	background-color:#0000FF;
	margin-top:20px;
	width:484px;
	height:60px;
}
#hiketu {
	margin-top:20px;
	width:484px;
	height:180px;
	display:block;
	background-image:url(../img/hiketu-img.jpg);
	background-repeat:no-repeat;
}
#hiketu txt{
	margin-top:20px;
	width:484px;
	height:200px;
}
#hiketu p{
	margin:30px 10px 0 10px;
	width:310px;
}
#sumasarenai {
	margin-top:20px;
	width:484px;
	height:280px;
	display:block;
	background-image:url(../img/sumasarenai-img.jpg);
	background-repeat:no-repeat;
}
#sumasarenai txt{
	margin-top:20px;
	width:484px;
	height:200px;
}
#sumasarenai p{
	margin:20px 10px 0 10px;
	width:280px;
}
#merit {
	margin-top:20px;
	width:484px;
	height:230px;
	display:block;
	background-image:url(../img/merit-bg.gif);
	background-repeat:no-repeat;
}
#merit h3 {
	padding-top:30px;
	margin-left:3px;
}
#merit dl {
	margin-top:20px;
	margin-left:5px;
}
#merit dd {
	font-size:17px;
	line-height:1.8;
	font-weight:bold;
	color:#990000;
}
.muryou-txt03{
	font-size:18px;
}
#hikaku {
	margin-top:20px;
}
#hikaku table {
	font-size:12px;
	line-height:1.3;
color:#000000;
}
.hikaku-txt {
	margin-top:20px;
}
#nagare {
	width:484px;
	margin-top:20px;
}
.nagare-img {
	margin-top:20px;
}
#nagare p {
	margin-top:10px;
	line-height:1.3;
}
/*サイトマップ*/
#sitemap-link01{
	width:248px;
	float:left;
}
#sitemap-link01 h3{
	font-size:14px;
	padding: 6px 0 6px 24px;
	margin:0 0 0 5px;
	background:url(../img/link_icon.gif) no-repeat left center;
}
#sitemap-link01 h3 a{
	text-decoration: none;
	font-weight:normal;
}
#sitemap-link01 h4{
	font-size: 12px;
	padding: 4px 0 4px 24px;
	margin:0 0 0 25px;
	background:url(../img/link_icon02.gif) no-repeat left center;
}
#sitemap-link01 h4 a{
	text-decoration: none;
	font-weight:normal;
}
#sitemap-link01 h5{
	font-size: 12px;
	padding: 2px 0 2px 24px;
	margin:0 0 0 45px;
	background:url(../img/link_icon02.gif) no-repeat left center;
}
#sitemap-link01 h5 a{
	text-decoration: none;
	font-weight:normal;
}
#sitemap-link02{
	width:248px;
	float:left;
}
#sitemap-link02 h3{
	font-size:14px;
	padding: 6px 0 6px 24px;
	margin:0 0 0 5px;
	background:url(../img/link_icon.gif) no-repeat left center;
}
#sitemap-link02 h3 a{
	text-decoration: none;
	font-weight:normal;
}
#sitemap-link02 h4{
	font-size: 12px;
	padding: 4px 0 4px 24px;
	margin:0 0 0 25px;
	background:url(../img/link_icon02.gif) no-repeat left center;
}
#sitemap-link02 h4 a{
	text-decoration: none;
	font-weight:normal;
}
#sitemap-link02 h5{
	font-size: 12px;
	padding: 2px 0 2px 24px;
	margin:0 0 0 45px;
	background:url(../img/link_icon02.gif) no-repeat left center;
}
#sitemap-link02 h5 a{
	text-decoration: none;
	font-weight:normal;
}
#area-list {
	font-size:12px;
	line-height:1.3;

}
#area-list a{
	padding-left:20px;

}
.area-yajirushi {
	background-image:url(../img/link_icon02.gif);
	background-repeat:no-repeat;
	background-position:left center;
}
.area-yajirushi2 a{
	background-image:url(../img/link_icon02.gif);
	background-repeat:no-repeat;
	background-position:left center;
	line-height:1.3;

}
#news-sougou {
	width:488px;
	font-size:12px;
	margin-top:10px;
}
#news-sougou h2{
	background-image:url(../img/new-title01.gif);
	background-repeat:no-repeat;
	display:block;
	height:46px;
	text-indent:-99999px;
}
#news-sougou dl{
	margin:10px 20px;
}
#news-showroom{
	width:488px;
	font-size:12px;
	margin-top:10px;
}
#news-showroom h2{
	background-image:url(../img/new-title02.gif);
	background-repeat:no-repeat;
	display:block;
	height:46px;
	text-indent:-9999px;
}
#news-showroom dl{
	margin:10px 20px;
}
#news-saiyou{
	width:488px;
	font-size:12px;
	margin-top:10px;
}
#news-saiyou h2{
	background-image:url(../img/new-title03.gif);
	background-repeat:no-repeat;
	display:block;
	height:46px;
	text-indent:-9999px;
}
#news-saiyou dl{
	margin:10px 20px;
}
.news-yajirushi{
	background-image:url(../img/link_icon02.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:20px;
	margin-top:10px;
	display:block;
}
#original-title h2{
	background-image:url(../img/original-title.gif);
	background-repeat:no-repeat;
	display:block;
	width:484px;
	height:31px;
	margin-top:10px;
	text-indent:-99999px;
}
#original2{
	background-image:url(../img/original2.gif);
	background-repeat:no-repeat;
	display:block;
	width:484px;
	height:92px;
	margin-top:10px;
	text-indent:-99999px;
}
#original-list{
	width:484px;
	height:92px;
	margin-top:10px;
	font-size:12px;
	color:#333333;
}
#original-list ul{
	margin-left:20px;
}
#original-list li{
	background-image:url(../img/link_icon02.gif);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:20px;
	line-height:1.5;
	display:block;
	list-style-type:none;
}
#original-txt{
	width:484px;
	height:164px;
	background-image:url(../img/original-bg.jpg);
	background-repeat:no-repeat;
	display:block;
	margin-top:10px;
}
#original-txt p{
	width:284px;
	margin:0 10px;
}
#original-txt02{
	width:484px;
	margin:0 10px;
	color:#333333;
}
#original-txt02 dl{
	line-height:1.5;
}
#original-txt02 dt{
	font-size:14px;
}
#original-txt02 dd{
	font-size:12px;
}
#original-five {
	width:484px;
	height:230px;
	background-image:url(../img/original-five.gif);
	background-repeat:no-repeat;
	display:block;
	margin-top:10px;
}
#original-five span{
	text-indent:-99999px;
	display:block;
}
#original-five dl{
	padding-top:50px;
	padding-left:20px;
	padding-right:20px;
}
#original-five dd{
	font-size:14px;
	line-height:1.8;
	color:#333333;
}
#original-txt03{
	width:484px;
	color:#333333;
	margin-top:10px;
}
#original-txt03 p{
	margin:0 20px;
}
#original-price{
	width:484px;
	height:51px;
	background-image:url(../img/original-price.gif);
	background-repeat:no-repeat;
	display:block;
	margin-top:10px;
}
#original-price span{
	text-indent:-9999px;
	display:block;
}
#original-table table{
	margin-top:10px;
	text-align:center;
	color:#333333;
}
#original-table td{
	line-height:1.3;
}
.original-top {
	font-size:16px;
	margin:2px;
	color:#333333;
}
.original-td {
	font-size:14px;
	margin:2px;
	color:#333333;
}
#sub-gn {
	text-align:center;
}
#cordinater{
	height:190px;
	background-image:url(../img/cordinater.jpg);
	background-repeat:no-repeat;
	display:block;
	margin:10px 0 5px 5px;
}
#cordinater p{
	width:300px;
	margin:10px 0 0 150px;
}
#words-pan {
	width:500px;
	margin:20px 0 10px 10px;
	font-size:14px;
}
#words-pan p{
	font-size:16px;
}
#words-pan a{
	text-decoration:none;
	margin-left:4px;
	margin-right:4px;
}
#words-pan a:hover{
	text-decoration:underline;
}
#words-title {
	width:515px;
	height:75px;
	background-image:url(../img/glossary_title.gif);
	background-repeat:no-repeat;
	display:block;
}
#words-title h2 {
	text-indent:-99999px;
}
#words-sub-title {
	width:500px;
	border: 1px solid #333333;
}
#words-sub-title p{
	font-size:16px;
	font-weight:bold;
	margin:2px 4px;
}
#words-main {
	width:500px;
}
#words-main dl{
	margin-top:20px;
	margin-bottom:20px;
}
#words-main dt{
	font-size:18px;
	color:#333333;
	font-weight:bold;
	margin:16px;
}
#words-main dd{
	font-size:12px;
	color:#333333;
	margin:4px 20px 10px 20px;
	line-height:1.5;
	border-bottom: 1px solid #333333;
	padding-bottom:10px;
}
#google-map{
	width:480px;
	height:300px;
	margin-bottom:10px;
	margin-left:10px;
}
#qrcode{
	margin-left:20px;
	margin-top:10px;
	width:150px;
}
#qrcode p{
	text-align:center;
	margin-bottom:5px;
	font-size:10px;
}
#qrcode img{
	margin-left:40px;
}
.m10{
	margin:10px 0 0 0;
}
#hard-text001{
	width:230px;
	margin:10px 0;
	float:left;
}
#hard-text001 h3{
	font-size:20px;
	margin:0 0 0 10px;
	line-height:1.3;
}
#hard-img001{
	width:250px;
	margin:10px 10px 10px 0;
	float:right;
	display:inline;
}
#hard-sub-title001{
	margin:10px 10px 10px 0;
	clear:both;
}
#hard-main-img{
	margin:10px 10px 10px 0;
}
#hard-sub-title002{
	margin:10px 10px 10px 0;
}
#hard-sub-title002 p.text001{
	margin:10px 10px 10px 0;
	width:450px;
	float:left;
}
#hard-sub-title002 p.pix001{
	margin:-10px 10px 10px 0;
	width:144px;
	float:right;
	display:inline;
}
.table-c{
	border-collapse:collapse;
	border-color:#999999;
	font-size:12px;
	margin:10px 0 0 0;
}
.table-c p{
	margin:5px;
}
.cyousei-height{
	margin:5px 0;
	padding:0;
}
#showroom-funiki{
	margin:10px 0;
	line-height:1.4;
}

.showroom-guide{
	font-weight:bold;
    color:#990000;
}

/*インテリアお客様の声*/
div#i_voice a{
	width:480px;
	height:60px;
	background-image:url(../img/voice-coodinate.gif);
	display:block;
	text-indent:-9999em;
	margin:20px 0 8px 0;
	}
div#i_voice a:hover{
	background-position:0 -60px;
	}

/*ショールームお申し込みリンク*/
div#showroom-omousikomi a{
	width:480px;
	height:60px;
	background-image:url(../img/showroom-omousikomi-b.gif);
	display:block;
	text-indent:-9999em;
	margin:20px 0 8px 0;
	}
div#showroom-omousikomi a:hover{
	background-position:0 -60px;
	}
	
/*カーテンフェアバナー*/
div#fair-banner1 a{
	width:525px;
	height:60px;
	background-image:url(../img/oriental-rug.jpg);
	display:block;
	text-indent:-9999em;
	margin:5px 0 10px 0;
	}
div#fair-banner1 a:hover{
	background-position:0 -60px;
	}

div#fair-banner2 a{
	width:525px;
	height:83px;
	background-image:url(../img/fair_10072425.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#fair-banner2 a:hover{
	background-position:0 -83px;
	}

div#fair-banner3 a{
	width:525px;
	height:83px;
	background-image:url(../img/fair_10071011.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#fair-banner3 a:hover{
	background-position:0 -83px;
	}

div#fair-banner4 a{
	width:525px;
	height:104px;
	background-image:url(../img/fair_kawashima230211.jpg);
	display:block;
	text-indent:-9999em;
	margin:0px 0 10px 0;
	}
div#fair-banner4 a:hover{
	background-position:0 -104px;
	}



ul#campain{
	margin:5px 0 0 0;
	width:525px;
	list-style-type:none;
}

ul#campain li a{
	display:block;
	background:url(../img/campain1010.jpg) no-repeat left top;
	width:525px;
	height:60px;
	text-indent:-999em;
	overflow:hidden;
}

ul#campain li a:hover{
	background-position:left bottom;
}

ul#campain2{
	margin:5px 0 10px 0;
	width:525px;
	list-style-type:none;
}

ul#campain2 li a{
	display:block;
	background:url(../img/showroom_y_open.jpg) no-repeat left top;
	width:525px;
	height:60px;
	text-indent:-999em;
	overflow:hidden;
}

ul#campain2 li a:hover{
	background-position:left bottom;
}

div#original3 a{
	width:525px;
	height:60px;
	background-image:url(../img/original-3.jpg);
	display:block;
	text-indent:-9999em;
	margin:50 0 10px 0;
	}
div#original3 a:hover{
	background-position:0 -60px;
	}




ul#tassel-campain{
	margin:10px 0 0 0;
	width:513px;
	list-style-type:none;
}

ul#tassel-campain li a{
	display:block;
	background:url(../img/campain-wj.jpg) no-repeat left top;
	width:513px;
	height:120px;
	text-indent:-999em;
	overflow:hidden;
}

ul#tassel-campain li a:hover{
	background-position:left bottom;
}

/* ココオリジナル */

p#cocoOriginalTitle {
	margin: 10px 0 0 0;
	padding: 0;
	display: block;
	width: 477px;
	height: 31px;
	background: url(coco-original/../img/coco-original-title.gif) no-repeat;
	text-indent: -999em;
	overflow: hidden;
}

h2#cocoOriginal3 {
	margin: 10px 0 0 0;
	display: block;
	width: 484px;
	height: 83px;
	background: url(coco-original/../img/coco-original3.gif) no-repeat;
	text-indent: -999em;
	overflow: hidden;
}

p#mainImg {
	margin: 5px 0 0 5px;
	padding: 0;
}

ul#cocoOriginal3List {
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	list-style-type: none;
	border-bottom: 1px dotted #333;
}

ul#cocoOriginal3List li {
	margin: 12px 0 12px 30px;
	padding: 0 0 0 25px;
	background: url(coco-original/../img/listmark.gif) no-repeat left center;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

p.cocoOriginalText {
	margin: 15px 0 0 0;
	padding: 0;
	line-height: 1.4;
}

P.cocoOriginalText span {
	color: #FF0000;
}

h3#cocoOriginalSub01 {
	margin: 20px 0 0 10px;
	background: url(coco-original/../img/subtitle01.gif) no-repeat left top;
	width: 480px;
	height: 20px;
	text-indent: -999em;
	overflow: hidden;
}

dl#click {
	margin: 20px 0 0 20px;
	background: url(coco-original/../img/click-bg.gif) no-repeat left top;
	height: 81px;
	text-indent: -999em;
	overflow: hidden;
}

dl#click dd#clickBt a {
	margin: 5px 0 0 130px;
	display: block;
	background: url(coco-original/../img/click-bt.jpg) no-repeat right top;
	width: 290px;
	height: 72px;
	text-indent: -999em;
	overflow: hidden;
}

dl#click dd#clickBt a:hover {
	background-position: left bottom;
}

h3#cocoOriginalSub02{
	margin: 30px 0 0 10px;
	padding: 20px 0 0 0;
	border-top: 1px dotted #333;
}

h3#cocoOriginalSub02 span {
	display: block;
	background: url(coco-original/../img/subtitle02.gif) no-repeat left top;
	width: 480px;
	height: 20px;
	text-indent: -999em;
	overflow: hidden;
}

dl.kansou {
	margin: 15px 10px 0 10px;
	padding: 10px;
	background-color: #ffc;
	color: #333;
}

dl.kansou dt {
	margin: 0;
}

dl.kansou dd {
	margin: 5px 0 0 0;
	line-height: 1.4;
}

h3#cocoOriginalSub03 {
	margin: 30px 0 0 10px;
	padding: 20px 0 0 0;
	border-top: 1px dotted #333;
}

h3#cocoOriginalSub03 span {
	display: block;
	background: url(coco-original/../img/subtitle03.gif) no-repeat left top;
	width: 480px;
	height: 20px;
	text-indent: -999em;
	overflow: hidden;
}


h3#cocoOriginalSub04 {
	margin: 30px 0 0 10px;
	padding: 20px 0 20px 0;
	border-top: 1px dotted #333;

}

h3#cocoOriginalSub04 span {
	display: block;
	background: url(coco-original/../img/subtitle04.gif) no-repeat left top;
	width: 480px;
	height: 20px;
	text-indent: -999em;
	overflow: hidden;
}
h3#cocoOriginalSub04 p {
	margin: 5px 0 5px 0;
	border-bottom: 1px dotted #333;
}


ol#omoiList {
	margin: 10px 0 0 35px;
	padding: 0;
	color:#333;
}

ol#omoiList li {
	margin: 5px 0;
}

table#cocoOriginal03Kakaku {
	margin: 20px 0 0 10px;
	width: 95%;
	border-collapse: collapse;
	color: #333;
	font-size: 12px;
}

table#cocoOriginal03Kakaku tr td {
	border: 1px solid #333;
}

table#cocoOriginal03Kakaku tr th {
	border: 1px solid #333;
	font-weight: normal;
	background-color: #CCC;
}




/*       rug        */

div#main2 table#outline {
text-align:center;
border:#CCCCCC solid 1px;
font-size:85%;
margin:20px 0 0 5px;
}

div#main2 table#outline tr.bgcolor{
background-color:#FFFFCC;
}
div#main2 table#outline td{
border-left:#CCCCCC solid 1px;
border-bottom:#CCCCCC solid 1px;
}

div#main2 table#outline td.noborderR{
border-left:none;
}
div#main2 table#outline td.noborderB{
border-bottom:none;
}


div#main2 div#rug-button a{
	width:500px;
	height:55px;
	background-image:url(./images/button_rug.gif);
	display:block;
	text-indent:-9999em;
	margin:5px 0 10px 0;
	}
div#main2 div#rug-button a:hover{
	background-position:0 -55px;
	}

div#main2 div#maker-button a{
	width:500px;
	height:55px;
	background-image:url(./images/button_maker.gif);
	display:block;
	text-indent:-9999em;
	margin:5px 0 10px 0;
	}
div#main2 div#maker-button a:hover{
	background-position:0 -55px;
	}
	
	
div#main2 div#map-button a{
	width:500px;
	height:55px;
	background-image:url(./images/bbutton_rug.gif);
	display:block;
	text-indent:-9999em;
	margin:5px 0 10px 0;
	}
div#main2 div#map-button a:hover{
	background-position:0 -55px;
	}

div#main2 div#detail-button a{
	width:500px;
	height:55px;
	background-image:url(./images/button_detail.gif);
	display:block;
	text-indent:-9999em;
	margin:5px 0 10px 0;
	}
div#main2 div#detail-button a:hover{
	background-position:0 -55px;
	}

/*       rug-details        */

div#main2 div.detailList{
line-height:1.6;
}

div#main2 div.mT20 {
margin-top:20px;
}

div#main2 div.mB30 {
margin-bottom:30px;
}

div#main2 div p.detailLTitle {
font-size:140%;
font-weight:bold;
margin:0 0 10px 0;
}

div#main2 p.mL10 {
margin-left:10px;
}

div#main2 div.detailList ul {
list-style:none;
margin:0 0 0 15px;
}

div#main2 div.detailList ul li.mL10 {
margin-left:10px;
}

div#main2 div.detailList ul li span{
margin:0 0 0 20px;
}


div#main2 div.detailList ul li dl dt {
width:100%;
height:20px;
line-height:20px;
font-size:110%;
font-weight:bold;
margin:10px 0 0 0;
}

div#main2 div.detailList ul li dl dd {
margin:0 0 0 10px;
padding:0;
}

div#main2 div.detailList ul li dl dd ul.charge{
margin:10px 0 10px 8px;
}

div#main2 div.detailList ul li dl dd ul.charge li{
margin:5px 0 5px 0;
}

.hurry_bnr img{
 margin-left: 10px !important;
 margin-bottom: 10px;
}

.hurry_bnr a:hover{
		filter: alpha(opacity=70); 
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}


